<div id="dropdown-customer" class="custom_login  custom-login_default">  
  <div class="customer-title">
    <a href="javascript:void(0)" title="translation missing: en.cart.general.close_cart" class="close-customer close" aria-describedby="a11y-external-message">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40"><path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path></svg>
    </a>
    
    <h5>
      Customer Login
    </h5>
    
  </div>
  <div class="customer-note">
      <p>
          If you are already registered, please log in.
      </p>
  </div>
  <div class="customer-content">
    <div class="customer-inner login-customer">
      <form>
        <div class="ct-login">
          <div class="form-group">
            <label for="customer_email">
              <span>
                Email Address
              </span>
              <em>*</em>
            </label>
            <input class="form-control" type="email" value="" placeholder="">
          </div>
          <div class="form-group">
            <label for="customer_password">
              <span>
                Password
              </span>
              <em>*</em>
            </label>
            <input class="form-control" type="password" value="" placeholder="">
          </div>

          <div class="action-btn">
            <a class="text-hover forgot-password" href="javascript:void(0)">
                <span>
                     Forgot your password?
                </span>
            </a>
            <button type="submit" class="btn btn-login">Submit Query</button>
          </div>
        </div>

        <div class="ct-register">
            <p class="note_register">
                Create your account and enjoy a new shopping experience.
            </p>
          <p>
            <a href="javascript:void(0)" class="btn btn-two btn-register">
              Register
            </a>
          </p>
        </div>
        
      </form>
    </div>
    
  </div>
</div>