{% assign featuredImage =  collection.featured_image %}
{% if collectionImage != blank %}
{% assign featuredImage =  collectionImage %}
{% endif %}
<li class="collection-list__item col-12 col-sm-6 col-md-4 col-lg-4"  {{ block.shopify_attributes }}>
  <div class="collection-card-box card animate-arrow{% if collection.featured_image != blank %} card--media{% else %}{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}{% endif %}{% unless section.settings.image_padding %} card--light-border{% endunless %}" >
    <a href="{{ collection.url }}" class="collection-featured-img">
      {%- if featuredImage != blank -%}
      {% render 'lazy-image' image: collection.featured_image %}
      {% else %}
      {{ 'collection1.svg' | asset_url | img_tag }}
      {% endif %}
    </a>
    <div class="card__text card__text-spacing card__text-hover collection-card">
      <h4 class="collection-title">{{- collection.title -}}</h4>
     
    </div>
  </div>
</li>