<localization-form>
  {% form 'localization' %}
  <div class="currency-block">
    <div class="disclosure btn-group currency-dropdown">
      <button type="button" class="disclosure__button dropdown-toggle dropdown-label" aria-expanded="false" aria-controls="CountryList">
        {{ localization.country.currency.iso_code }}
      </button>

      <ul id="CountryList" role="list" class="disclosure__list dropdown-menu currency-menu" hidden>
        {% for country in localization.available_countries %}
          <li class="disclosure__item dropdown-item" tabindex="-1">
            <a href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
              {{ country.currency.iso_code }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
    </div>
  </div>
  {% endform %}
</localization-form>
<!-- <div class="btn-group currency-dropdown">
        <label class="dropdown-toggle dropdown-label" data-language-label="">AUD</label>
        <div class="dropdown-menu currency-menu" id="currencies" style="display: none;">
          <a class="dropdown-item" href="javascript:void(0)" data-currency="aud"><span class="text">AUD</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="cad"><span class="text">CAD</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="dkk"><span class="text">DKK</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="gbp"><span class="text">GBP</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="hkd"><span class="text">HKD</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="jpy"><span class="text">JPY</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="nzd"><span class="text">NZD</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="sek"><span class="text">SEK</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="sgd"><span class="text">SGD</span></a>
          <a class="dropdown-item" href="javascript:void(0)" data-currency="usd"><span class="text">USD</span></a>
        </div>
      </div> -->

<script>
class LocalizationForm extends HTMLElement {
  constructor() {
    super();
    this.elements = {
      input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
      button: this.querySelector('button'),
      panel: this.querySelector('ul'),
    };
    this.elements.button.addEventListener('click', this.openSelector.bind(this));
    this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
    this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

    this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
  }

  hidePanel() {
    this.elements.button.setAttribute('aria-expanded', 'false');
    this.elements.panel.setAttribute('hidden', true);
  }

  onContainerKeyUp(event) {
    if (event.code.toUpperCase() !== 'ESCAPE') return;

    this.hidePanel();
    this.elements.button.focus();
  }

  onItemClick(event) {
    event.preventDefault();
    const form = this.querySelector('form');
    this.elements.input.value = event.currentTarget.dataset.value;
    if (form) form.submit();
  }

  openSelector() {
    this.elements.button.focus();
    this.elements.panel.toggleAttribute('hidden');
    this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
  }

  closeSelector(event) {
    const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
    if (event.relatedTarget === null || shouldClose) {
      this.hidePanel();
    }
  }
}

customElements.define('localization-form', LocalizationForm);
</script>