{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign images = product.media | where: "media_type", "image" -%}
{%- assign second_image = '' -%}
{%- if images.size > 1 -%}
{%- for image in images -%}
{%- unless image.src == product.featured_image.src -%}
{%- assign second_image = image.src -%}
{%- break -%}
{%- endunless -%}
{%- endfor -%}
{%- endif -%}
<div class="yv-product-card {{productClasses}}" {{mainAttr}}>
  <div class="yv-product-card-img {% unless settings.show_second_image == false or second_image == blank %}has-multiimage{% endunless %}">
    <a class="yv-product-img" href="{{product.url | within : collection}}">
        {%- if product.featured_image != blank -%}
        {%- render 'lazy-image' image: product.featured_image -%}
        {%- unless settings.show_second_image == false or second_image == blank -%}          
        {%- render 'lazy-image' image: second_image ,class:'product-second-img' -%}
        {%- endunless -%} 
        {%- else -%}
        {%- render 'placeholder' -%}
        {%- endif -%}
    </a>
    <ul class="yv-product-options">
      <li>
        <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
        </a>
      </li>
    </ul>      
    <div class="similar_options" data-url="">
      <span class="vs-icon text-true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
        <g>
          <path d="M12,2.5H6c-0.7,0-1.3,0.6-1.3,1.3v10.5c0,0.7,0.6,1.3,1.3,1.3h6c0.7,0,1.3-0.6,1.3-1.3V3.7   C13.2,3.1,12.7,2.5,12,2.5z M12.2,3.7v10.5c0,0.1-0.1,0.2-0.2,0.2H6c-0.1,0-0.2-0.1-0.2-0.2V3.7c0-0.1,0.1-0.2,0.2-0.2h6   C12.1,3.5,12.2,3.6,12.2,3.7z"/>
          <path d="M3.5,14c-0.1,0-0.3,0-0.3-0.2L1,6.2C1,6.1,1,6.1,1,6c0,0,0.1-0.1,0.1-0.1l2.7-0.7v-1L0.9,5   C0.6,5.1,0.3,5.3,0.2,5.5C0,5.8,0,6.1,0,6.4l2.2,7.7C2.4,14.6,2.9,15,3.4,15c0.1,0,0.2,0,0.3-0.1l0.2-0.1v-1L3.5,14L3.5,14z"/>
          <path d="M17.1,5l-3-0.8v1l2.7,0.7c0.1,0,0.1,0,0.1,0.1c0,0,0,0.1,0,0.2l-2.1,7.7c0,0.1-0.2,0.2-0.3,0.2l-0.4-0.1v1   l0.1,0.1c0.1,0,0.2,0.1,0.4,0.1c0.5,0,1-0.3,1.2-0.9L18,6.4l0-0.1C18.1,5.8,17.7,5.2,17.1,5z"/>
        </g>
        </svg><span class="similar-text">Similar Products</span>
      </span>
    </div>
    <div class="yv-product-badge sold-badge">
      Sold Out
    </div> 
  </div>
  <div class="yv-product-information">
    <div class="ratingbox" >
      <span class="shopify-product-reviews-badge"></span>
    </div>
    <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
    <div class="yv-prizebox">
      <span class="yv-product-price">$1,100.00</span>
      <span class="yv-product-compare-price"> $1,190.00</span>
      <span class="yv-product-percent-off"> 50% Off</span>
    </div>
  </div>
</div> 