 <div class="container">
    <div class="yv-deal-content">
      <h2 class="yv-deal-banner-title text-center">Deal of the week</h2>
      <div id="dealCountdown" class="deal-countdown ">
        <ul class="deal-counter-box center-countdown">
          <li class="deal-counter"><span id="dDays"></span></li>
          <li class="deal-counter"><span id="dHours"></span></li>
          <li class="deal-counter"><span id="dMinutes"></span></li>
          <li class="deal-counter"><span id="dSeconds"></span></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="yv-deal-product big-deal-product">
            <div class="yv-deal-product-img">
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/small-black-backpack-no-bg.png?v=1645182238" alt=""/>
            </div>
            <div class="yv-product-information deal-product-information">
              <div class="ratingbox">
                <span class="shopify-product-reviews-badge" data-id=""></span>
              </div>
              <a href="#" class="yv-product-title" title="" tabindex="0">Full Sleeve Solid Women</a>
              <div class="yv-prizebox" data-saved="true" data-saved-style="percentage" data-price-wrapper="">
                <span class="yv-product-price">$1,100.00</span>
                <span class="yv-product-compare-price"> $1,190.00</span>
                <span class="yv-product-percent-off"> 50% Off</span>
              </div>
              <ul class="yv-testimonial-reviews ratingbox">
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li></ul>
              <a href="#" class="button small-btn">ADD TO CART</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="yv-deal-product small-deal-product">
            <div class="yv-deal-product-img">
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/small-black-backpack-no-bg.png?v=1645182238" alt=""/>
            </div>
            <div class="yv-product-information deal-product-information">
              <a href="#" class="yv-product-title" title="" tabindex="0">Full Sleeve Solid Women</a>
              <div class="yv-prizebox" data-saved="true" data-saved-style="percentage" data-price-wrapper="">
                <span class="yv-product-price">$1,100.00</span>
                <span class="yv-product-compare-price"> $1,190.00</span>
              </div>
              <ul class="yv-testimonial-reviews ratingbox">
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li></ul>
              <a href="#" class="button small-btn">ADD TO CART </a>
            </div>
          </div>
          <div class="yv-deal-product small-deal-product">
            <div class="yv-deal-product-img">
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/small-black-backpack-no-bg.png?v=1645182238" alt=""/>
            </div>
            <div class="yv-product-information deal-product-information">
              <a href="#" class="yv-product-title" title="" tabindex="0">Full Sleeve Solid Women</a>
              <div class="yv-prizebox" data-saved="true" data-saved-style="percentage" data-price-wrapper="">
                <span class="yv-product-price">$1,100.00</span>
                <span class="yv-product-compare-price"> $1,190.00</span>
              </div>
              <ul class="yv-testimonial-reviews ratingbox">
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li>
                <li>
                  <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                    <path id="Layer" fill-rule="evenodd" fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z"></path>
                  </svg>
                </li></ul>
              <a href="#" class="button small-btn">ADD TO CART </a>
            </div>
          </div>
        </div>
      </div>
      <div class="yv-deal-view-button">
        <a href="" class="button med-btn">View Detail</a>
      </div>
    </div>
  </div>