<div class="top-header sticky-header header_2">
  <div id="nav_style_3" class="nav-top-header">
    <div class="container">
      <div class="navigation__header">
        {%- if section.settings.menu != blank -%}
        <div id="nav-menu-btn"  class="nav-menu-btn {{mobileMenu}}">
          <div class="nav__btn">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          {% include 'side-menu' mobileMenu:true %}
        </div>
        {%- endif -%}
        <a class="header__heading-link" href="{{ routes.root_url }}" aria-label="{{shop.name}}">
          {%- if section.settings.logo != blank -%}
                {%- assign image_size = section.settings.logo_width -%}
              {% render 'lazy-image' image:section.settings.logo,class:'Yuva-logo',max_width:image_size %}  
          {% else %}
          <span class="h2">{{ shop.name }}</span>
          {% endif %}
        </a>
        <div class="form-inline header-right">
          {% include 'header-icons' %}
        </div>
      </div>
    </div>
  </div>
  {%- if section.settings.menu != blank -%}
  <div class="nav__header nav_2">
    <div class="container">
      <div class="navbar navbar-expand-md">
          <ul class="navbar-nav mr-auto list-menu list-menu--inline">								
            {% include 'nav-item' %}
          </ul>
      </div>
    </div>
  </div>
  {%- endif -%}
</div>