<div class="header__icons">
  {% if section.settings.show_search %}
  <div class="search-form" data-search-drawer="{% if settings.search_style == 'full' %}addsearch{% elsif settings.search_style == 'auto' %}small_search{% endif %}">
    <a class="btn icon-search">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.07 22.06">
       <g id="Layer_2" data-name="Layer 2">
         <g id="Layer_1-2" data-name="Layer 1">
           <path d="M21.89,21l-6.05-6a9.06,9.06,0,1,0-.88.88l6,6a.66.66,0,0,0,.44.18A.63.63,0,0,0,21.89,21ZM9,16.82A7.79,7.79,0,1,1,16.82,9,7.79,7.79,0,0,1,9,16.82Z"/>
         </g>
       </g>
      </svg>
    </a>


  </div>
  {% endif %}
  <div class="wrapper-top-cart">
    <a href="{{routes.cart_url}}" title="Cart" class="cart-icon {% if settings.enable_cart_drawer and template != 'cart'%}openCartDrawer{% endif %}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.14 22.48">
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <path d="M20.12,19.82,18.7,6.7a.89.89,0,0,0-.92-.83H15V5A5,5,0,0,0,10.07,0h0A5,5,0,0,0,5.12,5v.92H2.39a.91.91,0,0,0-.94.82L0,19.84c0,.1,0,.2,0,.25a2.41,2.41,0,0,0,2.41,2.39H18A2.39,2.39,0,0,0,20.12,19.82ZM6.4,5a3.67,3.67,0,0,1,3.67-3.68h0A3.69,3.69,0,0,1,13.75,5v.92H6.4ZM18.62,20.79a1.15,1.15,0,0,1-.69.41H2.41a1.13,1.13,0,0,1-1.13-1.12.53.53,0,0,0,0-.12L2.68,7.14H17.46L18.86,20A1.17,1.17,0,0,1,18.62,20.79Z"/>
          </g>
        </g>
      </svg>
      <span class="cartCount" data-cart-count=""{% if cart.item_count == 0 %}style="display:none"{% endif %}>
      </span>
    </a>
  </div>
  {% if shop.customer_accounts_enabled %}                      
  <div class="customer-links">
    <a class="acc-links text-hover acc-sign-in" id="customer_login_link" href="{%- if customer -%}{{-routes.account_url-}}{%-else-%}{{routes.account_login_url}}{%-endif-%}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.1 22.43">
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1"><path d="M19.36,22.43a.74.74,0,0,1-.74-.74V19.36a3.92,3.92,0,0,0-3.92-3.92H5.39a3.92,3.92,0,0,0-3.91,3.92v2.33a.74.74,0,0,1-1.48,0V19.36A5.4,5.4,0,0,1,5.39,14H14.7a5.4,5.4,0,0,1,5.4,5.39v2.33A.74.74,0,0,1,19.36,22.43Z"/>
            <path d="M10.05,10.79a5.4,5.4,0,1,1,5.39-5.4A5.4,5.4,0,0,1,10.05,10.79Zm0-9.31A3.92,3.92,0,1,0,14,5.39,3.92,3.92,0,0,0,10.05,1.48Z"/>
          </g>
        </g>
      </svg>
    </a>
  </div>
  {% endif %}
  {% if section.settings.show_currency %}
  <div class="select-language">
    {% include 'currency' %}
  </div>
  {% endif %}
</div>