<!-- colection slider section start -->
<section class="collection-list-section">
  <div class="section-spacer">
    <div class="yv-collection-wrapper">
      <div class="yv-collections-text-outer">
        <div class="yv-collections-text">
          <h5 class="yv-collections-subtitle">Collection List</h5>
          <h2 class="yv-collections-title">Every Cloud Intsia Knit Jumper</h2>
          <p class="yv-collections-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          <a class="button" href="#">shop now</a>
        </div>
      </div>
      <div class="yv-collection-slider" data-slider>
        <div class="yv-collection-list">
          <a href="#" class="yv-collection-item">
            {%- include 'lazy-image' image:block.settings.image -%}
            <div class="yv-collection-name">
              <h4>Women Life Colections</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- colection slider section end -->