<!-- colection slider section start -->
<section class="collection-list-section shopify-section">
  <div class="section-spacer">
    <div class="yv-collection-wrapper">
      <div class="yv-collections-text-outer">
        <div class="yv-collections-text">
          <h5 class="yv-collections-subtitle">Collection List</h5>
          <h2 class="yv-collections-title">Every Cloud Intsia Knit Jumper</h2>
          <p class="yv-collections-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          <a class="button" href="#">shop now</a>
        </div>
      </div>
      <div class="yv-collection-slider" data-slider>
          <a href="#" class="yv-collection-item">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection1.png?v=1645004597" alt="" />
            <div class="yv-collection-name">
              <h4>Women Life Colections</h4>
            </div>
          </a>
        <a href="#" class="yv-collection-item">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection1.png?v=1645004597" alt="" />
            <div class="yv-collection-name">
              <h4>Women Life Colections</h4>
            </div>
          </a>
        <a href="#" class="yv-collection-item">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection1.png?v=1645004597" alt="" />
            <div class="yv-collection-name">
              <h4>Women Life Colections</h4>
            </div>
          </a>
        <a href="#" class="yv-collection-item">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection1.png?v=1645004597" alt="" />
            <div class="yv-collection-name">
              <h4>Women Life Colections</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  <script type="application/json" name="slider-json">
         {
          "slidesToShow":3,
          "slidesToScroll":1,
          "infinite": false,
          "centerMode":true,
            "speed": 1000,
            "centerPadding":0,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\" aria-label=\"Prev\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\" aria-label=\"Next\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></span></button>",
          "responsive":[
          	{
            "breakpoint": 768,
                "settings": {
                    "dots":true,
                    "arrows":false,
                    "draggable":true
                  }
            }
          ]
        }
</script>
</section>
<!-- colection slider section end -->