{% form 'localization' %}
  <div class="disclosure btn-group dropup">
    <button type="button" class="disclosure__button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="LanguageList">
      {{ localization.language.endonym_name | capitalize }}

      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"/>
      </svg>
    </button>

    <div class="dropdown-menu">
      <select id="LanguageList" name="language_code" role="list" class="disclosure__list">
        {% for language in localization.available_languages %}
        <option class="disclosure__item" {% if language.iso_code == localization.language.iso_code %}selected{% endif %}>
            {{ language.endonym_name | capitalize }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endform %}
<script>
</script>