{% form 'localization' %}
  <div class="disclosure btn-group dropup">
    <div class="dropdown-menu">
      <select id="LanguageList" name="language_code" role="list" class="disclosure__list">
        {% for language in localization.available_languages %}
        <option class="disclosure__item" value="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}selected{% endif %}>
            {{ language.endonym_name | capitalize }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endform %}
<script>
  var languageList =  document.getElementById('LanguageList');
  if(languageList){
    languageList.addEventListener('change', ()=>{	
                                  var form = languageList.closest('form');
    form.submit()
  })
  }
</script>