{% for block in section.blocks %}
{% assign blockPosition = block.settings.position | plus:0 %}
{% if blockPosition == menuIndex %}

{% case block.type %}
{% when 'product' %}

<div class="sub-menu-list">
  {% if block.settings.product != blank %}
  {% include 'product-grid' product:block.settings.product,hide_options:true,hideRelated:true,hideQuickView:true %}
  {% endif %}
</div>
{% when 'collection' %}
{% if block.settings.collection != blank %}
{% for product in block.settings.collection.products limit:block.settings.products %}

<div class="sub-menu-list">
  {% include 'product-grid' hide_options:true,hideRelated:true,hideQuickView:true %}
</div>
{% endfor %}
{% endif %}

{% when 'image' %}
{% if block.settings.image != blank and block.settings.heading != blank %}

<div class="sub-menu-list">
</div>
{% endif %}
{% endcase %}  


{% endif %}
{% endfor %}