{% for block in section.blocks %}
{% if block.settings.position == menuIndex %}

<div class="sub-menu-list">
  {% case block.type %}
  {% when 'product' %}
  ss
  {% if block.settings.product != blank %}
   {% include 'product-grid' product:block.settings.product,hide_options:true,hideRelated:true,hideQuickView:true %}
  {% endif %}
  {% when 'collection' %}
  {% if block.settings.collection != blank %}
  {% for product in block.settings.collection.products limit:block.settings.products %}
   {% include 'product-grid' product:block.settings.product,hide_options:true,hideRelated:true,hideQuickView:true %}
  {% endfor %}
  {% endif %}
  {% endcase %}
</div>

{% endif %}
{% endfor %}