<div id="mini__cart" class="mini_cart">  
  <div class="cart-product-title">
    <a href="javascript:void(0)" title="translation missing: en.cart.general.close_cart" class="close-customer close" aria-describedby="a11y-external-message">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40"><path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path></svg>
    </a>
    <h5>
       2 item in your cart
    </h5>
  </div>
<div class="cart-item-container">
	<div class="media-link">
		<img src="https://cdn.shopify.com/s/files/1/0331/0108/6851/products/pro_2_92fa1b8a-812a-4ed0-b40d-9160713810d8.png" alt="Sports Shoes Footwear Fashion" width="65" height="73">
		<div class="media-body">
			<h5 class="cart-item-link">
				<a href="https://yuva-fashion-theme.myshopify.com/products/maroon-top?variant=32020878655619">Sports Shoes Footwear Fashion</a>
			</h5>
			<span class="variant_title">S / Red</span>
			<div class="right-media-cart">
				<div class="quantity">
					<input type="number" min="1" max="9" step="1" value="1">
					<div class="quantity-nav">
						<div class="quantity-button quantity-up"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve"><polygon points="100.1,37.2 63.5,37.2 63.5,0.5 39.1,0.5 39.1,37.2 2.4,37.2 2.4,61.6 39.1,61.6 39.1,98.3 63.5,98.3 63.5,61.6 100.1,61.6 "></polygon></svg></div>
						<div class="quantity-button quantity-down"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve"><polyline points="63.3,61.6 102,61.6 102,37.2 63.3,37.2 "></polyline><polyline points="78.7,37.2 0.1,37.2 0.1,61.6 78.7,61.6 "></polyline></svg></div>
					</div>
				</div>
				<h6>$750.00</h6>
			</div>
		</div>
		<svg class="sd_mini_removeproduct" line="1" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11"><path id="Forma_1" data-name="Forma 1" d="M1873.46,42.5l4.32-4.328a0.687,0.687,0,1,0-.97-0.973l-4.32,4.328-4.32-4.328a0.687,0.687,0,1,0-.97.973l4.32,4.328-4.32,4.329a0.688,0.688,0,0,0,.49,1.175,0.674,0.674,0,0,0,.48-0.2l4.32-4.329,4.32,4.329a0.7,0.7,0,0,0,.49.2,0.674,0.674,0,0,0,.48-0.2,0.686,0.686,0,0,0,0-.973Z" transform="translate(-1867 -37)"></path>
		</svg>
	</div>
	<div class="media-link">
		<img src="https://cdn.shopify.com/s/files/1/0331/0108/6851/products/pro_2_92fa1b8a-812a-4ed0-b40d-9160713810d8.png" alt="Sports Shoes Footwear Fashion" width="65" height="73">
		<div class="media-body">
			<h5 class="cart-item-link">
				<a href="https://yuva-fashion-theme.myshopify.com/products/maroon-top?variant=32020878655619">Sports Shoes Footwear Fashion</a>
			</h5>
			<span class="variant_title">S / Red</span>
			<div class="right-media-cart">
				<div class="quantity">
					<input type="number" min="1" max="9" step="1" value="1">
					<div class="quantity-nav">
						<div class="quantity-button quantity-up"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve"><polygon points="100.1,37.2 63.5,37.2 63.5,0.5 39.1,0.5 39.1,37.2 2.4,37.2 2.4,61.6 39.1,61.6 39.1,98.3 63.5,98.3 63.5,61.6 100.1,61.6 "></polygon></svg></div>
						<div class="quantity-button quantity-down"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve"><polyline points="63.3,61.6 102,61.6 102,37.2 63.3,37.2 "></polyline><polyline points="78.7,37.2 0.1,37.2 0.1,61.6 78.7,61.6 "></polyline></svg></div>
					</div>
				</div>
				<h6>$750.00</h6>
			</div>
		</div>
		<svg class="sd_mini_removeproduct" line="1" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11"><path id="Forma_1" data-name="Forma 1" d="M1873.46,42.5l4.32-4.328a0.687,0.687,0,1,0-.97-0.973l-4.32,4.328-4.32-4.328a0.687,0.687,0,1,0-.97.973l4.32,4.328-4.32,4.329a0.688,0.688,0,0,0,.49,1.175,0.674,0.674,0,0,0,.48-0.2l4.32-4.329,4.32,4.329a0.7,0.7,0,0,0,.49.2,0.674,0.674,0,0,0,.48-0.2,0.686,0.686,0,0,0,0-.973Z" transform="translate(-1867 -37)"></path>
		</svg>
	</div>
</div>
<div class="bottom-cart-box">
<ul>
<li class="totle-title">Subtotal</li>
<li class="totle-price">$750.00</li>
</ul>
<div class="cart-btn-container">
<a href="/cart" class="view-cart-btn button black-btn">View Cart</a>
<a href="/checkout" class="checkout-btn button black-btn">Checkout</a>
</div>
<p class="bottom-p">Shipping &amp; taxes calculated at checkout</p>
</div>
</div>