<div class="nodatafound_wrapper">
  <div class="nodatafound_box">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="330.5px" height="197.1px" viewBox="0 0 330.5 197.1" style="enable-background:new 0 0 330.5 197.1;" xml:space="preserve">
      <style type="text/css">
        .st01{fill:none;}
        .st11{fill:#F2E9DD;}
        .st21{fill:#ECECEC;}
        .st31{fill:#F9F5EF;}
        .st41{fill:#E2CFB7;}
      </style>
      <g>
        <path class="st01" d="M80.9,140.9c0,1.2,1,2.2,2.2,2.2s2.2-1,2.2-2.2c0-1.2-1-2.2-2.2-2.2S80.9,139.7,80.9,140.9z"/>
        <path class="st01" d="M192.8,12.6c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6   C191.2,11.8,191.9,12.6,192.8,12.6z"/>
        <path class="st01" d="M75.9,69c3.2,0,5.8-2.6,5.8-5.8c0-3.2-2.6-5.8-5.8-5.8c-3.2,0-5.8,2.6-5.8,5.8C70.1,66.4,72.7,69,75.9,69z"/>
        <path class="st11" d="M250.3,117.8c4,0,7.2-3.2,7.2-7.2s-3.2-7.2-7.2-7.2s-7.2,3.2-7.2,7.2S246.3,117.8,250.3,117.8z"/>
        <path class="st21" d="M75.9,71.9c4.8,0,8.6-3.9,8.6-8.6s-3.9-8.6-8.6-8.6c-4.8,0-8.6,3.9-8.6,8.6S71.2,71.9,75.9,71.9z M75.9,57.4   c3.2,0,5.8,2.6,5.8,5.8c0,3.2-2.6,5.8-5.8,5.8c-3.2,0-5.8-2.6-5.8-5.8C70.1,60,72.7,57.4,75.9,57.4z"/>
        <path class="st21" d="M192.8,15.4c2.5,0,4.5-2,4.5-4.5c0-2.5-2-4.5-4.5-4.5s-4.5,2-4.5,4.5C188.4,13.4,190.4,15.4,192.8,15.4z    M192.8,9.3c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6C191.2,10.1,191.9,9.3,192.8,9.3z"/>
        <path class="st21" d="M79.3,140.9c0,2.1,1.7,3.9,3.9,3.9c2.1,0,3.9-1.7,3.9-3.9c0-2.1-1.7-3.9-3.9-3.9   C81,137.1,79.3,138.8,79.3,140.9z M85.4,140.9c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2S85.4,139.7,85.4,140.9z"/>
        <path class="st31" d="M193.9,170.5c0-8,6.5-14.4,14.4-14.4h20V43.5c0-5.1-4.1-9.2-9.2-9.2H111.8c-5.1,0-9.2,4.1-9.2,9.2v135.8   c0,5.1,4.1,9.2,9.2,9.2h82V170.5z M117.2,48.6c0-1.1,0.9-2,2-2h87.5c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-87.5   C118.1,50.6,117.2,49.7,117.2,48.6L117.2,48.6z M194,86.9c0,2.2-1.8,4-4,4c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4   C192.1,82.9,194,84.7,194,86.9z M183.9,120c-0.3,0.3-0.7,0.4-1.1,0.4c-0.5,0-0.9-0.2-1.2-0.6c-0.1-0.1-6-6.8-16.7-6.8   c-9.4,0-15.5,6.7-15.5,6.8c-0.6,0.7-1.6,0.7-2.3,0.1c-0.7-0.6-0.7-1.6-0.1-2.3c0.3-0.3,7.1-7.9,18-7.9c12.3,0,18.9,7.6,19.2,7.9   C184.6,118.4,184.6,119.4,183.9,120z M117.2,56c0-1.1,0.9-2,2-2h24.6c1.1,0,2,0.9,2,2v0c0,1.1-0.9,2-2,2h-24.6   C118.1,58,117.2,57.1,117.2,56L117.2,56z M145.1,86.9c0,2.2-1.8,4-4,4c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4   C143.3,82.9,145.1,84.7,145.1,86.9z M119.2,142.9h87.5c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2h-87.5c-1.1,0-2-0.9-2-2   C117.2,143.8,118.1,142.9,119.2,142.9z M143.7,154.3h-24.6c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2h24.6c1.1,0,2,0.9,2,2   C145.7,153.4,144.8,154.3,143.7,154.3z"/>
        <path class="st31" d="M199.1,170.5V185l25.2-23.8h-16C203.2,161.3,199.1,165.4,199.1,170.5z"/>
        <path class="st41" d="M185.9,86.9c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4C187.7,82.9,185.9,84.7,185.9,86.9z"/>
        <path class="st41" d="M137,86.9c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4C138.8,82.9,137,84.7,137,86.9z"/>
        <path class="st41" d="M164.9,109.8c-10.8,0-17.7,7.6-18,7.9c-0.6,0.7-0.5,1.7,0.1,2.3c0.7,0.6,1.7,0.5,2.3-0.1   c0.1-0.1,6.1-6.8,15.5-6.8c10.7,0,16.7,6.7,16.7,6.8c0.3,0.4,0.8,0.6,1.2,0.6c0.4,0,0.7-0.1,1.1-0.4c0.7-0.6,0.8-1.6,0.2-2.3   C183.8,117.4,177.1,109.8,164.9,109.8z"/>
        <path class="st11" d="M119.2,50.6h87.5c1.1,0,2-0.9,2-2l0,0c0-1.1-0.9-2-2-2h-87.5c-1.1,0-2,0.9-2,2l0,0   C117.2,49.7,118.1,50.6,119.2,50.6z"/>
        <path class="st11" d="M119.2,58h24.6c1.1,0,2-0.9,2-2v0c0-1.1-0.9-2-2-2h-24.6c-1.1,0-2,0.9-2,2v0C117.2,57.1,118.1,58,119.2,58z"/>
        <path class="st11" d="M119.2,146.9h87.5c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2h-87.5c-1.1,0-2,0.9-2,2C117.2,146,118.1,146.9,119.2,146.9   z"/>
        <path class="st11" d="M143.7,150.3h-24.6c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h24.6c1.1,0,2-0.9,2-2   C145.7,151.2,144.8,150.3,143.7,150.3z"/>
        <path class="st11" d="M245.7,153.1c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8h-1.8v1.7H245.7z"/>
        <path class="st11" d="M240.5,153.1h1.8v-1.7h-1.8c-0.5,0-0.8,0.4-0.8,0.8C239.7,152.8,240,153.1,240.5,153.1z"/>
        <path class="st11" d="M242.3,154.9c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8v-1.8h-1.7V154.9z"/>
        <path class="st11" d="M243.9,149.7c0-0.5-0.4-0.8-0.8-0.8c-0.5,0-0.8,0.4-0.8,0.8v1.8h1.7V149.7z"/>
        <rect x="242.3" y="151.5" class="st11" width="1.7" height="1.7"/>
        <path class="st11" d="M125.4,24.2h1.8v-1.7h-1.8c-0.5,0-0.8,0.4-0.8,0.8C124.6,23.8,124.9,24.2,125.4,24.2z"/>
        <path class="st11" d="M130.6,24.2c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8h-1.8v1.7H130.6z"/>
        <path class="st11" d="M128.8,20.7c0-0.5-0.4-0.8-0.8-0.8c-0.5,0-0.8,0.4-0.8,0.8v1.8h1.7V20.7z"/>
        <path class="st11" d="M127.2,26c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8v-1.8h-1.7V26z"/>
        <rect x="127.2" y="22.5" class="st11" width="1.7" height="1.7"/>
        <path class="st31" d="M321.6,188.5H193.9h-82H9.6c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1h312c0.6,0,1.1-0.5,1.1-1.1   C322.7,189,322.2,188.5,321.6,188.5z"/>
      </g>
    </svg>
    {% if template == 'search' %}    
    <h4>{{ 'templates.search.no_results_simple' | t }}</h4>    
    {% else %}
    <h3>No {{item}} Found</h3>
    {% endif %}
  </div>
</div>