<div class="nodatafound_wrapper">
  <div class="nodatafound_box">
    <img src="{{'not-found.png' | asset_url}}" alt=""/>
    {% if template == 'search' %}    
    <h3>{{ 'templates.search.no_results' | t: terms: search.terms }}</h3>    
    <p>{{ 'templates.search.no_results_sub' | t }}</p>
    {% else %}
    <h3>No {{item}} Found</h3>
    {% endif %}
  </div>
</div>