<!-- image with text section start -->
<section class="shopify-section image-text-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="yv-text-content">
            <h6 class="yv-text-subtitle">Premium Comfort</h6>
            <h2 class="yv-text-title">Give a little love &amp; joy this christmas.</h2>
            <p class="yv-text-desc">
              Lorem ipsum dolor sit amet, vadipiscing elit. In vehicula lorem sed leo varius, nec cursus augue maximus. Vivamus lacinia lacus leo, nec venenatis mi cursus sit amet. Vestibulum sit amet tellus ipsum.
            </p>
            <p class="yv-text-desc">
              Vivamus pellentesque quam non metus gravida vestibulum. Nulla congue sagittis fermentum. Lorm a Sed suscipit fringilla dapibus.
            </p> 
          </div>
      </div>
      <div class="col-12 col-sm-6 col-md-8">
        <div class="yv-imgbox-container">
          <div class="yv-img-content small-img-content">
          	<img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/black-nightsuit.png?v=1645449385" alt="image"/>
          </div>
          <div class="yv-img-content">
          	<img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/black-nightsuit.png?v=1645449385" alt="image"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- image with text section start -->