{{ 'quick-view.css' | asset_url | stylesheet_tag }}
<!-- <div class="modal fade quickview quick-view" id="qucikview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <a class="ask_cross quickViewClose" data-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" aria-hidden="true">
            <defs>
              <style>
                .close {
                  fill: #ffffff;
                  fill-rule: evenodd;
                  opacity: 0.6;
                }
              </style>
            </defs>
            <path d="M1235.63,300.5l5.11-5.115a0.813,0.813,0,0,0-1.15-1.15l-5.11,5.115-5.12-5.115a0.813,0.813,0,1,0-1.15,1.15l5.12,5.115-5.12,5.116a0.809,0.809,0,0,0,0,1.15,0.82,0.82,0,0,0,.58.238,0.8,0.8,0,0,0,.57-0.238l5.12-5.115,5.11,5.115a0.814,0.814,0,0,0,1.15,0,0.809,0.809,0,0,0,0-1.15Z" transform="translate(-1228 -294)"></path>
          </svg>
        </a>
        <div class="modal-body">
          <img src="//cdn.shopify.com/s/files/1/0331/0108/6851/t/2/assets/quick-loader.gif?v=4917647782388246184" class="Quick_loader" alt="quick-loader">  
          <div id="ProductQuickView"class="row quickviewcontent align-items-center"  style="display:none;">
            
        </div>
      </div>   
    </div>
  </div>
</div>
 -->
<div id="quick_view" class="quick_view" data-shipping="200000">  
    <img src="//cdn.shopify.com/s/files/1/0331/0108/6851/t/2/assets/quick-loader.gif?v=4917647782388246184" class="Quick_loader" alt="quick-loader">  
    <div id="ProductQuickView"class="row quickviewcontent align-items-center"  style="display:none;">

    </div>
</div>