<button onclick="topFunction()" id="myBtn" title="Go to top">
<svg version="1.2" baseProfile="tiny-ps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 474 474" width="474" height="474">
	<title>up-svg</title>
	<defs>
		<clipPath clipPathUnits="userSpaceOnUse" id="cp1">
			<path d="m0.21 0.21h473.58v473.58h-473.58l0-473.58z" />
		</clipPath>
	</defs>
	<style>
		tspan { white-space:pre }
	</style>
	<g id="Clip-Path" clip-path="url(#cp1)">
		<g id="Layer">
			<path id="Layer" fill-rule="evenodd" class="s0" d="m0.21 237c0-130.77 106.02-236.79 236.79-236.79c130.78 0 236.79 106.02 236.79 236.79c0 130.78-106.02 236.79-236.79 236.79c-130.77 0-236.79-106.02-236.79-236.79zm451.03 0c0-118.32-95.92-214.24-214.24-214.24c-118.32 0-214.24 95.92-214.24 214.24c0 118.32 95.92 214.24 214.24 214.24c118.32 0 214.24-95.92 214.24-214.24zm-224.22-101.48l9.98-8.55l9.97 8.55h1.3v1.12l75 64.37l-14.69 17.11l-60.31-51.77v194.68h-22.55v-194.7l-60.32 51.7l-14.68-17.13l74.99-64.28v-1.11l1.3 0z" />
		</g>
	</g>
</svg>
</button>
<style>

html{
	scroll-behavior:smooth;
}

</style>
<script>
  //Get the button
  var mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
      mybutton.style.display = "flex";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
