<button onclick="topFunction()" id="myBtn" title="Go to top">
<svg version="1.2" baseProfile="tiny-ps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457 466" width="100" height="102">
	<title>up-svg</title>
	<style>
		tspan { white-space:pre }
	</style>
	<g id="Layer">
		<path id="Layer" fill-rule="evenodd" class="s0" d="m230.63 453.79c-122.53 0.35-222.27-98.83-222.62-221.35c-0.35-122.52 98.84-222.27 221.36-222.62c122.52-0.35 222.27 98.84 222.62 221.35c0.35 122.52-98.83 222.27-221.36 222.62zm-1.18-414.38c-106.18 0.3-192.14 86.76-191.84 192.94c0.3 106.18 86.76 192.14 192.94 191.84c106.18-0.3 192.14-86.75 191.84-192.94c-0.3-106.18-86.75-192.14-192.94-191.84z" />
		<path id="Layer" fill-rule="evenodd" class="s0" d="m329.37 271.58c-5.76 5.79-15.14 5.82-20.93 0.06l-78.56-78.11l-78.11 78.56c-5.76 5.79-15.14 5.82-20.93 0.06c-5.79-5.75-5.82-15.14-0.06-20.93l88.54-89.05c5.75-5.8 15.14-5.83 20.93-0.06l89.05 88.54c5.79 5.76 5.81 15.14 0.06 20.93z" />
	</g>
</svg>
</button>
<style>

html{
	scroll-behavior:smooth;
}

</style>
<script>
  //Get the button
  var mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
      mybutton.style.display = "flex";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
