{% if settings.search_style == 'full' %}
<div class="search-bar-container">
    <div class="search-bar-box search-box">
        <div class="container">
                <!---search-field---->
                <form action="/search" method="get" role="search">
                    <div class="input-group">
                        <input type="text" name="q" placeholder="Search our Products..."
                            class="form-control search-input" autocomplete="">
                        <!-- <input type="text" name="q" class="form-control search-input" value="" placeholder="Search our products" autocomplete="off"> -->
                        <div class="input-group-append">
                            <svg width="30" height="30" aria-hidden="true" data-prefix="fal" data-icon="times"
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                                class="HeaderProClose svg-inline--fa fa-times fa-w-10 fa-2x">
                                <path fill="currentColor"
                                    d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"
                                    class=""></path>
                            </svg>
                            <button class="btn btn-search" type="submit">
                                <svg width="24" height="24" class="header_icon_search"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.82 20.76">
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <rect class="cls-1" x="13.75" y="11.77" width="2.1" height="9.55"
                                                transform="translate(-7.31 14.49) rotate(-42.88)"></rect>
                                            <path class="cls-1"
                                                d="M8.05,16.1a8.05,8.05,0,1,1,8.05-8A8.06,8.06,0,0,1,8.05,16.1Zm0-14a6,6,0,1,0,5.95,6A6,6,0,0,0,8.05,2.1Z">
                                            </path>
                                        </g>
                                    </g>
                                </svg>

                                <svg width="30" height="30"
                                    style="display:none; shape-rendering: auto; animation-play-state: running; animation-delay: 0s; background: none;"
                                    class="Search_loader lds-rolling" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">

                                    <circle cx="50" cy="50" fill="none" stroke="#d9e2ed" stroke-width="10" r="35"
                                        stroke-dasharray="164.93361431346415 56.97787143782138"
                                        style="animation-play-state: running; animation-delay: 0s;"
                                        transform="rotate(115.597 50 50)">
                                        <animateTransform attributeName="transform" type="rotate" calcMode="linear"
                                            values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s"
                                            repeatCount="indefinite">
                                        </animateTransform>
                                    </circle>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <!--recent-search-->
    <div class="AjaxSearchResponse">
        <div class="container">
                <div class="recent-search-list ActiveSearch" id="recent_search_list">
                </div>
        </div>
    </div>
    <div class="results_section">
        <div class="container">
                <div class="results-box">
                </div>
        </div>
    </div>
</div>
{% elsif settings.search_style == 'auto' %}
<div class="search-bar-container search_small">
    <div class="search-bar-box search-box">
        <div class="search-padding-sec">
            <!---search-field---->
            <form action="/search" method="get" role="search">
                <div class="input-group">
                    <label>What are you looking for ?</label>
                    <div class="cstm-input-box">
                        <input type="text" name="q" placeholder="Search our Products..." class="form-control search-input" autocomplete="">
                        <!-- <input type="text" name="q" class="form-control search-input" value="" placeholder="Search our products" autocomplete="off"> -->
                        <div class="input-group-append">
                            <svg width="24" height="24" class="header_icon_search" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 18.82 20.76">
                                <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                        <rect class="cls-1" x="13.75" y="11.77" width="2.1" height="9.55"
                                            transform="translate(-7.31 14.49) rotate(-42.88)"></rect>
                                        <path class="cls-1"
                                            d="M8.05,16.1a8.05,8.05,0,1,1,8.05-8A8.06,8.06,0,0,1,8.05,16.1Zm0-14a6,6,0,1,0,5.95,6A6,6,0,0,0,8.05,2.1Z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <button class="btn btn-search" type="submit">
                            Search
                        </button>
                    </div>

                    <div class="search-small-list">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 small-list-left">
                                <div class="recent-search-list ActiveSearch" id="recent_search_list">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 small-list-right">
                                <div class="results-box">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <a href="javascript:void(0)" class="note">See all Results </a>
    </div>


    <!--SMALL SEARCH-END-->
</div>
{% endif %}
<script src="{{'search.js' | asset_url}}" defer></script>