<div class="top_page_title" {% if section.settings.banner != blank %}style="background:url({{section.settings.banner | img_url:'master'}}) no-repeat center"{% endif %}>
  <div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.contact-page-template.name",
	"templates":["page"],
	"tag":"section",
	"class":"contact-page-form-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner",
        "label": "t:sections.contact-page-template.settings.banner.label"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Contact Us",
        "label": "t:sections.contact-page-template.settings.heading.label"
	}
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
