
<div class="{% if section.settings.style == 'grid' %}center-side-deal{% else %}left-side-deal{% endif %}"> 
  {% assign dealLayout = 'deal-' |append:section.settings.style | append:'-section' %}
  <div class="container">
    {% include dealLayout %}
  </div>
</div>

{% if section.settings.date != blank %}

<input type="hidden" class="dealDate" value="{{section.settings.date}}">

{% endif %}
{% if section.settings.style == 'slider' %}
  <script type="application/json" name="slider-json">    
         {
          "slidesToShow":1,
          "slidesToScroll":1,
          "infinite":true,
          "draggable":false,
          "cssEase": "linear",
         "dots":false,
          "autoplay":false,
          "arrows":true,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\" aria-label=\"Prev\"><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 14\" width=\"21\" height=\"14\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m7.6 12.6c0.4 0.3 0.4 0.8 0 1.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2l-6.1-6.3c-0.4-0.3-0.4-0.9 0-1.2l5.9-6.1c0.3-0.3 0.8-0.3 1.1 0c0.4 0.3 0.4 0.9 0 1.2l-5.3 5.5zm12.6-6.5c0.4 0 0.8 0.4 0.8 0.9c0 0.5-0.4 0.8-0.8 0.8h-17.6c-0.5 0-0.8-0.3-0.8-0.8c0-0.5 0.3-0.9 0.8-0.9h17.6z\" /></svg></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\" aria-label=\"Next\"><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 15\" width=\"21\" height=\"15\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m18.9 7.5l-5.3-5.3c-0.3-0.4-0.3-0.9 0-1.2c0.4-0.3 0.9-0.4 1.2 0l5.9 6c0.3 0.3 0.3 0.9 0 1.2l-6.2 6.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2c-0.3-0.4-0.3-0.9 0-1.2zm-18.1-0.7h17.6c0.4 0 0.8 0.4 0.8 0.8c0 0.5-0.4 0.9-0.8 0.9h-17.6c-0.4 0-0.8-0.4-0.8-0.9c0-0.4 0.4-0.8 0.8-0.8z\" /></svg></button>"
        }
  </script>
{% endif %}
{% schema %}
  {
    "name": "Deal Section",
    "tag": "section",
	"class":"deal-banner-section",
    "max_blocks":3,
    "settings": [
      {
        "type":"select",
        "id":"style",
        "default":"grid",
        "label":"t:sections.testimonials.settings.style.label",
		"options":[
          {
            "value":"grid",
            "label":"Grid"
          },
          {
            "value":"slider",
            "label":"Slider"
          }
        ]
      },
      {
        "type": "text",
        "id": "subheading",
        "default": "Deal of the week",
        "label": "t:sections.featured-article.settings.subheading.label"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.featured-article.settings.heading.label"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "date",
        "label": "Future Date",
		"info":"Date Format should be DD/MM/YYYY and should be future date"
      },
      {
        "type": "text",
        "id": "button",
        "default": "View all",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button Link"
      }
	],
    "blocks":[
      {
        "type":"product",
         "name":"Product",
         "settings":[
          {
            "type":"product",
            "id":"product",
            "label": "Product"
          }
       	]
       }
    ],
    "presets": [
      {
        "name": "Deal Section",
        "category": "product",
        "blocks": [
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
