<div class="center-side-deal">
  
</div>
<div class="left-side-deal">
</div>
{% schema %}
  {
    "name": "Deal Section",
    "tag": "section",
	"class":"deal-banner-section",
    "max_blocks":3,
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "default": "Deal of the week",
        "label": "t:sections.featured-article.settings.subheading.label"
      },
      {
        "type": "text",
        "id": "date",
        "label": "Future Date",
		"info":"Date Format should be DD/MM/YYYY and should be future date"
      }
	],
    "blocks":[
      {
        "type":"product",
         "name":"Product",
         "settings":[
          {
            "type":"product",
            "id":"product",
            "label": "Product"
          }
       	]
       }
    ],
    "presets": [
      {
        "name": "Deal Section",
        "category": "product",
        "blocks": [
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
