{% if section.settings.style == 'grid' %}
<div class="center-side-deal">
  {% include 'deal-grid-section' %}
</div>
{% else %}
<div class="left-side-deal">
  {% include 'deal-slider-section' %}
</div>
{% endif %}

{% if section.settings.date != blank %}

<input type="hidden" id="dealDate-{{section.id}}" value="{{section.settings.date}}">
<script>
  window.onload = (event) => { 
    const second = 1000,
          minute = second * 60,
          hour = minute * 60,
          day = hour * 24;

    var eventdate = document.getElementById("dealDate-{{section.id}}");
     
	var countDownParent = document.getElementById("shopify-section-{{section.id}}");

    if(eventdate) {
      const myArr = eventdate.value.split("/");
      let _day = myArr[0];
      let _month = myArr[1];
      let _year = myArr[2];
      let _date = _month+"/"+_day+"/"+_year+" 00:00:00";
      let countDown = new Date(_date).getTime();
      if(isNaN(countDown)){
        if(Shopify.designMode){
          alert('Incorrect Date or Date Format');
        }
        return false;
      }

      x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;
        if(distance > 0){
          countDownParent.querySelector("#dDays").innerText = pad2(leftDays),
            countDownParent.querySelector("#"dHours").innerText = pad2(Math.floor((distance % (day)) / (hour))),
            countDownParent.querySelector("#dMinutes").innerText = pad2(Math.floor((distance % (hour)) / (minute))),
            countDownParent.querySelector("#dSeconds").innerText = pad2(Math.floor((distance % (minute)) / second));
        }
        else{
          countDownParent.querySelector("#dealCountdown").style.display = "none";
          clearInterval(x);
        }
      }, 0)
    }
  }
</script>
{% endif %}
{% schema %}
  {
    "name": "Deal Section",
    "tag": "section",
	"class":"deal-banner-section",
    "max_blocks":3,
    "settings": [
      {
        "type":"select",
        "id":"style",
        "default":"grid",
        "label":"t:sections.testimonials.settings.style.label",
		"options":[
          {
            "value":"grid",
            "label":"Grid"
          },
          {
            "value":"slider",
            "label":"Slider"
          }
        ]
      },
      {
        "type": "text",
        "id": "subheading",
        "default": "Deal of the week",
        "label": "t:sections.featured-article.settings.subheading.label"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.featured-article.settings.heading.label"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "date",
        "label": "Future Date",
		"info":"Date Format should be DD/MM/YYYY and should be future date"
      },
      {
        "type": "text",
        "id": "button",
        "default": "View all",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button Link"
      }
	],
    "blocks":[
      {
        "type":"product",
         "name":"Product",
         "settings":[
          {
            "type":"product",
            "id":"product",
            "label": "Product"
          }
       	]
       }
    ],
    "presets": [
      {
        "name": "Deal Section",
        "category": "product",
        "blocks": [
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
