<div class="deal-banner-section center-side-deal">
</div>
<div class="deal-banner-section left-side-deal">
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
