
  <div class="container">
    <div class="row">
      <div class="faq-detail">
        <h5>Frequently Asked Questions</h5>
        <div class="accordion-container">
          <div class="set">
            <h6 class="panel-title">
              <a href="javascript:void(0)">
                How long will my items take to ship?
                <i class="fa fa-plus"></i>
              </a>
            </h6>
            <div class="content" style="display:none;">
              <div class="panel-body">
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p> 
                <p>I’m a great place for you to tell a story and let your users know a little more about you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
{% schema %}
  {
    "name": "Contact us",
	"tag":"section",
	"class":"faq faq-section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Frequently Asked Questions",
        "label": "t:sections.faq-section.settings.heading.label"
      }
    ],
	"blocks":[
		{
          "type": "faq",
          "name": "t:sections.faq-section.blocks.name",
			"settings":[
				{
					"type":"text",
					"id":"heading",
          			"label": "t:sections.faq-section.blocks.settings.heading.label"
				},
				{
					"type":"richtext",
					"id":"answer",
          			"label": "t:sections.faq-section.blocks.settings.answer.label"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
