<div class="container"> 
    <div class="row">
        <div class="shopify__top__section text__center">
            <small>{{section.settings.heading}}</small>
            <h4>{{section.settings.subheading}}</h4>
            {% assign main_articles = section.settings.blog.articles %}
            {% if main_articles.size > 0 or section.settings.custom %}
            <div class="blog-multi-slide " role="list">  
              <div class="{% if section.settings.style == "style2" %}blog-variation2{% endif %}">
              <div id="featuredBlog-{{section.id}}" class="blog__post owl-carousel" >
                {% if section.settings.custom != true %}              
                    {% for article in main_articles %}
                        {% include 'featured-article-grid' %}
                    {% endfor %}
                {% else %}
                    {% for i in (1..3) %}  
                        {% assign main_article = 'article' | append:i %}
                        {% if section.settings[main_article] != blank %}  
                            {% assign article = section.settings[main_article] %}
                            {% include 'featured-article-grid' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
              </div>
              </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
   $('#featuredBlog-{{section.id}}').owlCarousel({
        center: false,
        items: 3,
        loop: true,
        margin: 30,
        dots:false,
				slideSpeed: 1200,
				responsiveClass:true,
        responsive: {
					740: {
					  items: 1
				  },
          768: {
            items: 2
          },
          1200: {
            items: 3
          }
        }
    });
  });
</script>
{% schema %}
{
    "name": "t:sections.featured-blog.name",
    "tag": "section",
    "class":"blog-post",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "CONSECTETUR",
        "label": "t:sections.featured-blog.settings.heading.label"
      },
      {
        "type": "select",
        "id": "style",
        "default": "style1",
        "label": "t:sections.featured-blog.settings.style.label",
        "options":[
          {
              "value":"style1",
              "label":"t:sections.featured-blog.settings.style.options.style1.label"
          },
          {
            "value":"style2",
            "label":"t:sections.featured-blog.settings.style.options.style2.label"
          }
        ]
      },
      {
        "type": "textarea",
        "id": "subheading",
        "default": "Blog post everyday",
        "label": "t:sections.featured-blog.settings.subheading.label"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.featured-blog.settings.blog.label"
      },     
      {
        "type": "checkbox",
        "id": "custom",
        "default": true,
        "label": "t:sections.featured-blog.settings.custom.label"
      },
      {
        "type": "article",
        "id": "article1",
        "label": "t:sections.featured-blog.settings.article1.label"
      },
      {
        "type": "article",
        "id": "article2",
        "label": "t:sections.featured-blog.settings.article2.label"
      },
      {
        "type": "article",
        "id": "article3",
        "label": "t:sections.featured-blog.settings.article3.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-blog.presets.name"
      }
    ]
  }
  {% endschema %}