<div class="container">
  <div class="inner-container">
    <h2 class="content-heading text-center">{{section.settings.content}}</h2>
  </div>
</div>

<style>
  #shopify-section-{{section.id}}{
    background-color:{{section.settings.bgcolor}};
  }
</style>
{% schema %}
  {
    "name": "t:sections.featured-text.name",
    "tag": "section",
    "class":"about-best-choice featured-text-section",
    "settings": [
        {
            "type":"textarea",
            "id":"content",
            "label":"t:sections.featured-text.settings.content.label",
			"default":"Why We Are Your Best Choice"
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "t:sections.featured-text.settings.bgcolor.label",
          "default":"#ffffff"
        }
  	],
    "presets": [
      {
        "name": "t:sections.featured-text.presets.name"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
