<div class="section-spacer">
  <div class="container">
    <div class="yv-featured-wrapper">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
          <div class="yv-feature-imgbox">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/Group_13.png?v=1644829824" alt="image" />
            <div class="img-overlay-text">
              <h3>Life Collection Style</h3>
              <p>20<span class="vertical-text">%<span>0ff</span></span></p>
            </div>
          </div>	
        </div>
        <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9">
          <div class="yv-feature-imgbox yv-feature-videobox">
            <video id="videoFile" autoplay muted loop playsinline width="100%">
              <source src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/video.mp4?v=1633081501" type="video/mp4">
            </video> 
            <div class="video-overlay-text">
              <h2>LOUNGE</h2>
              <h3>Life Collection Style</h3>
              <a href="" class="button white-button">SHOP NOW</a>
            </div>
          </div>	
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
"name": "Featured Section",
"tag":"section",
"class":"yv-featured-section",
"settings": [],
"presets":[
{
"name":"Featured Section"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
