<div class="container">
  <div class="inner-container">
    <h2 class="content-heading text-center">{{section.settings.heading}}</h2>
    <div class="row">
      {% for block in section.blocks %}
      <div class="col-12 col-sm-6 col-md-4">
        <div class="about-feature-box">
          <div class="feature-icon"><i class="fas fa-{{block.settings.icon}}"></i></div>
          <h5>{{block.settings.heading}}</h5>
          <p>{{block.settings.content}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Featured Text",
    "tag": "section",
    "class":"about-best-choice",
    "settings": [
        {
            "type":"textarea",
            "id":"heading",
            "label":"Text",
            "default":"Why We Are Your Best Choice"
        }
  	],
    "presets": [
      {
        "name": "Featured Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
