{{'section-featured-collections-list.css' | asset_url | stylesheet_tag }}
<section class="colllection-list-view">
  <div class="container">
    <div class="collection-section-header section-heading-box">                  
      {% if section.settings.heading != blank %}
      <h2 class="title">{{section.settings.heading}}</h2>
      {% endif %}
      {% if section.settings.btntext != blank %}
      <a class="view-all" href="{{section.settings.btnlink}}">{{section.settings.btntext}}</a>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="collection-list-view-card">
          <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/files/collection-list-left_a725767d-c712-4edb-95d9-093591ab03b6.jpg?v=1635845505" />
            <div class="list-view-content">
              <h2>Women’s Winter Collections</h2>
              <a href="" class="link">Shop Now</a>
            </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="collection-list-view-card">
          <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/files/collection-list-left_a725767d-c712-4edb-95d9-093591ab03b6.jpg?v=1635845505" />
            <div class="list-view-content">
              <h2>Men’s Winter Collections</h2>
              <a href="" class="link">Shop Now</a>
            </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="collection-list-view-card">
          <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/files/collection-list-left_a725767d-c712-4edb-95d9-093591ab03b6.jpg?v=1635845505" />
            <div class="list-view-content">
              <h2>Men’s Winter Collections</h2>
              <a href="" class="link">Shop Now</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class":"spaced-section",
	"max_blocks":6,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Collection list",
      "label": "t:sections.collection-list.settings.heading.label"
    },
    {
      "type": "text",
      "id": "btntext",
      "default": "View All",
      "label": "t:sections.collection-list.settings.btntext.label"
    },
    {
      "type": "url",
      "id": "btnlink",
      "label": "t:sections.collection-list.settings.btnlink.label"
    }
  ],
  "blocks": [
	  {
      "type":"collection",
      "name":"t:sections.collection-list.blocks.collection.name",
      "settings": [        
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collection-list.blocks.collection.settings.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.collection-list.blocks.collection.settings.heading.label"
        },
        {
          "type": "text",
          "id": "btntext",
          "default": "Shop Now",
          "label": "t:sections.collection-list.blocks.collection.settings.btntext.label"
        },
        {
          "type": "range",
          "id": "heading_font",
          "default": 25,
          "label": "t:sections.collection-list.blocks.collection.settings.heading_font.label",
          "min": 20,
          "max": 38,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:sections.collection-list.blocks.collection.settings.overlay_color.label",
          "default": 0.5,
          "min": 0,
          "max": 1,
          "step": 0.1
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "t:sections.collection-list.blocks.collection.settings.overlay_color.label",
          "default":"#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "featured collections list",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}