<div class="container">
  <div class="inner-container">
    <h2 class="content-heading text-center">{{section.settings.heading}}</h2>
  </div>
</div>
{% schema %}
  {
    "name": "Featured Text",
    "tag": "section",
    "class":"about-best-choice featured-text-section",
    "settings": [
        {
            "type":"textarea",
            "id":"heading",
            "label":"Text",
            "default":"Why We Are Your Best Choice"
        }
  	],
    "presets": [
      {
        "name": "Featured Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
