<div class="container">
  <div class="inner-container">
    <h2 class="content-heading text-center">{{section.settings.content}}</h2>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.featured-text.name",
    "tag": "section",
    "class":"about-best-choice featured-text-section",
    "settings": [
        {
            "type":"richtext",
            "id":"content",
            "label":"t:sections.featured-text.settings.content.label",
			"default":"<p>Why We Are Your Best Choice</p>"
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "t:sections.featured-text.settings.bgcolor.label",
          "default":"#ffffff"
        }
  	],
    "presets": [
      {
        "name": "t:sections.featured-text.presets.name"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
