<div class="container"> 
  <div class="shopify__top__section text__center">
    <div class="section-heading-box">
      <small>{{section.settings.heading}}</small>
      <h2>{{section.settings.subheading}} 
        {% if section.settings.blog != blank and section.settings.custom == false %}
        <a class="view-all corner-view" href="{{section.settings.blog.url}}">View all</a></h2>
      	{% endif %}
    </div>
    {% assign main_articles = section.settings.blog.articles %}
    {% if main_articles.size > 0 or section.settings.custom %}
    <div class="blog-multi-slide " role="list">  
      <div class="">
        <div id="featuredBlog-{{section.id}}" class="blog__post owl-carousel" data-slider>
          {% if section.settings.custom != true %}              
          {% for article in main_articles %}
          {% include 'featured-article-grid' %}
          {% endfor %}
          {% else %}
          {% for block in section.blocks %}  

          {% if block.settings.article != blank %}  
          {% assign article = block.settings.article %}
          {% include 'featured-article-grid' %}
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      	<script type="application/json" name="slider-json">
         {
          "center":false,
          "items":3,
          "loop":true,
          "margin":20,
         "dots":false,
          "autoplay":false,
         "slideSpeed":1200,
          "responsive": {
              "200": {
                "items": 1
              },
              "768": {
                "items": 2,
               "margin": 15
              },
              "1200": {
                "items": 3
              }
            }          
        }
      </script>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
    "name": "t:sections.featured-blog.name",
    "tag": "section",
    "class":"blog-post",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "CONSECTETUR",
        "label": "t:sections.featured-blog.settings.heading.label"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "default": "Blog post everyday",
        "label": "t:sections.featured-blog.settings.subheading.label"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.featured-blog.settings.blog.label"
      },     
      {
        "type": "checkbox",
        "id": "custom",
        "default": true,
        "label": "t:sections.featured-blog.settings.custom.label"
      }
    ],
    "blocks":[
      {
        "type":"article",
         "name":"t:sections.featured-blog.blocks.article.name",
         "settings":[
          {
          "type":"article",
          "id":"article",
          "label": "t:sections.featured-blog.blocks.article.settings.article.label"
          }
           ]
       }
         ],
    "presets": [
      {
        "name": "t:sections.featured-blog.presets.name"
      }
    ]
  }
  {% endschema %}