<div class="container">
  <div class="section-heading center-heading">
    <h2>Collection Trending Product</h2>
  </div>
  {% if section.blocks.size > 0 %}
  <div class="yv-tabs-wrapper">
    <ul class="yv-tabs">
      <li class="yv-tab-item active"><a href="javascript:void(0)" class="yv-tab-link">Featured</a></li>
      <li class="yv-tab-item"><a href="javascript:void(0)" class="yv-tab-link">Best Sellers</a></li>
      <li class="yv-tab-item"><a href="javascript:void(0)" class="yv-tab-link">New Arrivals</a></li>
    </ul>
    <div class="yv-tab-content">
      <div class="yv-tab-pane">
        <div class="yv-featured-product-grid" data-slider>
          {% for block in section.blocks %}
          {% if block.settings.collection != blank or block.settings.collection.all_products_count > 0 %}
          {% for product in block.settings.collection.products %}
          <div class="yv-product-card">
            <div class="yv-product-card-img has-multiimage ">
              <a class="yv-product-img" href="#">
                <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image">
                <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image">
              </a>
              <ul class="yv-product-options">
                <li>
                  <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon">
                  </a>
                </li>
              </ul>      
              <div class="similar_options" data-url="">
                <span class="vs-icon text-true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
                  <g>
                    <path d="M12,2.5H6c-0.7,0-1.3,0.6-1.3,1.3v10.5c0,0.7,0.6,1.3,1.3,1.3h6c0.7,0,1.3-0.6,1.3-1.3V3.7   C13.2,3.1,12.7,2.5,12,2.5z M12.2,3.7v10.5c0,0.1-0.1,0.2-0.2,0.2H6c-0.1,0-0.2-0.1-0.2-0.2V3.7c0-0.1,0.1-0.2,0.2-0.2h6   C12.1,3.5,12.2,3.6,12.2,3.7z"></path>
                    <path d="M3.5,14c-0.1,0-0.3,0-0.3-0.2L1,6.2C1,6.1,1,6.1,1,6c0,0,0.1-0.1,0.1-0.1l2.7-0.7v-1L0.9,5   C0.6,5.1,0.3,5.3,0.2,5.5C0,5.8,0,6.1,0,6.4l2.2,7.7C2.4,14.6,2.9,15,3.4,15c0.1,0,0.2,0,0.3-0.1l0.2-0.1v-1L3.5,14L3.5,14z"></path>
                    <path d="M17.1,5l-3-0.8v1l2.7,0.7c0.1,0,0.1,0,0.1,0.1c0,0,0,0.1,0,0.2l-2.1,7.7c0,0.1-0.2,0.2-0.3,0.2l-0.4-0.1v1   l0.1,0.1c0.1,0,0.2,0.1,0.4,0.1c0.5,0,1-0.3,1.2-0.9L18,6.4l0-0.1C18.1,5.8,17.7,5.2,17.1,5z"></path>
                  </g>
                  </svg><span class="similar-text">Similar Products</span>
                </span>
              </div>
              <div class="yv-product-badge sold-badge">
                Sold Out
              </div> 
            </div>
            <div class="yv-product-information">
              <div class="ratingbox">
                <span class="shopify-product-reviews-badge" data-id=""></span>
              </div>
              <a href="#" class="yv-product-title" title="">{{product.title}}</a>
              <div class="yv-prizebox" data-saved="true" data-saved-style="percentage" data-price-wrapper="">
                <span class="yv-product-price">$1,100.00</span>
                <span class="yv-product-compare-price"> $1,190.00</span>
                <span class="yv-product-percent-off"> 50% Off</span>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
<script type="application/json" name="slider-json">
         {
          "slidesToShow":3,
          "slidesToScroll":1,
          "infinite": false,
          "centerMode":false,
            "speed": 1000,
            "centerPadding":0,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\" aria-label=\"Prev\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\" aria-label=\"Next\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></span></button>",
          "responsive":[
          	{
            "breakpoint": 768,
                "settings": {
                    "dots":true,
                    "arrows":false,
                    "draggable":true
                  }
            }
          ]
        }
</script>
{% schema %}
{
   "name":"featured-collections-2",
   "tag":"section",
   "class":"collection-product-section",
   "max_blocks":5,
   "settings":[
      {
         "type":"text",
         "id":"heading",
         "default":"Collection list",
         "label":"t:sections.featured-collections-list.settings.heading.label"
      },
      {
         "type":"text",
         "id":"btntext",
         "default":"View All",
         "label":"t:sections.featured-collections-list.settings.btntext.label"
      },
      {
         "type":"url",
         "id":"btnlink",
         "label":"t:sections.featured-collections-list.settings.btnlink.label"
      },
      {
         "type":"checkbox",
         "id":"show_hover_content",
         "label":"t:sections.featured-collections-list.settings.show_hover_content.label",
         "default":true
      },
      {
         "type":"range",
         "id":"top_space_desktop",
         "label":"t:sections.featured-collections-list.settings.top_space_desktop.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"bottom_space_desktop",
         "label":"t:sections.featured-collections-list.settings.bottom_space_desktop.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"top_space_mobile",
         "label":"t:sections.featured-collections-list.settings.top_space_mobile.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"bottom_space_mobile",
         "label":"t:sections.featured-collections-list.settings.bottom_space_mobile.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      }
   ],
   "blocks":[
      {
         "type":"collection",
         "name":"t:sections.featured-collections-list.blocks.collection.name",
         "settings":[
            {
               "type":"collection",
               "id":"collection",
               "label":"t:sections.featured-collections-list.blocks.collection.settings.collection.label"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"featured-collections-2",
         "blocks":[
            {
               "type":"collection"
            },
            {
               "type":"collection"
            }
         ]
      }
   ]
}
{% endschema %}