{%- assign product = section.settings.product -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<div class="section-spacer">
  <div class="container sm-container">
    <div class="yv-feature-product-wrapper">
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-6">
          <div class="yv-feature-product-image" >
              {%- include 'lazy-image' image:featured_image -%} 
            <div class="featured-product-img-text">
              <h4>Featured</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          {%- unless section.settings.product == blank -%}
          {%- include 'featured-product-form' -%}
          {%- endunless -%}
        </div>
      </div>
    </div>
</div>
</div>
<!-- <style>
  #shopify-section-{{section.id}}.shopify-section {
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }

</style> -->
{% schema %}
{
   "name":"t:sections.featured-product.name",
   "tag":"section",
   "class":"feature-section featured-product-section",
   "settings":[
      {
         "type":"product",
         "id":"product",
         "label":"t:sections.featured-product.settings.product.label"
      },
      {
         "type":"range",
         "id":"top_space_desktop",
         "label":"t:sections.featured-product.settings.top_space_desktop.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"bottom_space_desktop",
         "label":"t:sections.featured-product.settings.bottom_space_desktop.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"top_space_mobile",
         "label":"t:sections.featured-product.settings.top_space_mobile.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"bottom_space_mobile",
         "label":"t:sections.featured-product.settings.bottom_space_mobile.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      }
   ],
   "blocks":[
      {
         "type":"@app"
      },
      {
         "type":"title",
         "name":"t:sections.featured-product.blocks.title.name",
         "limit":1
      },
      {
         "type":"text",
         "name":"t:sections.featured-product.blocks.text.name",
         "settings":[
            {
               "type":"text",
               "id":"text",
               "label":"t:sections.featured-product.blocks.text.settings.text.label"
            }
         ]
      },
      {
         "type":"price",
         "name":"t:sections.featured-product.blocks.price.name",
         "limit":1
      },
      {
         "type":"review-star",
         "name":"t:sections.featured-product.blocks.review-star.name",
         "limit":1
      },
      {
         "type":"social-icons",
         "name":"t:sections.featured-product.blocks.social-icons.name",
         "limit":1
      },
      {
         "type":"variant",
         "name":"t:sections.product-template.blocks.variant.name",
         "limit":1
      },
      {
         "type":"quantity",
         "name":"t:sections.featured-product.blocks.quantity.name",
         "limit":1
      },
      {
         "type":"button",
         "name":"t:sections.featured-product.blocks.button.name",
         "limit":1,
         "settings":[
            {
               "type":"checkbox",
               "id":"dynamic_checkout_btn",
               "default":true,
               "label":"t:sections.featured-product.blocks.button.settings.dynamic_checkout_btn.label"
            },
            {
               "type":"checkbox",
               "id":"show_view_detail",
               "default":true,
               "label":"t:sections.featured-product.blocks.button.settings.show_view_detail.label"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"t:sections.featured-product.presets.name",
         "category":"Product",
         "blocks":[
            {
               "type":"title"
            },
            {
               "type":"review-star"
            },
            {
               "type":"price"
            },
            {
               "type":"variant"
            },
            {
               "type":"quantity"
            },
            {
               "type":"button"
            }
         ]
      }
   ]
}
{% endschema %}