<div class="section-spacer">
  <div class="container">
    <div class="yv-featured-wrapper">
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-5 col-xl-4">
          <div class="yv-feature-imgbox">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/Group_13.png?v=1644829824" alt="image" />
          </div>	
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
"name": "Featured Section",
"tag":"section",
"class":"yv-featured-section",
"settings": [],
"presets":[
{
"name":"Featured Section"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
