<section class="featured-articles-section shopify-section">
  <div class="container"> 
    <div class="section-heading">
      <h2>Featured News Blogs
        <a class="corner-view-all" href="#">View All</a></h2>
    </div>
    <div class="yv-blogs-wrapper"> 
      <div class="row align-items-center">       
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
          <div class="yv-blog-card featured-blog">
            <a href="#" class="yv-blog-card-img">                    
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/blog-img.png?v=1645103327" alt="blog thumbnail image">
            </a>
            <div class="yv-blog-card-text">
              <h4 class="yv-blog-title" href="#">The piece of comfort you can lways designenjoy. walk up with a lot of energy</h4>
              <a href="" class="yv-blog-link">Read More</a>
            </div>
            <span class="yv-blog-date">September 23, 2021 </span>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-7">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 ">
              <div class="yv-blog-card">
                <h3 class="yv-blog-title" href="#">Exclusive Racerback</h3>
                <a href="#" class="yv-blog-card-img">                    
                  <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/blog-img.png?v=1645103327" alt="blog thumbnail image">
                  <span class="yv-blog-date">September 23, 2021 </span>
                </a>
                <div class="yv-blog-card-text">
                  <p class="yv-blog-desc">Lorem ipsum dolor sit amet, vadipiscing elit. In and vehicula lorem sed leo varius, nec cursus augue.</p>
                  <a href="" class="yv-blog-link">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 ">
              <div class="yv-blog-card">
                <h3 class="yv-blog-title" href="#">Exclusive Racerback</h3>
                <a href="#" class="yv-blog-card-img">                    
                  <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/blog-img.png?v=1645103327" alt="blog thumbnail image">
                  <span class="yv-blog-date">September 23, 2021 </span>
                </a>
                <div class="yv-blog-card-text">
                  <p class="yv-blog-desc">Lorem ipsum dolor sit amet, vadipiscing elit. In and vehicula lorem sed leo varius, nec cursus augue.</p>
                  <a href="" class="yv-blog-link">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>