<footer>
	<div class="container">
		<div class="row">
			<div class="footer__content-top page-width">
				<div class="footer__column footer__column--info d-flex justify-content-between">
					<div class="col">
						<h6>FREESHIPPING WORLD WIDE</h6>
						<p>100% Original guarantee<br> for all products at yuva.com</p>
					</div>
					<div class="col">
						<h6>30 DAYS MONEY BACK</h6>
						<p>Return within 30days of receiving your orderguarantee </p>
					</div>
					<div class="col">
						<h6>SUPPORT 24/7</h6>
						<p>Get free delivery for every order above Rs. 1199</p>
					</div>
					<div class="col">
						<h6>100% SECURE CHECKOUT</h6>
						<p>100% Original guarantee<br> for all products at yuva.com</p>
					</div>
				
				</div>
			
			</div>
			<div class="footer__content-middle page-width">
			<div class="footer-block d-flex">
				<div class="grid__item full__item  col-sm-4 col-md-4 col-lg-3">
					<h5>Company</h5>
					<ul>
						<li><a href="javascript:void(0)">Home</a></li>
						<li><a href="javascript:void(0)">Product</a></li>
						<li><a href="javascript:void(0)">Collection</a></li>
						<li><a href="javascript:void(0)">Catalog</a></li>
						<li><a href="javascript:void(0)">About </a></li>
					</ul>
				</div>
				<div class="grid__item full__item  col-sm-4 col-md-4 col-lg-3">
					<h5>Useful links</h5>
					<ul>
						<li><a href="javascript:void(0)">My Account</a></li>
						<li><a href="javascript:void(0)">About Us</a></li>
						<li><a href="javascript:void(0)">Contact Us</a></li>
						<li><a href="javascript:void(0)">Support Policy</a></li>
						<li><a href="javascript:void(0)">FAQs</a></li>
					</ul>
				</div>
				<div class="grid__item full__item  col-sm-4 col-md-4 col-lg-3">
					<h5>Contact info</h5>
					<ul>
						<li><a href="javascript:void(0)">My Account</a></li>
						<li><a href="javascript:void(0)">About Us</a></li>
						<li><a href="javascript:void(0)">Contact Us</a></li>
						<li><a href="javascript:void(0)">Support Policy</a></li>
						<li><a href="javascript:void(0)">FAQs</a></li>
					</ul>
				</div>
				<div class="grid__item full__item  col-sm-12 col-md-12 col-lg-3">
					<h5>Newsletter</h5>
					<p>Receive our weekly newsletter.<br>
					   For dietary content, fashion insider and the best offers.</p>
					<form id="ContactFooter" accept-charset="UTF-8" class="footer__newsletter newsletter-form">
					   <div class="newsletter-form__field-wrapper">
							<div class="field">
								<input id="NewsletterForm--footer" type="email" name="contact[email]" class="field__input" value="" aria-required="true" autocorrect="off" autocapitalize="none" autocomplete="email" placeholder="Your email">
								<label class="field__label" for="NewsletterForm--footer">
									Email address
								</label>
							</div>
						</div>
						<button type="submit" class="button button--secondary newsletter-form__button" name="commit" id="Subscribe">
							Join
						</button>
					</form>
					<div class="social-links">
						<ul>
							<li class="fb"><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
							<li class="twitter"><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
							<li class="linkedin"><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
							<li class="insta"><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="footer__content-bottom">
				<div class="footer__content-bottom-wrapper page-width">
				  <div class="footer__column footer__column--info d-flex justify-content-between align-items-center">
						<div class="footer__copyright">
							<small class="copyright__content">© 2019. All Rights Reserved</small>
						</div>
						<div class="footer__payment">
							<span class="visually-hidden">Payment methods</span>
							<ul class="list list-payment" role="list">
								{%- for type in shop.enabled_payment_types -%}
                  <li class="list-payment__item">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
							</ul>
					  </div></div>
				</div>
		  </div>
		</div>
	</div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
