<div class="container">
        <div class="shopify__top__section section-heading-box text__center">
            <h2>{{section.settings.title}}</h2>
            <p class="instagramUserName">{{section.settings.handle}}</p>
        </div>
        {% if section.settings.insta_user_id != blank and section.settings.insta_access_Token != blank %}
          <div class="instagram-post-list" id="instafeed"></div>
        {% else %}
        <div class="instagram-post-list">
            <ul>
                <li>
                    <div class="instagram-post-detail">
                        <img src="https://yova.shinedezign.pro/assets/images/insta-post1.jpg" alt="">
                        <div class="insta-icon"><i class="fab fa-instagram"></i></div>
                    </div>
                </li>
                <li>
                    <div class="instagram-post-detail">
                        <img src="https://yova.shinedezign.pro/assets/images/insta-post2.jpg" alt="">
                        <div class="insta-icon"><i class="fab fa-instagram"></i></div>
                    </div>
                </li>
                <li>
                    <div class="instagram-post-detail">
                        <img src="https://yova.shinedezign.pro/assets/images/insta-post3.jpg" alt="">
                        <div class="insta-icon"><i class="fab fa-instagram"></i></div>
                    </div>
                </li>
                <li>
                    <div class="instagram-post-detail">
                        <img src="https://yova.shinedezign.pro/assets/images/insta-post4.jpg" alt="">
                        <div class="insta-icon"><i class="fab fa-instagram"></i></div>
                    </div>
                </li>
                <li>
                    <div class="instagram-post-detail">
                        <img src="https://yova.shinedezign.pro/assets/images/insta-post1.jpg" alt="">
                        <div class="insta-icon"><i class="fab fa-instagram"></i></div>
                    </div>
                </li>
            </ul>
        </div>
      {% endif %}
</div>
{% if section.settings.insta_user_id != blank and section.settings.insta_access_Token != blank %}
<script>
  var userFeed = new Instafeed({
    get: 'user',
    userId: '{{ section.settings.insta_user_id}}',
    accessToken: '{{ section.settings.insta_access_Token}}',
    limit: 5,
    resolution : 'standard_resolution'
  });
  userFeed.run();
  setTimeout(function(){ $('#instafeed a').attr('target','_blank'); }, 1000);
</script>
{% endif %}
<style>
  .instagram-post-list {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}
  .instagram-post-list > a {
    flex: 0 0 20%;
}
  .instagram-post-list > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>
{% schema %} 
  {
    "name": "t:sections.instagram.name",
    "tag": "section",
    "class":"instagram-post",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.instagram.settings.title.label",
        "default": "Follow Us On Instagram"
      },
      {
        "type": "text",
        "id": "handle",
        "label": "t:sections.instagram.settings.handle.label",
		    "default": "@themewexample"
      },
       {
        "type": "text",
        "id": "insta_user_id",
        "label": "t:sections.instagram.settings.insta_user_id.label"
      },
      {
        "type": "text",
        "id": "insta_access_Token",
        "label": "t:sections.instagram.settings.insta_access_Token.label"
      }
    
    ],
    "presets": [
    	{
          "name": "t:sections.instagram.presets.name",
          "category": "Promotional"
        }
    ]
  }
{% endschema %}