
{%- paginate blog.articles by 6 -%}
<div class="top_page_title no-bg">
  <div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>{{ blog.title | escape }}</h1>
      </div>
    </div>
  </div>
</div>
<section class="blog-listing">
  	<div class="container">
      	<div class="blog-outer-box">  
        	<div class="row">
              {%- for article in blog.articles -%}
                <div class="col-12 col-sm-12 col-md-6 style1"> 
                  {% include 'article-grid' %}
                </div>
              {%- endfor -%}
        </div>
  		</div>
  	</div>
</section>


    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "shopify-blog-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.main-blog.settings.show_tags.label"
    }
  ]
}
{% endschema %}
