<div class="top_page_title" style="background:url(https://cdn.shopify.com/s/files/1/0597/9668/5009/files/about-banner.png?v=1636363046) no-repeat center">
<div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>About Us</h1>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
