<div class="top_page_title" style="background:url(https://cdn.shopify.com/s/files/1/0597/9668/5009/files/about-banner.png?v=1636363046) no-repeat center">
	<div class="container">
      <div class="contact-banner-text">
        <div class="banner_title">
          <h1>{{page.title}}</h1>
        </div>
      </div>
    </div>
</div>
<div class="container page-description">
      <div class="inner-container">
  {{page.content}}
  </div>
</div>
<section class="shopify-section about-story-section">
  	<div class="container">
      <div class="inner-container">
        <div class="row align-items-center">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="left-img-content">
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/about-bag.png?v=1636363423" alt="bag image" />
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <div class="right-text-content">
              <h2 class="content-heading">Yuva Our Story</h2>
              <p class="content-desc">
                Synth ethical biodiesel poutine. Bitters beard salvia lo-fi. Palo santo literally plaid edison bulb, pitchfork drinking vinegar 
                authentic pabst street art subway tile craft beer single-origin coffee shaman dreamcatcher.</p>

                <p class="content-desc">Williamsburg sriracha portland, microdosing asymmetrical pork belly la croix 3 wolf moon umami.</p>

                <p class="content-desc">Four dollar toast truffaut fashion axe, lomo plaid meh PBR&B scenester austin paleo thundercats heirloom 
                knausgaard farm-to-table. </p>
                <p class="content-desc">Synth ethical biodiesel poutine. Bitters beard salvia lo-fi. Palo santo literally plaid edison bulb, 
                pitchfork drinking vinegar authentic pabst street art subway tile craft beer single-origin coffee shaman dreamcatcher.</p>

                <p class="content-desc">Williamsburg sriracha portland, microdosing asymmetrical pork belly la croix 3 wolf moon umami.</p>

                <p class="content-desc">Four dollar toast truffaut fashion axe, lomo plaid meh PBR&B scenester austin paleo thundercats heirloom knausgaard farm-to-table.
              </p>
            </div>
          </div>
        </div>
      </div>
  	</div>
</section>
<section class="shopify-section about-best-choice">
  <div class="container">
    <div class="inner-container">
      <h2 class="content-heading text-center">Why We Are Your Best Choice</h2>
      <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="about-feature-box">
          <div class="feature-icon"><i class="fas fa-truck"></i></div>
          <h5>FREE SHIPPING</h5>
          <p>Lorem Ipsum is simply dummy text of the print industry.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="about-feature-box">
          <div class="feature-icon"><i class="fas fa-sync-alt"></i></div>
          <h5>15 DAYS RETURN</h5>
          <p>Lorem Ipsum is simply dummy text of the print industry.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="about-feature-box">
          <div class="feature-icon"><i class="fas fa-credit-card"></i></div>
          <h5>SECURE PAYMENT</h5>
          <p>Lorem Ipsum is simply dummy text of the print industry.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="shopify-section about-video-section">
  	<div class="container">
      <div class="inner-container">
        <div class="row align-items-center">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="right-text-content">
              <h2 class="content-heading">Setting Industry Standards</h2>
              <p class="content-desc">
                Synth ethical biodiesel poutine. Bitters beard salvia lo-fi. Palo santo literally plaid edison bulb, pitchfork drinking vinegar 
                authentic pabst street art subway tile craft beer single-origin coffee shaman dreamcatcher.</p>

                <p class="content-desc">Williamsburg sriracha portland, microdosing asymmetrical pork belly la croix 3 wolf moon umami.</p>

                <p class="content-desc">Four dollar toast truffaut fashion axe, lomo plaid meh PBR&B scenester austin paleo thundercats heirloom 
                knausgaard farm-to-table. </p>
                <p class="content-desc">Synth ethical biodiesel poutine. Bitters beard salvia lo-fi. Palo santo literally plaid edison bulb, 
                pitchfork drinking vinegar authentic pabst street art subway tile craft beer single-origin coffee shaman dreamcatcher.</p>

                <p class="content-desc">Williamsburg sriracha portland, microdosing asymmetrical pork belly la croix 3 wolf moon umami.</p>

                <p class="content-desc">Four dollar toast truffaut fashion axe, lomo plaid meh PBR&B scenester austin paleo thundercats heirloom knausgaard farm-to-table.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <div class="left-img-content about-video-box">
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/about-video-thumbnail.png?v=1636364525" alt="girl wearing sport tshirt" />
              <span class="video-play-box"><img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/play.png?v=1636366326" alt="play icon"/></span>
            </div>
          </div>
        </div>
      </div>
  	</div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
