<div class="top_page_title" style="">
  <div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>Our Blogs</h1>
      </div>
    </div>
  </div>
</div>
<section class="blog-listing">
  	<div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6"> 
          <div class="blog-card">
            <div>
            	<img src="" alt="blog image"/>
            </div>
            <h3 class="blog-title">A team of designers that make dreams come true</h3>
            <p>The Valise Creative Consultancy returns with a co-retail experience 
highlighting outstanding hand-picked & curated lifestyle...</p>
            <a href="" class="">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6"> 
          <div class="blog-card">
            <div>
            	<img src="" alt="blog image"/>
            </div>
            <h3>A team of designers that make dreams come true</h3>
            <p>The Valise Creative Consultancy returns with a co-retail experience 
highlighting outstanding hand-picked & curated lifestyle...</p>
            <a href="" class="">Read More</a>
          </div>
        </div>
      </div>
  </div>
</section>

{%- paginate blog.articles by 6 -%}

  <div class="main-blog page-width">
    <h1 class="title--primary">{{ blog.title | escape }}</h1>

    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'article-card', article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "spaced-section shopify-blog-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
