<div class="container product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=10">
  <div class="row">
    {%- if recommendations.performed and recommendations.products_count > 0 -%}
    <div id="SimilarProductsMain" class="recent-product">
      <div class="recent-product-header shopify__top__section">
        <h4>Recent Products</h4>
      </div>
      <div class="recent-product-slide owl-carousel owl-theme">
        {%- for product in recommendations.products -%}
        <div class="item">
          <div class="slider-content">
            {% include 'product-grid' hideRelated:true,hideQuickView:true ,show_second_image : true %}
          </div>
        </div>
      {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
  </div>

</div>
  {% javascript %}
    const handleIntersection = (entries, observer) => {
      if (!entries[0].isIntersecting) return;
  
      observer.unobserve(productRecommendationsSection);
  
      const url = productRecommendationsSection.dataset.url;
  
      fetch(url)
        .then(response => response.text())
        .then(text => {
          const html = document.createElement('div');
          html.innerHTML = text;
          const recommendations = html.querySelector('.product-recommendations');
  
          if (recommendations && recommendations.innerHTML.trim().length) {
            productRecommendationsSection.innerHTML = recommendations.innerHTML;
          }
        })
        .catch(e => {
          console.error(e);
        });
    };
  
    const productRecommendationsSection = document.querySelector('.product-recommendations');
    const observer = new IntersectionObserver(handleIntersection, {rootMargin: '0px 0px 200px 0px'});
  
    observer.observe(productRecommendationsSection);
  {% endjavascript %}
  <script>
    $(document).ready(function(){
      var recomend = setInterval(function(){
        if($('.recent-product-slide').length > 0 ){
          $('.recent-product-slide').owlCarousel({
            center: false,
            loop: false,
            margin: 10,
            dots:false,
            nav:true,
            slideSpeed: 1200,
            paginationSpeed: 500,
            autoplay:true,
            autoPlaySpeed: 500,
            "navText":[
              "<svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg>",
              "<svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg>"
            ],
              responsiveClass:true,
              responsive: {
                  0: {
                      items: 2
                  },
                  768: {
                      items: 4
                  },
                  1200: {
                      items: 5
                  },
                  1441: {
                      items: 7
                  }
              }
          });
          clearInterval(recomend);
        }
      },100)
    })
    </script>
  {% schema %}
    {
      "name": "Product recommendations",
      "tag":"section",
		"class":"product-page-recommendations",
      "settings": []
    }
  {% endschema %}
  