<div class="type-banner__content text-center">
  <div class="type-banner__text">
    <h3>Banner promotion</h3>
    <p >Add the details of your promotion in smaller text</p>
    <p class="btn">Shop now</p>
  </div>
</div>
{% schema %}
  {
    "name": "Promotion Banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
