<div class="product-recommendations quick-view-product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=1">
  
  
  <div class=" recent-product quick-view-recent-product">
      <div class="recent-product-header shopify__top__section">
        <h6>Recent Products</h6>
      </div>
    <div id="SimilarProductsMain" class="">
      <div class="recent-product-slide owl-carousel owl-theme">
        {% for product in collections.all.products limit:4 %}
        <div class="item">
          <div class="slider-content">
            {% include 'product-grid' hide_options:true,hideRelated:true,hideQuickView:true,show_second_image : true %}
          </div>
        </div>
      {%- endfor -%}
      </div>
    </div>
  </div>
</div>
  <script>
    $(document).ready(function(){
      var recomend = setInterval(function(){
        if($('.recent-product-slide').length > 0 ){
          setTimeout(function(){
            $('.recent-product-slide').slick({
              slidesToShow:4,
              slidesToScroll:1,
              autoplay:true,
              infinite:true,
              autoplayHoverPause:false,
              arrows: false,
              dots: false,
              responsive:[
                {
                  breakpoint:767,
                  "settings": {
                    "slidesToShow": 2
                  }
                }
              ]
            })
          clearInterval(recomend);
            },200)
        }
      },100)
    })
    </script>
  {% schema %}
    {
      "name": "Product recommendations",
      "settings": []
    }
  {% endschema %}
  


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
