<div class="container">
    <div class="row">
        <div class="best__for__you shopify__top__section text__left">
            <small>{{section.settings.heading}}</small>
            <h4>{{section.settings.subheading}}</h4>
            <div class="grid grid--4-col-desktop grid--3-col-tablet">
                <div class="grid__item full__item products-grid ">
                    <div class="row column-5 d-flex justify-content-center cart-recommendation">
                      {% assign count = 0 %}
                      {% for product in collections.all.products %}
                      {% if cart.item_count > 0 %}
                      {% for item in cart.items %}
                      {% if item.product_id != product.id %}
                      {% include 'product-grid' hide_options:true%}

                      {% assign count = count | plus:1 %}
                      {% break %}
                      {% endif %}
                      {% endfor %}
                      {% else %}
                        {% include 'product-grid' hide_options:true%}
                       {% assign count = count | plus:1 %}
                      
                      {% endif %}
							
                      {% if count == 10 %}
                      {% break %}
                      {% endif %}
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
 .product__on__sale {
    background: url(//cdn.shopify.com/s/files/1/0597/9668/5009/t/7/assets/badge-bg.svg?v=10910737147684277171);
    width: 55px;
    height: 20px;
    background-size: 55px;
    background-repeat: no-repeat;
    padding-left: 9px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 2px;
    font-weight: var(--medium);
}
</style>
 <script>
    jQuery(document).ready(function($) {
      var previcon='<svg width="100%" viewBox="0 0 24 24"> <path d="M12 0 9.87 2.11l8.35 8.36H0v3h18.22l-8.35 8.36L12 23.94 24 12z" focusable="false"></path> </svg>';
      var nexticon='<svg width="100%" viewBox="0 0 24 24"> <path d="M12 0 9.87 2.11l8.35 8.36H0v3h18.22l-8.35 8.36L12 23.94 24 12z" focusable="false"></path> </svg>';
        $('.cart-recommendation').owlCarousel({
            center: true,
            items: 7,
            loop: true,
            margin: 30,
            slideSpeed: 1200,
            paginationSpeed: 500,
          autoplay:true,
          autoPlaySpeed: 500,
            responsiveClass:true,
            navText: [previcon,nexticon],
            responsive: {
                740: {
                    items: 2
                },
                768: {
                    items: 4
                },
                1200: {
                    items: 6
                }
            }
        });
    });
  </script> 
{% schema %}
{
  "name": "t:sections.recommended-products-cart.name",
  "tag": "section",
  "class":"latest__sale cart__recommendations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.recommended-products-cart.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "default": "You may also like:",
      "label": "t:sections.recommended-products-cart.settings.subheading.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.recommended-products-cart.presets.name"
    }
  ]
}
{% endschema %}