<div class="container">
    <div class="row">
        <div class="best__for__you shopify__top__section text__left">
            <small>{{section.settings.heading}}</small>
            <h4>{{section.settings.subheading}}</h4>
            <div class="grid grid--4-col-desktop grid--3-col-tablet">
                <div class="grid__item full__item products-grid ">
                    <div class="row column-5 d-flex justify-content-center">
                      {% assign count = 0 %}
                      {% for product in collections.all.products %}
                      {% if cart.item_count > 0 %}
                      {% for item in cart.items %}
                      {% if item.product_id != product.id %}
                      {% include 'product-grid' hide_options:true%}

                      {% assign count = count | plus:1 %}
                      {% break %}
                      {% endif %}
                      {% endfor %}
                      {% else %}
                        {% include 'product-grid' hide_options:true%}
                       {% assign count = count | plus:1 %}
                      
                      {% endif %}
							
                      {% if count == 10 %}
                      {% break %}
                      {% endif %}
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
 .product__on__sale {
    background: url(//cdn.shopify.com/s/files/1/0597/9668/5009/t/7/assets/badge-bg.svg?v=10910737147684277171);
    width: 55px;
    height: 20px;
    background-size: 55px;
    background-repeat: no-repeat;
    padding-left: 9px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 2px;
    font-weight: var(--medium);
}
</style>
{% schema %}
{
  "name": "t:sections.recommended-products-cart.name",
  "tag": "section",
  "class":"latest__sale cart__recommendations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.recommended-products-cart.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "default": "You may also like:",
      "label": "t:sections.recommended-products-cart.settings.subheading.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.recommended-products-cart.presets.name"
    }
  ]
}
{% endschema %}