<div class="container">
  {% for block in section.blocks %}
  <div class="right-text-content">
    <h3>{{block.settings.heading}}</h3>
    <div class="rich-text-description">
      {%-case block.type -%}
      {% when 'richtext' %}
      {{block.settings.content}}
      {% when 'page' %}
      {{block.settings.page.content}}
      {%- endcase -%}
    </div>
  </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "t:sections.rich-text.name",
    "tag": "section",
    "class":"rich-text-section",
	"blocks":[
          {
          "type":"richtext",
          "name":"t:sections.rich-text.blocks.richtext.name",
          "settings": [
              {
                  "type":"text",
                  "id":"heading",
                  "label":"t:sections.rich-text.blocks.richtext.settings.heading.label",
                  "default":"Rich text"
              },
              {
                  "type":"richtext",
                  "id":"content",
                  "label":"t:sections.rich-text.blocks.richtext.settings.content.label"
              }
          ]
		},
          {
          "type":"page",
          "name":"t:sections.rich-text.blocks.page.name",
          "settings": [
              {
                  "type":"text",
                  "id":"heading",
                  "label":"t:sections.rich-text.blocks.page.settings.heading.label",
                  "default":"Page Content"
              },
              {
                  "type":"page",
                  "id":"page",
                  "label":"t:sections.rich-text.blocks.page.settings.page.label"
              }
          ]
		}
	],
    "presets": [
      {
        "name": "t:sections.rich-text.presets.name"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
