<div class="yv-banner-container">
    <div class="banner-big-slides">
      <div class="yv-banner-item">
        <div class="row no-gutters align-items-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-7">
            <div class="yv-banner-image">
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/banner-img.png?v=1645439518" alt="banner image"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="yv-banner-content">
              <span class="yv-banner-subtitle">Special offer Discount 50% OFF</span>
              <h1 class="yv-banner-title">Girl from around the world</h1>
              <a href="" class="button">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="yv-banner-item">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-7">
          <div class="yv-banner-image">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/new-arrival-img.png?v=1645096623" alt="banner image"/>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
          <div class="yv-banner-content">
            <span class="yv-banner-subtitle">Special offer Discount 50% OFF</span>
            <h1 class="yv-banner-title">Girl from around the world</h1>
            <a href="" class="button">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
      <div class="yv-banner-item">
        <div class="row no-gutters align-items-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-7">
            <div class="yv-banner-image">
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/banner-img.png?v=1645439518" alt="banner image"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="yv-banner-content">
              <span class="yv-banner-subtitle">Special offer Discount 50% OFF</span>
              <h1 class="yv-banner-title">Girl from around the world</h1>
              <a href="" class="button">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="yv-banner-item">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-7">
          <div class="yv-banner-image">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/new-arrival-img.png?v=1645096623" alt="banner image"/>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
          <div class="yv-banner-content">
            <span class="yv-banner-subtitle">Special offer Discount 50% OFF</span>
            <h1 class="yv-banner-title">Girl from around the world</h1>
            <a href="" class="button">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="banner-small-slides-container">
    <div class="banner-small-slides">
      <div class="yv-banner-thumbnail">
        	<img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/banner-small-img2.png?v=1645442762" alt="thymbnail image" />
      </div>
      <div class="yv-banner-thumbnail">
        	<img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/banner-small-img.png?v=1645442684" alt="thymbnail image" />
      </div>
      <div class="yv-banner-thumbnail">
        	<img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/banner-small-img3.png?v=1645442762" alt="thymbnail image" />
      </div>
      <div class="yv-banner-thumbnail">
        	<img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/banner-small-img.png?v=1645442684" alt="thymbnail image" />
      </div>
    </div>
    </div>
  </div>
  <script>
//           $('.banner-big-slides').slick({
//             slidesToShow: 1,
//             slidesToScroll: 1,
//             arrows: false,
//             fade: true,
//             asNavFor: '.banner-small-slides'
//           });
//           $('.banner-small-slides').slick({
//             slidesToShow: 4,
//             slidesToScroll: 1,
//             asNavFor: '.banner-big-slides',
//             dots: false,
//             focusOnSelect: false
//           });
     $('.banner-big-slides').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
       asNavFor: '.banner-small-slides'
});
$('.banner-small-slides').slick({
  slidesToShow: 4,
  slideToScroll: 1,
  asNavFor: '.banner-big-slides',
  dots: true,
  focusOnSelect: true
});
  </script>
{% schema %}
{
  "name": "t:sections.main-slider.name",
  "tag": "section",
  "class":"shopify-section-slider banner-section",
  "settings":[
	  {
		  "type":"checkbox",
		  "id":"rotate",
		  "label":"t:sections.main-slider.settings.rotate.label",
		  "default":false
	  },
	  {
		  "type":"checkbox",
		  "id":"arrows",
		  "label":"t:sections.main-slider.settings.arrows.label",
		  "default":true
	  },
	  {
		  "type":"checkbox",
		  "id":"dots",
		  "label":"t:sections.main-slider.settings.dots.label",
		  "default":true
	  },
	  {
		  "type": "range",
		  "id": "rotate_speed",
		  "min": 1,
		  "max": 10,
		  "step": 1,
		  "unit":"s",
		  "label": "t:sections.main-slider.settings.rotate_speed.label",
		  "default": 1
	  },
      {
          "type": "range",
          "id": "heading_font_size",
          "label": "t:sections.main-slider.settings.heading_font_size.label",
          "default": 50,
          "min":0,
          "max":100,
          "step":1,
          "unit":"px"          
      },
      {
          "type": "range",
          "id": "subheading_font_size",
          "label": "t:sections.main-slider.settings.subheading_font_size.label",
          "default": 130,
          "min":50,
          "max":150,
          "step":1,
          "unit":"px"          
      }
  ],
  "blocks": [
	{
		"type": "slide",
		"name": "t:sections.main-slider.blocks.split.name",
		"settings":[
			{
			   "type":"image_picker",
			   "id":"image_desktop",
			   "label":"t:sections.main-slider.blocks.split.settings.image_desktop.label",
			   "info":"t:sections.main-slider.blocks.split.settings.image_desktop.info",
			   "info":"e.g. 957 x 800"
			},
			{
			   "type":"text",
			   "id":"banner_tag_line",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_tag_line.label",
			   "default":"Tagline"
			},
			{
			   "type":"text",
			   "id":"banner_title",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_title.label",
			   "default":"Talk about your brand here"
			},
			{
			   "type":"text",
			   "id":"banner_subtitle",
			   "default":"Split Slide",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_subtitle.label"
			},
			{
			   "type":"textarea",
			   "id":"banner_desc",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_desc.label",
			   "default":"Description"
			},
			{
			   "type":"text",
			   "id":"button_text",
			   "label":"t:sections.main-slider.blocks.split.settings.button_text.label",
			   "default":"Explore"
			},
			{
			   "type":"url",
			   "id":"button_link",
			   "label":"t:sections.main-slider.blocks.split.settings.button_link.label"
			},
			{
			   "type":"color",
			   "id":"banner_left_bk",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_left_bk.label"
			},
			{
			   "type":"color",
			   "id":"tag_line_color",
			   "label":"t:sections.main-slider.blocks.split.settings.tag_line_color.label",
			   "default":"#ffffff"
			},
			{
			   "type":"color",
			   "id":"tag_line_bk",
			   "label":"t:sections.main-slider.blocks.split.settings.tag_line_bk.label",
			   "default":"#746850"
			},
			{
			   "type":"color",
			   "id":"banner_title_color",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_title_color.label",
			   "default":"#746850"
			},
			{
			   "type":"color",
			   "id":"banner_subtitle_color",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_subtitle_color.label",
			   "default":"#746850"
			},
			{
			   "type":"color",
			   "id":"banner_desc_color",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_desc_color.label",
			   "default":"#746850"
			},
			{
			   "type":"color",
			   "id":"button_text_color",
			   "label":"t:sections.main-slider.blocks.split.settings.button_text_color.label",
			   "default":"#ffffff"
			},
			{
			   "type":"color",
			   "id":"button_text_bk",
			   "label":"t:sections.main-slider.blocks.split.settings.button_text_bk.label",
			   "default":"#746850"
			},
			{
			   "type":"color",
			   "id":"hvr_button_text_color",
			   "label":"t:sections.main-slider.blocks.split.settings.hvr_button_text_color.label",
			   "default":"#ffffff"
			},
			{
			   "type":"color",
			   "id":"hvr_button_text_bk",
			   "label":"t:sections.main-slider.blocks.split.settings.hvr_button_text_bk.label",
			   "default":"#615A4C"
			}
		]
	}
  ],
  "presets": [
    {
      "name": "Slidshow",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
