<div class="spotlightSectionMain">
  <div class="spotlighSectionWrapper">
    <div class="spotlightSectionImage">
      {%- if section.settings.image != blank -%}
      {%- render 'lazy-image' image:section.settings.image,class:'spotlightSectionImage' -%}
      {%-else-%}
      <div class="spotlightSectionPlaceholder">{% render 'banner-placeholder'%}</div>
      {%- endif %} 
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Spotlight",
    "class": "spotlight-section",
    "settings": [
		{
			"type":"image_picker",
			"label":"Image",
			"id":"Image"
		}
	],
    "blocks": [
		{
          "type": "spot",
          "name": "Spot",
          "settings": [
              {
                  "type":"image_picker",
                  "label":"Image",
                  "id":"Image"
              }
          ]
		}
	],
	"presets":[
		{
			"name":"Spotlight"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
