<div class="spotlightSectionMain">
</div>
{% schema %}
  {
    "name": "Spotlight",
    "class": "spotlight-section",
    "settings": [
		{
			"type":"image_picker",
			"label":"Image",
			"id":"Image"
		}
	],
    "blocks": [
		{
          "type": "spot",
          "name": "Spot",
          "settings": [
              {
                  "type":"image_picker",
                  "label":"Image",
                  "id":"Image"
              }
          ]
		}
	],
	"presets":[
		{
			"name":"Spotlight"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
