<div class="spotlightSectionMain">
  <div class="spotlighSectionWrapper">
    <div class="spotlightSectionImage">
      {%- if section.settings.image != blank -%}
      {%- render 'lazy-image' image:section.settings.image,class:'spotlightSectionImage' -%}
      {%-else-%}
      <div class="spotlightSectionPlaceholder">{% render 'banner-placeholder'%}</div>
      {%- endif %} 
    </div>
  </div>
</div>
<style>
  img.spotlightSectionImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .spotlightSectionImage {
    width: 100%;
    height: 600px;
}
  .spotlighSectionWrapper {
    position: relative;
}
  </style>
{% schema %}
  {
    "name": "Spotlight",
    "class": "spotlight-section",
    "settings": [
		{
			"type":"image_picker",
			"label":"Image",
			"id":"image"
		}
	],
    "blocks": [
		{
          "type": "spot",
          "name": "Spot",
          "settings": [
              {
                  "type":"product",
                  "label":"product",
                  "id":"product"
              },
              {
                  "type":"range",
                  "label":"Horizontal position",
                  "id":"horizontal",
                  "min":1,
                  "max":100,
                  "step":1,
                  "unit":"%",
                  "default":1
              },
              {
                  "type":"range",
                  "label":"Vertical position",
                  "id":"vertical",
                  "min":1,
                  "max":100,
                  "step":1,
                  "unit":"%",
                  "default":1
              }
          ]
		}
	],
	"presets":[
		{
			"name":"Spotlight"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
