@import "custom-animation.css";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
  outlinne:0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
img, fieldset, a img {
  border: none;
}
input[type="email"], input[type="number"], input[type="password"], input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="submit"], button{
  cursor: pointer;
}
button[disabled] {
    opacity: 0.5;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
iframe{
	max-width:100%;
}
input, button {
  margin: 0;
  padding: 0;
  border: 0;
}
div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}
ul, ol {
  list-style-type: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
      border: 1px solid var(--gray);
}
tbody tr:not(:last-child) {
border-bottom: 1px solid var(--gray);
}
tr td {
  line-height: 1;
  border: none;
  padding: 20px 20px;
  text-align: left;
  font-size: 13px;
  border-right: 1px solid var(--gray);
}
/* Core */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: 100%;
  hanging-punctuation: first;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
  -moz-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-size: var(--reg-text);
	scroll-behavior:smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   letter-spacing: var(--heading_spacing);
   color: var(--heading_color);
   font-family: var(--heading-font-family);
     line-height:1.2;
     font-weight:normal;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
a {
   text-decoration: none;
}
small,
sub,
sup {
   font-size: 95%;
}
.white-text {
	color: #fff;
}
.bottom-left {
	bottom:17px;
    left: 17px;
}
.center {
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center-left {
    top: 50%;
    left: 17px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.top-center {
    top: 17px;
    left: 17px;
	right:17px;
}
.bottom-center {
    bottom: 17px;
    left: 17px;
	right:17px;
}
.top-right {
    top: 17px;
	right:17px;
}
.center-right {
     top: 50%;
    right: 17px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.bottom-right {
     bottom: 17px;
     right: 17px;
}
.top-left {
    top: 17px;
    left: 17px;
}
.text__left{text-align:left;}
.text__right{text-align:right;}
.text__center{text-align:center;}
.text__center img, .text__left img, .text__right img {
    display: inline;
}
/* Set core body defaults */
body {
  background-color:var(--colorBody);
  color:var(--colorTextBody);
  scroll-behavior: smooth;
  line-height: var(--base_line_height);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-size: var(--text_size);
  letter-spacing:var(--base_spacing);
}
label {
    line-height: 20px;
    padding-bottom: 4px;
    display: block;
}
.container,.container-fluid, .custom-container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
.no-gutters{
    margin-right:0;
    margin-left:0;
}
.no-gutters>.col,.no-gutters>[class*=col-]{
    padding-right:0;
    padding-left:0;
}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{
    position:relative;
    width:100%;
  	max-width:100%;
    padding-right:15px;
    padding-left:15px
}
.col{
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%;     
}

.col-auto{
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    width:auto;
    max-width:100%
}
.col-1{
    -ms-flex:0 0 8.333333%;
    flex:0 0 8.333333%;
    max-width:8.333333%
}
.col-2{
    -ms-flex:0 0 16.666667%;
    flex:0 0 16.666667%;
    max-width:16.666667%
}
.col-3{
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%
}
.col-4{
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%
}
.col-5{
    -ms-flex:0 0 41.666667%;
    flex:0 0 41.666667%;
    max-width:41.666667%
}
.col-6{
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
}
.col-7{
    -ms-flex:0 0 58.333333%;
    flex:0 0 58.333333%;
    max-width:58.333333%
}
.col-8{
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%
}
.col-9{
    -ms-flex:0 0 75%;
    flex:0 0 75%;
    max-width:75%
}
.col-10{
    -ms-flex:0 0 83.333333%;
    flex:0 0 83.333333%;
    max-width:83.333333%
}
.col-11{
    -ms-flex:0 0 91.666667%;
    flex:0 0 91.666667%;
    max-width:91.666667%
}
.col-12{
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%
}
@media (min-width:576px){
    .col-sm{
        -ms-flex-preferred-size:0;
        flex-basis:0;
        -ms-flex-positive:1;
        flex-grow:1;
        max-width:100%
    }
    .col-sm-auto{
        -ms-flex:0 0 auto;
        flex:0 0 auto;
        width:auto;
        max-width:100%
    }
    .col-sm-1{
        -ms-flex:0 0 8.333333%;
        flex:0 0 8.333333%;
        max-width:8.333333%
    }
    .col-sm-2{
        -ms-flex:0 0 16.666667%;
        flex:0 0 16.666667%;
        max-width:16.666667%
    }
    .col-sm-3{
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%
    }
    .col-sm-4{
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%
    }
    .col-sm-5{
        -ms-flex:0 0 41.666667%;
        flex:0 0 41.666667%;
        max-width:41.666667%
    }
    .col-sm-6{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
    .col-sm-7{
        -ms-flex:0 0 58.333333%;
        flex:0 0 58.333333%;
        max-width:58.333333%
    }
    .col-sm-8{
        -ms-flex:0 0 66.666667%;
        flex:0 0 66.666667%;
        max-width:66.666667%
    }
    .col-sm-9{
        -ms-flex:0 0 75%;
        flex:0 0 75%;
        max-width:75%
    }
    .col-sm-10{
        -ms-flex:0 0 83.333333%;
        flex:0 0 83.333333%;
        max-width:83.333333%
    }
    .col-sm-11{
        -ms-flex:0 0 91.666667%;
        flex:0 0 91.666667%;
        max-width:91.666667%
    }
    .col-sm-12{
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }

}
@media (min-width:768px){
    .col-md{
        -ms-flex-preferred-size:0;
        flex-basis:0;
        -ms-flex-positive:1;
        flex-grow:1;
        max-width:100%
    }
    .col-md-auto{
        -ms-flex:0 0 auto;
        flex:0 0 auto;
        width:auto;
        max-width:100%
    }
    .col-md-1{
        -ms-flex:0 0 8.333333%;
        flex:0 0 8.333333%;
        max-width:8.333333%
    }
    .col-md-2{
        -ms-flex:0 0 16.666667%;
        flex:0 0 16.666667%;
        max-width:16.666667%
    }
    .col-md-3{
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%
    }
    .col-md-4{
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%
    }
    .col-md-5{
        -ms-flex:0 0 41.666667%;
        flex:0 0 41.666667%;
        max-width:41.666667%
    }
    .col-md-6{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
    .col-md-7{
        -ms-flex:0 0 58.333333%;
        flex:0 0 58.333333%;
        max-width:58.333333%
    }
    .col-md-8{
        -ms-flex:0 0 66.666667%;
        flex:0 0 66.666667%;
        max-width:66.666667%
    }
    .col-md-9{
        -ms-flex:0 0 75%;
        flex:0 0 75%;
        max-width:75%
    }
    .col-md-10{
        -ms-flex:0 0 83.333333%;
        flex:0 0 83.333333%;
        max-width:83.333333%
    }
    .col-md-11{
        -ms-flex:0 0 91.666667%;
        flex:0 0 91.666667%;
        max-width:91.666667%
    }
    .col-md-12{
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }
.d-flex{
    display:-ms-flexbox;
    display:flex;
	-ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.d-inline-flex{
    display:-ms-inline-flexbox;
    display:inline-flex;
	-ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.justify-content-start{
    -ms-flex-pack:start;
    justify-content:flex-start;
}
.justify-content-end{
    -ms-flex-pack:end;
    justify-content:flex-end;
}
.justify-content-center{
    -ms-flex-pack:center;
    justify-content:center;
}
.justify-content-between{
    -ms-flex-pack:justify;
    justify-content:space-between;
}
.justify-content-around{
    -ms-flex-pack:distribute;
    justify-content:space-around;
}
.align-items-start{
    -ms-flex-align:start;
    align-items:flex-start;
}
.align-items-end{
    -ms-flex-align:end;
    align-items:flex-end;
}
.align-items-center{
    -ms-flex-align:center;
    align-items:center;
}
}
@media (min-width:992px){
    .col-lg{
        -ms-flex-preferred-size:0;
        flex-basis:0;
        -ms-flex-positive:1;
        flex-grow:1;
        max-width:100%
    }
    .col-lg-auto{
        -ms-flex:0 0 auto;
        flex:0 0 auto;
        width:auto;
        max-width:100%
    }
    .col-lg-1{
        -ms-flex:0 0 8.333333%;
        flex:0 0 8.333333%;
        max-width:8.333333%
    }
    .col-lg-2{
        -ms-flex:0 0 16.666667%;
        flex:0 0 16.666667%;
        max-width:16.666667%
    }
    .col-lg-3{
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%
    }
    .col-lg-4{
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%
    }
    .col-lg-5{
        -ms-flex:0 0 41.666667%;
        flex:0 0 41.666667%;
        max-width:41.666667%
    }
    .col-lg-6{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
    .col-lg-7{
        -ms-flex:0 0 58.333333%;
        flex:0 0 58.333333%;
        max-width:58.333333%
    }
    .col-lg-8{
        -ms-flex:0 0 66.666667%;
        flex:0 0 66.666667%;
        max-width:66.666667%
    }
    .col-lg-9{
        -ms-flex:0 0 75%;
        flex:0 0 75%;
        max-width:75%
    }
    .col-lg-10{
        -ms-flex:0 0 83.333333%;
        flex:0 0 83.333333%;
        max-width:83.333333%
    }
    .col-lg-11{
        -ms-flex:0 0 91.666667%;
        flex:0 0 91.666667%;
        max-width:91.666667%
    }
    .col-lg-12{
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }
}
@media (min-width:1200px){
    .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
.d-none{
    display:none;
}
.d-inline{
    display:inline;
}
.d-inline-block{
    display:inline-block;
}
.d-block{
    display:block;
}
.d-table{
    display:table;
}
.d-table-row{
    display:table-row;
}
.d-table-cell{
    display:table-cell;
}
.d-flex{
    display:-ms-flexbox;
    display:flex;
}
.d-inline-flex{
    display:-ms-inline-flexbox;
    display:inline-flex;
}
.justify-content-start{
    -ms-flex-pack:start;
    justify-content:flex-start;
}
.justify-content-end{
    -ms-flex-pack:end;
    justify-content:flex-end;
}
.justify-content-center{
    -ms-flex-pack:center;
    justify-content:center;
}
.justify-content-between{
    -ms-flex-pack:justify;
    justify-content:space-between;
}
.justify-content-around{
    -ms-flex-pack:distribute;
    justify-content:space-around;
}
.align-items-start{
    -ms-flex-align:start;
    align-items:flex-start;
}
.align-items-end{
    -ms-flex-align:end;
    align-items:flex-end;
}
.align-items-center{
    -ms-flex-align:center;
    align-items:center;
}
}
/*================ End ====================*/
@media only screen and (min-width:768px){
  .container,.custom-container {
    max-width: 950px;
  }
}
@media only screen and (min-width:992px){
  .container, .custom-container {
    max-width: 1120px;
  }
}
@media only screen and (min-width:1200px){
  .container, .custom-container {
    max-width: 1170px;
  }
}
@media only screen and (min-width:1369px){
  .container, .custom-container {
    max-width: 1300px;
  }
}
@media only screen and (min-width:1441px){
  .container {
    max-width: 1400px;
  }
  .md-container {
    max-width:1350px;
  }
  .sm-container {
    max-width:1000px;
  }
}
@media only screen and (min-width:1650px){
  .container {
    max-width: 1800px;
  }
  .md-container {
    max-width:1480px;
  }
    .sm-container {
    max-width:1300px;
  }
}
.form-group {
   margin-bottom: 20px;
}
.form-control {
  	display: block;
	width: 100%;
   border: 1px solid var(--black);
   padding: 12px 15px;
   min-height: 51px;
   font-size: 13px;
   color: var(--black);
   letter-spacing: 0.5px;
   font-family: var(--font-family);
   border-radius: 0;
}
.form-control::placeholder {
   color: #6c757d;
   position: relative;
}
textarea.form-control {
   resize: none;
   min-height: 100px;
}
.grid {
	margin: 0 -15px;
}
.grid__item {
padding-left: 15px;
padding-right: 15px;
  padding-bottom:0;
}
.dropdown.productOptionSelect .dropdown-selected {
    width: 100%;
    min-height: 35px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid var(--black);
    text-align: left;
	padding: 7px 30px 7px 15px;
    color: var(--black);
}
.dropdown.productOptionSelect .caret, .quality-select .caret {
    display: block;
    border-bottom: 1px solid var(--black);
    border-left: 1px solid var(--black);
    width: 7px;
    height: 7px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    right: 13px;
    top: 13px;
}
.quality-select .dropdown-menu, .dropdown.productOptionSelect .dropdown-menu {
  width: 240px;
  padding: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown.productOptionSelect .dropdown-menu li input[type="radio"] {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    }
.dropdown.quality-select.open ul, .dropdown.productOptionSelect.open ul  {
   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
   border: 1px solid #e2e2e2;
	border-top: none;
  height: auto;
}
.quality-select.open .dropdown-menu, .dropdown.productOptionSelect.open .dropdown-menu {
    display: block;
}
.dropdown.productOptionSelect .dropdown-menu, .quality-select .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
      max-height: 200px;
    overflow: auto;
}
.quality-select .dropdown-menu li, .dropdown.productOptionSelect .dropdown-menu li  {
   line-height: 1.5;
  letter-spacing: 0.7px;
  color: #000;
  cursor: pointer;
  padding: 7.5px 15px;
  border-top: solid 1px #f3f3f3;
  position:relative;
}
.quality-select .dropdown-menu li:hover, .dropdown.productOptionSelect .dropdown-menu li:hover {
  background-color: var(--gray);
}
.ml-auto, .mx-auto {
    margin-left: auto;
}
.mr-auto, .mx-auto {
    margin-right: auto;
}
.primary_btn {
  background-color: var(--colorBtnPrimary);
    border-color: var(--colorBtnPrimary);  
      color: var(--colorBtnPrimaryText);
        }
a {
  color: var(--theme-color);
    cursor:pointer;
    }
p {
  font-size: var(--text_size);
    }
img {
  background-color: var(--colorImageBg);
    }
.nodatafound_wrapper, .template-404-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 350px;
}
.nodatafound_box,
.template-404{
  width:100%;
  text-align:center;
  max-width:400px;
  padding: 20px;
}
.nodatafound_wrapper {
    margin-bottom: 40px;
}
.template-404 {
  max-width:500px;
  margin-bottom:30px;
}
.nodatafound_box img,
.template-404 img {
  background-color: transparent;
  width:100%;
  max-width: 200px;
  display: block;
  text-align: center;
  margin: 0 auto 20px;
}
.template-404 img {
  max-width:450px;
}
.nodatafound_box h4,
.template-404 h4{
  margin:15px 0 7PX;
}
.nodatafound_box p,
.template-404 p{
  color: var(--dark-gray);
    margin-bottom:20px;
    }
.template-404 h2 {
  margin-top:20px;
}
.template-404-wrapper {
  min-height:600px;
}
/*=================== global css end ================*/
.page-description {
	margin-bottom:20px;
}
.top_page_title {
   padding: 80px 10px;
   min-height: 300px;
   background-size: cover;
   display: flex;
   align-items: center;
}
.top_page_title.no-bg {
   padding: 30px 0;
   min-height: 150px;
}
.top_page_title .banner_title {
   text-align: center;
   width: 100%;
}
.top_page_title .banner_title h1 {
   color: var(--white);
}
.top_page_title.no-bg .banner_title h1 {
   color: var(--black);
}
.banner-placeholder {
  height:100%;
}
.banner-placeholder .placeholder-svg {
  color: #e7d8cb;
  fill: #e7d8cb;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.placeholder-svg {
  color: #cfb39d;
  fill: #cfb39d;
  width: 100%;
    height: 100%;
}
.placeholder-svg-custom {
  width:40%;
  height:40%;
  display:block;
  margin:0 auto;
  color: #cfb39d;
  fill: #cfb39d;
}