@import "custom-animation.css";
h1,
h2,
h3,
h4,
h5,
h6{
  letter-spacing: var(--heading_spacing);
  color: var(--heading_color);
  letter-spacing: 0px;
  font-weight: var(--semibold);
}
.big-size{font-size:116px;color:var(--color-secondary);}
.style2 .bigger-heading{font-size:150px;color:var(--color-secondary);text-transform: uppercase;}
.style2 h2.top-title {
	font-size: 40px;
	font-weight: var(--thin);
    letter-spacing: 1px;
    line-height: 80px;
}
.offer h2{
  font-size: 60px;
}
h1 {
    font-size: 50px;
    line-height: 58px;
}
h2 {
    font-size: 30px;
    line-height: 35px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
}
h4 {
    font-size: 20px;
    line-height: 30px;
}
h5 {
    font-size: 18px;
    line-height: 26px;
}
h6{
  font-size:18px;
}
.normal-font{font-size:16px;}
.small-size{font-size:14px;}
.small-font{font-size:12px;}
em {
	font-style: italic;
}
a {
	text-decoration: none;
}
small, sub, sup { font-size: .50em }
sub { vertical-align: sub }
sup { vertical-align: super }
.form-control::placeholder {
	color: #6c757d;
	opacity: 1;
visibility: visible;
position: relative;
transition: all .3s ease;
}
blockquote {
  font-style: italic;
  color: var(--color-primary);
  border-left: 0.2rem solid var(--color-primary);
  padding-left: 1rem;
} 