footer img {
   background-color: transparent;
}
.footer-top-box {
    background-color: #39363d;
    padding: 30px 0;
}
.footer-middle-box {
    background-color: #302d34;
    padding: 50px 0;
}
.footer-bottom-box {
  padding: 20px 0;
	background-color: #252428;
}
.footer-menu-head {
   font-size: 16px;
   font-weight: var(--bold);
   margin-bottom: 20px;
   color: #b9b9b9;
   line-height: 26px;
}
footer ul li a,
footer p {
   line-height: 22px;
   letter-spacing: 0.2px;
}
footer ul li a {
   display: inline-block;
   margin-bottom: 10px;
}
#ContactFooter {
   position: relative;
   margin-top: 28px;
}
#ContactFooter #NewsletterForm--footer {
    padding: 13px 40px 13px 0;
    height: auto;
    font-size: 13px;
    color: var(--gray);
    border-bottom: 1px solid #585858;
}
#ContactFooter button {
   text-transform: none;
   top: 0;
   position: absolute;
   right: 0;
   font-size: 13px;
   line-height: 22px;
   padding: 0;
   height: 100%;
   min-width: auto;
   background: 0 0;
   min-height: 46px;
   border: 0;
}
.field__input:focus ~ .field__label,
.field__input:not(:placeholder-shown) ~ .field__label,
.field__input:-webkit-autofill ~ .field__label,
.customer .field input:focus ~ label,
.customer .field input:not(:placeholder-shown) ~ label,
.customer .field input:-webkit-autofill ~ label {
   font-size: 11px;
   top: 0px;
   letter-spacing: 0.4px;
}


.newsletter-box img {
    max-width: 15px;
}
.social-links ul li {
   width: 34px;
   height: 34px;
   background: #dadada;
   text-align: center;
   display: inline-block;
   margin-right: 10px;
   color: #fff;
}
.social-links ul li:last-child {
   margin-right: 0px;
}
.social-links {
   margin-top: 33px;
}
.social-links ul li:hover {
   opacity: 0.6;
}
.social-links ul li.fb {
   background: #222222;
}
.social-links ul li.twitter {
   background: #222222;
}
.social-links ul li.linkedin {
   background: #222222;
}
.social-links ul li.insta {
   background: #222222;
}
.social-links ul li a,
.social-links ul li a:hover {
   text-decoration: none;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.social-links li a {
   font-size: 13px;
}
.footer-copyright-box {
	display:flex;
  justify-content:space-between;
  align-items:center;
}
.list-payment {
   display: flex;
}
.list-payment li {
   padding: 0 6px;
   line-height: 0;
}
.list-payment li a {
   line-height: 0;
}
.list-payment li:last-child {
   padding-right: 0;
}
