.footer-section img {
  background-color: transparent;
}
.yv-footer-top-box {
  padding: 45px 0;
  border-bottom: 1px solid rgb(255 255 255 / 5%);
}
.yv-footer-middle-box {
  padding: 50px 0;
}
.yv-footer-bottom-box {
  padding: 10px 0 50px;
}
.footer-menu-head {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 26px;
  font-family: var(--font-family);
  color: #fff;
  letter-spacing: 0.2px;
}
.footer-menu-list ul li a {
  display: inline-block;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  position: relative;
}
.yv-newsletter-outerbox {
  display: flex;
  align-items: center;
}
.yv-newsletter-text {
    max-width: 33%;
    flex: 0 0 33%;
}
.yv-newsletter-text span {
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.yv-footer-newsletter-box {
    max-width: 67%;
    flex: 0 0 67%;
}
.yv-footer-newsletter-wrapper {
  position: relative;
}
.yv-footer-newsletter-wrapper input {
  padding: 10px 150px 10px 20px;
  min-height: 56px;
  color: var(--gray);
  border: 0;
  background-color: rgba(62, 62, 62, 0.22);
}
.yv-footer-newsletter-wrapper button {
  text-transform: none;
  top: 0;
  position: absolute !important;
  right: 0;
  font-size: 13px;
  line-height: 22px;
  height: 100%;
  background: 0 0;
  border: 0;
  min-width: 130px;
  overflow: hidden;
  display: inline-block;
  font-family: var(--font-family);
  background-color: var(--colorBtnPrimary);
  color: var(--colorBtnPrimaryText);
  transition: 0.25s ease-out;
  letter-spacing: 2px;
}
.yv-footer-payment-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list-payment {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
}
.list-payment li {
  padding: 5px;
  line-height: 0;
}
.list-payment li a {
  line-height: 0;
}
.lang-dropdown {
  border: 0;
  padding: 12px 30px 12px 20px;
  min-height: 30px;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-family: var(--font-family);
  border-radius: 0;
  min-width: 140px;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(62, 62, 62, 0.22)
    url(https://cdn.shopify.com/s/files/1/0597/9668/5009/files/select-arrow-white.png?v=1643970461)
    no-repeat 95% 52% /12px;
}
.btn-group.dropup {
  margin-right: 10px;
}
.yv-copyright-content {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  footer .footer-menu-accordion ul li a:hover {
    padding-left: 15px;
  }
  footer .footer-menu-accordion ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 0;
    height: 1px;
  }
  footer .footer-menu-accordion ul li a:hover:before {
    width: 10px;
  }
}
@media screen and (max-width: 1440px) {
  .yv-footer-newsletter-wrapper button {
    min-width: 130px;
  }
}
@media screen and (max-width: 1199px){
  .yv-footer-bottom-box {
    padding: 30px 0;
  }
  .yv-newsletter-text {
    display: none;
  }
  .yv-footer-newsletter-box {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media screen and (max-width: 991px){
  .yv-footer-top-box,
  .yv-footer-middle-box {
    padding: 30px 0;
}
  .yv-newsletter-outerbox {
    margin-bottom: 30px;
  }
  .yv-footer-payment-box {
    justify-content: center;
  }
  .footer-menu-list .col-xl-2 {
  	margin-bottom:20px;
  }
}
@media screen and (max-width: 767px) {
  .Yuva-logo {
    max-width: 80px;
  }
  .footer-menu-accordion ul {
    display: none;
    padding: 10px 0 5px;
  }
  .footer-menu-accordion {
    padding-bottom: 12px;
  }
  .footer-menu-head {
    position: relative;
    font-size: 14px;
    margin-bottom:0;
  }
  .footer-menu-accordion .footer-menu-head:after,
  .footer-menu-accordion .footer-menu-head:before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    width: 10px;
    height: 1px;
    background-color: currentColor;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  .footer-menu-head:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .footer-menu-accordion.active .footer-menu-head:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
  .footer-menu-accordion.active .footer-menu-head:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .yv-footer-top-box,
  .yv-footer-middle-box {
    padding: 20px 0;
  }
  .yv-footer-content p{
    display: none;
  }
  .yv-footer-copyright-box {
    padding: 20px 0;
  }
  .footer-menu-list .col-xl-2 {
    margin-bottom:5px;
  }
}
@media screen and (max-width: 575px){
  .yv-footer-payment-box {
    flex-wrap: wrap;
  }
  .yv-footer-payment-box .footer-payment {
    width: 100%;
  }
  .list-payment {
    margin-right: 0;
    justify-content: center;
    margin-bottom: 10px;
  }
}