/***footer-section***/
footer { background: #0e0e0e; padding: 60px 0 15px; overflow: hidden; } 
footer .full__item h5 { font-size: 18px; font-weight: var(--medium); margin-bottom: 25px; color: #999;line-height: 26px; } 
footer ul li a, footer .grid__item p { font-size: 14px; text-decoration: none; color: #999; font-weight: 400; line-height: 22px; letter-spacing: 0.2px; } 
footer .grid__item p { line-height: 22px;margin-top: 0px; } 
footer ul li a:hover { color: var(--theme-color); }
.footer-innner-continer {padding: 0px 20px 10px 0;}
#ContactFooter .field { position: relative; width: 100%; } 
#ContactFooter #NewsletterForm--footer { padding: 13px 20px; height: auto; background: #ffffff21; font-size: 13px; min-height:46px; color: var(--gray); } 
#ContactFooter { position: relative; margin-top: 28px; } 
#ContactFooter #Subscribe { text-transform: none;
/*   position: absolute;  */
  top: 0; right: 0; font-size: 13px; line-height: 22px; padding: 0; height: 100%; min-width: 88px; background:transparent; min-height:46px; width:100%;
  margin-top:10px; border:1px solid #383c40;} 
.field .field__label { color: rgba(52, 52, 52, 0.50); font-size: 13px; font-weight: 400; top: 12px; left: 20px; letter-spacing:0.4px; } 
.field__input:focus ~ .field__label, .field__input:not(:placeholder-shown) ~ .field__label, .field__input:-webkit-autofill ~ .field__label, .customer .field input:focus ~ label, .customer .field input:not(:placeholder-shown) ~ label, .customer .field input:-webkit-autofill ~ label {
     font-size: 11px; top:0px; letter-spacing: 0.4px;
}
#ContactFooter #Subscribe:hover {
  color:#fff;
}
footer .grid__item:nth-last-child(2) { position: relative; } 
/* footer .grid__item:nth-last-child(2)::after { content: ""; position: absolute; right: 0px; border-right: 1px solid #1d2329; width: 1px; height: 100%; top: 0px; } */
.social-links ul li { width: 34px; height: 34px; background: #dadada; text-align: center; display: inline-block; margin-right: 10px; color: #fff; }
.social-links ul li:last-child { margin-right: 0px;}
.social-links { margin-top: 33px; } 
.social-links ul li:hover { opacity:0.6; } 
.social-links ul li.fb{ background: #222222; } 
.social-links ul li.twitter{ background: #222222; } 
.social-links ul li.linkedin{ background: #222222; } 
.social-links ul li.insta{ background: #222222; } 
.social-links ul li a, .social-links ul li a:hover{ text-decoration:none; color: #fff;display: flex;justify-content: center;align-items: center;height:100%; } 
.footer-block { margin: 0 -15px; }      
.list-payment { display: flex; } 
.list-payment li{ padding: 0 6px; line-height: 0; } 
.list-payment li a{ line-height: 0; } 
.list-payment li:last-child{ padding-right: 0 ; } 
small.copyright__content { color: #999; letter-spacing: 0.2px; font-size:15px; font-weight:var(--normal); } 
.footer__content-bottom:before{ position: absolute; content: ""; top: 0; width: calc(100vw + 50%); } 
.footer__content-top{ position: relative;padding-bottom:65px;} 
.footer__content-bottom { position: relative; padding: 39px 0 23px;width: 100%; border-top: 1px solid #242424;}
.social-links li a {font-size: 13px;}
footer ul li a {
  display:inline-block;
  margin-bottom:10px
}
form#ContactFooter .newsletter-form__field-wrapper label.field__label {
    display: none;
}
/***END***/