/*============== announcement bar css start =================*/
.announcement-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.announcement-bar__message {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.announcement_icon {
  font-size: 18px;
  margin-right: 5px;
}
.announcement-bar__message p {
  margin: 0 5px;
  font-size: 13px;
}
.announcement-bar__message ul {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 125px;
}
.announcement-bar__message ul li {
  display: flex;
  align-items: center;
}
.announcement-bar__message ul li span {
  background: rgba(255, 255, 255, 0.25);
  color: var(--white);
    padding: 3px 2px;
    margin: 0 1px;
    min-width: 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    }
.announcement-bar__message ul li span#dayHours {
  background: transparent;
}
.announcement-bar .announce-btn {
  padding: 2px 8px;
  font-size: 12px;
  display: inline-block;
  letter-spacing: 0;
  border:1px solid;
}
div#countdown {
  display: inline-block;
}
.announcement-bar .announce_close {
  cursor: pointer;
  margin-left: 10px;
}
.announcement-bar .announce_close svg {
  fill: currentColor;
  width: 10px;
}
/*============== announcement bar css end =================*/
.list-menu--inline .nav-item.menu-item--no-mega .sub-menu {
  padding: 15px 15px 15px;
}
.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
}
.navbar .dropdown-toggle,
.navbar .dropdown-menu a {
  cursor: pointer;
}
/*======================== header menu css start ==================*/
header {
  width: 100%;
}
.top-header {
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    animation-duration: 1s;
  animation-fill-mode: both;
}
.nav-menu-btn {
  display: none;
}
.header__heading-link {
    display: inherit;
    align-items: center;
    margin-right: 20px;
}
.header__heading-link img {
  max-width: 250px;
  margin: 0 auto;
  background-color: transparent;
  image-rendering: -webkit-optimize-contrast;
}
.navbar {
  position: static;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header_1 .navbar {
    padding: 7px 0;
}
.navbar-collapse-sidebar .navbar-nav {
	display:flex;
}
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  	max-width:80%;
    justify-content: center;
}
.nav-item .list-menu__item {
    position: relative;
    display: inline-block;
    padding: 13px 13px;
    font-size: 15px;
    line-height: 32px;
    cursor: pointer;
    text-transform: capitalize;
    margin: 0 10px;
}
.header__icons {
    display: flex;
    align-items: center;
}
.header__icons > div {
  margin-left: 30px;
}
.header__icons svg {
    width: 19px;
    cursor: pointer;
    fill: currentColor;
}
.wrapper-top-cart .cartCount {
    width: 14px;
    height: 14px;
    background: var(--cartDotColor);
    color: var(--cartDotText);
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 0;
    border-radius: 100%;
    border: 2px solid #fff;
}
.wrapper-top-cart .cart-icon {
    position: relative;
}
.wrapper-top-cart a,
.customer-links a,
.search-form a {
  display: flex;
  align-items: center;
}
#currency_form select {
    border: none;
    background: transparent;
    font-weight: var(--medium);
    font-family: var(--font-family);
    color: var(--black);
    font-size: var(--med-text);
    line-height: 32px;
    letter-spacing: 0.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/menu-dropdown.svg);
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 15px;
    cursor: pointer;
    min-width: 60px;
    text-align: right;
}
.currency-block .label-text {
  display: none;
}
.currency-block {
  position: relative;
}
.currency-block .dropdown-menu {
    background-color: var(--white);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 3;
    padding: 3px 0px 3px;
    width: 100%;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    display: none;
}
.currency-block .dropdown-menu a.dropdown-item {
  width: 100%;
  font-size: 12px;
  padding: 3px 10px;
  display: inline-block;
}
.currency-block .dropdown-menu a.dropdown-item:hover {
  background: var(--gray);
}
.currency-block .dropdown-toggle {
  position: relative;
  font-size: 12px;
  background: var(--gray);
  padding: 5px 36px 5px 12px;
  min-width:100px;
}
.search-form .header-search__input {
  background: var(--search-background);
    width: 120px;
    font-family: var(--font-family);
      padding: 8px 12px 8px 40px;
      border-radius: var(--search-border-radius);
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        color: var(--search-color);
          letter-spacing: 0.2px;
          height: 40px;
          }
.header-search__input::-webkit-input-placeholder {
  color: var(--search-color);
    font-family: var(--font-family);
      opacity: 1;
      }
.header-search__input::-moz-placeholder {
  color: var(--search-color);
    font-family: var(--font-family);
      opacity: 1;
      }
.header-search__input:-ms-input-placeholder {
  color: var(--search-color);
    font-family: var(--font-family);
      opacity: 1;
      }
.header-search__input:-moz-placeholder {
  color: var(--search-color);
    font-family: var(--font-family);
      opacity: 1;
      }


.currency-block .dropdown-toggle:after {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  transform: rotate(225deg);
  position: absolute;
  right: 12px;
  top: 10px;
}
.header-lang-style2 .lang-currency-groups .dropdown-item {
  align-items: center;
  letter-spacing: 0.2px;
  padding: 7px 10px 5px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.site-nav-dropdown a > span.sale_on {
  background: var(--green);
    }
.site-nav-dropdown a > span.new_arrival {
  background: var(--red);
    }
.site-nav-dropdown a > span.sale_on,
.site-nav-dropdown a > span.new_arrival {
  color: var(--white);
    font-size: 10px;
    text-transform: uppercase;
    padding: 1px 2px;
    margin-left: 6px;
    }
.site-nav-dropdown .row {
  margin: 0;
  align-items: flex-start;
}
/**nav-style2**/
#nav_style_2 ul.navbar-nav.list-menu--inline li.nav-item:first-child,
#nav_style_2 ul.navbar-nav.list-menu--inline li.nav-item:first-child a,
#nav_style_5 ul.list-menu.left-side li.nav-item:first-child,
#nav_style_5 ul.list-menu.left-side li.nav-item:first-child a {
  padding-left: 0;
}
#nav_style_2 ul.navbar-nav.list-menu--inline,
#nav_style_5 ul.list-menu.left-side {
  margin-left: 0;
}
#nav_style_2 .header__heading-link,
#nav_style_5 ul.list-menu.left-side {
  margin-right: 0;
}
.top-header .navbar#nav_style_2 form {
  max-width: calc(50% - 155px);
  width: 100%;
}
#nav_style_2.navbar-expand-md .navbar-collapse {
  flex-grow: 0;
  max-width: calc(50% - 155px);
  width: 100%;
}
/**nav-style2-End**/
/** header_2 **/
.header_2 .navbar-expand-md .nav-item .list-menu__item {
  padding: 7px 14px 7px 0;
  margin-right: 35px;
  font-size: 12px;
  line-height: 30px;
  margin-left: 0;
}
.header_2 .navigation__header {
  display: flex;
  align-items: center;
  width: 100%;
}
.navigation__header {
  position: relative;
}
.header_2 .header-right {
  position: absolute;
  right: 0;
}
.header_2 .nav-top-header {
  padding: 20px 0;
}
.nav_2 .navbar {
  padding: 0;
}
.navbar-nav .nav-item span.sf-menu__arrow {
  position: absolute;
  top: 51%;
  right: 0;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navbar-nav .nav-item .sf-menu__arrow svg {
  width: 0.6rem;
  height: 0.6rem;
}
#nav_style_3 .navbar-expand-md .nav-item .list-menu__item {
  padding: 12px 20px;
  position: relative;
}
#nav_style_3 ul.navbar-nav.list-menu--inline li.nav-item:last-child,
#nav_style_3 ul.navbar-nav.list-menu--inline li.nav-item:last-child a {
  padding-right: 0;
}
#nav_style_3 ul.navbar-nav.list-menu--inline li.nav-item:first-child,
#nav_style_3 ul.navbar-nav.list-menu--inline li.nav-item:first-child a {
  padding-left: 0;
}
#nav_style_3 ul.navbar-nav.list-menu--inline {
  margin-left: 0;
  width: 100%;
  margin-right: 0 !important;
}
.navbar-nav .nav-item.menu-item--no-mega {
  position: relative;
}
.nav-item.menu-item--no-mega .sub-menu {
  min-width: 280px;
}
.nav-item.menu-item--no-mega
.sub-menu.multiple_navigation
.site-nav-dropdown
.sub-menu-list {
  width: 100%;
  flex: 0 0 100%;
}
.nav-item.menu-item--no-mega .sub-menu.multiple_navigation .site-nav-dropdown {
  flex: 0 0 50%;
}
.navbar-nav .nav-item.menu-item--no-mega .sub-menu.multiple_navigation {
  display: flex;
  min-width: 624px;
  padding: 29px 34px;
  box-shadow: 0px 1px 3px #c4cdd5;
}
.navbar-nav
.nav-item.menu-item--no-mega
.sub-menu.multiple_navigation.mutluColumn-3 {
  min-width: 840px;
  width: 100%;
}
.navbar-nav
.nav-item.menu-item--no-mega
.sub-menu.multiple_navigation.mutluColumn-3
.site-nav-dropdown {
  flex: 0 0 33.3%;
  min-width: 33.3%;
}
.site-nav-dropdown .inner.dropdown.drp-dwn-img .sub-menu-list.menu-sale-image {
  flex: 0 0 33.33333333%;
  margin-left: auto;
}
.sub-menu-list.menu-sale-image img {
  width: 100%;
}
.nav-item.prd-img-drpdwn {
  position: relative;
}
.list-menu--inline .nav-item.prd-img-drpdwn .sub-menu.pd-b-0 {
  width: 100%;
  min-width: 855px;
  left: 0;
}
.list-menu--inline
.nav-item.prd-img-drpdwn
.sub-menu
.sub-menu-list.product__img {
  flex: 0 0 30%;
}
.list-menu--inline .nav-item.prd-img-drpdwn .sub-menu .sub-menu-list {
  flex: 0 0 35%;
}
.navbar-nav .nav-item.menu-item--no-mega.prd-img-drpdwn .sub-menu {
  padding: 31px 0px 0px 34px;
  box-shadow: 0px 1px 3px #c4cdd5;
}
.list-menu--inline .nav-item.menu-item--no-mega .sub-menu {
  padding: 31px 34px;
  box-shadow: 0px 1px 3px #c4cdd5;
}
.navbar-nav
.nav-item.menu-item--no-mega
.sub-menu.multiple_navigation.mutluColumn-3
.no_space_around_image
img {
  width: 100%;
}
.sub-menu .card-wrapper-img,
.template_collection  .sub-menu .card-wrapper-img,
.sub-menu-list .menu-image-content{
  height: 230px;
  min-height: 230px;
}
/**nav-style3 End**/
/*================= nav-humburger-menu ==============*/
.navbar-toggler {
  background: transparent;
  position: relative;
  height: 22px;
}
.navbar-toggler span.navbar-toggler-icon,
.navbar-toggler span.navbar-toggler-icon:before,
.navbar-toggler span.navbar-toggler-icon:after {
  width: 27px;
  height: 2px;
  position: relative;
}
.navbar-toggler span.navbar-toggler-icon {
  position: relative;
  background: #2f2f2f;
  transition: all 0s 0.1s, width 150ms linear;
  display: block;
}
.navbar-toggler span.navbar-toggler-icon:before,
.navbar-toggler span.navbar-toggler-icon:after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  background: #2f2f2f;
  transition: bottom 0.3s 0.1s cubic-bezier(0.23, 1, 0.32, 1),
    transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), width 150ms linear,
    background 150ms linear;
}
.navbar-toggler span.navbar-toggler-icon:after {
  top: 7px;
  bottom: auto;
}
.navbar-toggler:hover span.navbar-toggler-icon::before {
  width: 17px;
}
.navbar-toggler:hover span.navbar-toggler-icon::after {
  width: 20px;
}
.navbar-toggler:hover span.navbar-toggler-icon {
  width: 31px;
}
.nav-open .navbar::after {
  position: absolute;
  content: "";
  background: #00000057;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}
#dropdown-customer,
.side-menu {
  width: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  left: -400px;
  z-index: 99999;
  height: 100%;
  padding: 40px 30px;
  webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav-open .side-menu {
  left: 0;
}
.side-menu .inner-side .close-btn {
  background: 0 0;
  align-content: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom:30px;
}
.side-menu .inner-side .navbar-nav {
    border-top: 1px solid #e8e8e1;
    padding-top: 20px;
    border-bottom: 1px solid #e8e8e1;
    padding-bottom: 20px;
}
.side-menu .inner-side .navbar-nav li.nav-item {
  width: 100%;
}
.inner.child,
.inner.grandchild{
  display:none
}
.inner.grandchild.show {
  padding: 0;
}
.side-menu .inner-side ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  flex-direction: column;
  width: 100%;
}
.side-menu .inner-side ul li a:not(.caption-with-letter-spacing) {
  font-size: 22px;
  line-height: 1.3;
  display: block;
  position: relative;
  padding: 12px 0;
  margin: 0;
  text-transform: capitalize;
}
.side-menu .inner-side ul li.dropdown > a::after {
  content: "";
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%) rotate(135deg);
  -webkit-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  right: 3px;
  width: 8px;
  height: 8px;
  border-top: 1.5px solid;
  border-right: 1.5px solid;
  transition:.5s ease all;
}
.side-menu .inner-side ul li.dropdown>a.toggle-level::after {
  width: 6px;
  height: 6px;
}
.side-menu .inner-side ul li.dropdown .open-menu-drop::after {
  -moz-transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
.navbar-expand-md .navbar-toggler {
  display: block;
  position: relative;
}
.side-menu .social-links ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.side-menu .social-links ul li a {
  text-decoration: none;
  color: var(--black);
    letter-spacing: .2px;
    position: relative;
    padding: 0;
    font-size: 16px;
    }
.side-menu .card.card--product {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
}
body.nav-open {
  overflow: hidden;
}
.menu-login-btn {
  margin-top: 30px;
}
.side-menu .nav-item.dropdown .inner .back-btn {
  background: 0 0;
  z-index: 99;
  align-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: var(--normal);
    font-family: var(--font-family);
      }
.side-menu .nav-item.dropdown .inner .back-btn svg {
  margin-right: 10px;
  width: 15px;
  fill: currentColor;
}
.side-menu .nav-item.dropdown .inner.child li a:not(.caption-with-letter-spacing) {
    font-size: 18px;
    padding: 10px 0;
}
.inner.child {
    margin: 0px 0 15px;
}
.inner.grandchild {
    margin: 0px 15px;
    border-left: 1px solid #eee;
    padding-left: 15px;
}
.side-menu .nav-item.dropdown .inner.grandchild li a:not(.caption-with-letter-spacing) {
    font-size: 14px;
    padding: 8px 0;
}
.side-menu .nav-item.dropdown .inner.child li a.open-menu-drop {
  margin-bottom: 5px;
}
.sub-menu-list .product-information__wrapper .caption-with-letter-spacing {
    padding-top: 5px;
    padding-bottom: 0;
}
.header_3 .list-menu--inline .nav-item.open > .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  top: 100%;
  position: static;
}
.header_3 .list-menu--inline .nav-item > .sub-menu {
  position: static;
  opacity: 1;
  visibility: visible;
}
.header_3 .nav__btn .menu_title {
  margin-left: 15px;
  font-size: 16px;
}
.header_3 .header__heading-link {
  position: absolute;
  margin: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  display: inherit;
}
.header_3 .nav__btn {
  display: flex;
  align-items: center;
}
.header_3 #navbarCollapse {
  padding-top: 40px;
}
.header_3 #nav_style_4 {
  padding: 25px 0;
}
.inner-child-menu .category_title {
  padding-top: 30px;
  margin-bottom: 30px;
}
.inner-child-menu .category_title h2 {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
}
.side-menu .inner-side ul li a.link {
  font-size: 14px;
  color: #fff;
  border-bottom: 1px solid;
  text-decoration: none;
  display: inline-block;
}
.menu__login__btn {
  margin-top: 52px;
}
.lower-nav {
  margin-top: 20px;
}
.sub-menu-list .grid-item {
  padding:0 5px;
}
.sub-menu-list .menu-image-content {
  position: relative;
}
.sub-menu-list .menu-image-content .menu-content {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  flex-direction: column;
  background-color: #00000029;
}
.sub-menu-list .menu-image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}
.items-1 .sub-menu-list.mega-images .menu-image-content {
  height: 300px;
}
.sub-menu-list .menu-image-content .menu-content h6 {
  margin-bottom: 10px;
  color: var(--white);
    }
.sub-menu-list .menu-image-content .menu-content .small-btn {
  padding: 2px 5px;
  min-width: 75px;
  font-size: 12px;
}
.side-menu .card-wrapper-img {
  min-height: 210px;
  max-height: 210px;
}
.side-menu .product-information__wrapper a:not(.caption-with-letter-spacing) {
  padding: 0!important;
}
.side-menu .sub-menu-list {
  margin-top: 15px;
}
/*============= nav-humburger-menu-end =====================*/
/* mega menu start*/
.samecategory {
  display: flex;
  width: 100%;
  padding: 0;
}
.nocategory,
.items-1 {
  padding: 0;
}
.samecategory .sub-menu-list.row {
  max-width: 50%;
  flex: 0 0 50%;
  margin: 0;
}
.samecategory.items-1 .sub-menu-list.row {
  max-width: 100%;
  flex: 0 0 100%;
}
.inner-child-menu {
  padding-left: 5px;
}
/* mega menu end */
.nav-open {
  position: relative;
}
.nav-open:after {
  position: absolute;
  content: "";
  background: #00000057;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.customer-title h5 {
  padding-top: 20px;
  letter-spacing: 0.5px;
  font-weight: var(--medium);
    color: var(--black);
      margin-bottom: 5px;
      font-family: var(--font-family);
        }
.customer-note p {
  letter-spacing: 0.04em;
  font-size: var(--med-text);
    line-height: 18px;
    color: var(--black);
      padding: 13px 0 25px;
      }
.customer-content .ct-login label span {
  font-size: var(--med-text);
    letter-spacing: 0.04em;
    font-weight: var(--normal);
      color: var(--black);
        }
.customer-content .ct-login .form-group {
  margin-bottom: 15px;
}
.customer-content .ct-login input {
  font-size: var(--small-text);
    border: 1px solid var(--black);
      background-color: var(--color_text_field);
        color: var(--color_text_field_text);
          border-radius: 0;
          height: auto;
          max-width: 100%;
          line-height: 40px;
          padding: 0 15px;
          max-height: 35px;
          background-clip: unset;
          }

.side-menu .icon {
  margin-right: 10px;
  width: 12px;
  fill: currentcolor;
}
.customer-content .ct-login .action-btn .forgot-password {
  margin: 0 0 15px;
  display: inline-block;
  text-decoration: none;
}
.customer-content .ct-login .action-btn .forgot-password span {
  font-size: var(--small-text);
    line-height: 18px;
    letter-spacing: 0.04em;
    color: var(--black);
      border-bottom: 1px solid var(--black);
        }
.customer-content .ct-login .btn-login,
.customer-content .ct-register .btn {
  max-width: 100%;
  color: var(--white);
    line-height: normal;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.25s ease-out;
    font-size: var(--med-text);
      min-height: initial;
      max-height: inherit;
      text-transform: uppercase;
      letter-spacing: 0.2px;
      border: 0;
      }
.customer-content .ct-login .btn-login {
  background-color: var(--black);
    font-family: var(--font-family);
      background-image: -moz-linear-gradient(
        90deg,
        var(--bg-theme) 0%,
          var(--bg-theme) 50%,
            #000000 50%,
            #000000 100%
          );
          background-image: -webkit-linear-gradient(
            90deg,
            var(--bg-theme) 0%,
              var(--bg-theme) 0 50%,
                #000000 50%,
                #000000 100%
              );
              background-image: linear-gradient(
                90deg,
                var(--bg-theme) 0%,
                  var(--bg-theme) 50%,
                    #000000 50%,
                    #000000 100%
                  );
                  }
.customer-content .ct-register .btn {
  background-color: var(--bg-theme);
    background-image: -moz-linear-gradient(
      90deg,
      #000000 0%,
      #000000 50%,
      var(--bg-theme) 50%,
        var(--bg-theme) 100%
        );
        background-image: -webkit-linear-gradient(
          90deg,
          #000000 0%,
          #000000 50%,
          var(--bg-theme) 50%,
            var(--bg-theme) 100%
            );
            background-image: linear-gradient(
              90deg,
              #000000 0%,
              #000000 50%,
              var(--bg-theme) 50%,
                var(--theme-color) 100%
                );
                display: inline-block;
                text-align: center;
                text-decoration: none;
                margin-top: 14px;
                }
.customer-content .ct-login .btn-login:hover,
.customer-content .ct-register .btn:hover {
  background-position: left bottom;
}
.customer-content .ct-register {
  margin: 20px 0;
}

.list-menu--inline .nav-item .sub-menu {
  top: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 31px 0 47px;
  max-height: 82vh;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-box-shadow: 0 8px 17px -16px rgb(0 0 0 / 22%);
  -moz-box-shadow: 0 8px 17px -16px rgb(0 0 0 / 22%);
  box-shadow: 0 8px 17px -16px rgb(0 0 0 / 22%);
  background: var(--white);
    -webkit-transition: opacity 0.2s ease 0.1s, visibility 0.2s ease 0.1s,
    top 0.2s ease 0.1s;
    -moz-transition: opacity 0.2s ease 0.1s, visibility 0.2s ease 0.1s,
    top 0.2s ease 0.1s;
    -o-transition: opacity 0.2s ease 0.1s, visibility 0.2s ease 0.1s,
    top 0.2s ease 0.1s;
    transition: opacity 0.2s ease 0.1s, visibility 0.2s ease 0.1s,
    top 0.2s ease 0.1s;
    }
.site-nav-dropdown .inner.dropdown .sub-menu-list {
  overflow: hidden;
}
.site-nav-dropdown .inner.dropdown .sub-menu-list .menu-mb-title span {
  margin-bottom: 5px;
  display: block;
  color: var(--heading_color);
        font-weight: bold;
    }
.site-nav-dropdown .inner.dropdown .sub-menu-list .site-nav-dropdown li a {
  letter-spacing: 0.5px;
  font-size: 12px;
  padding: 0px 0 4px;
  display: block;
}
.site-nav-dropdown
.inner.dropdown
.sub-menu-list
.site-nav-dropdown
li
a:hover {
  color: var(--black);
    }
.site-nav-dropdown .inner.dropdown {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.site-nav-dropdown .box-items {
  order: 2;
}
.site-nav-dropdown .inner.dropdown .sub-menu-list.spacing_around_image img {
  width: 100%;
}
.site-nav-dropdown .inner.dropdown .menuLinks-wrapper .sub-menu-list {
  margin-bottom: 15px;
}
.list-menu--inline .nav-item.open > .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  border-top: 1px solid #ececec;
}
.customer-open #dropdown-customer {
  right: 0;
}
.custom_login {
  padding: 30px 30px;
}
.side-menu .card-wrapper-img a {
  padding:0!important;
}
.top-header .nav__header {
  border-top: 1px solid #eaeaea;
}

.search-bar-container {
  z-index: 99999;
  background-color: var(--white);
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s;
    transform: translateY(-100%);
    }
.addsearch .search-bar-container {
  transition: 0.8s;
  transform: translateY(0%);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  max-height:100%;
  overflow:auto;
}
.addsearch .search-bar-box.search-box {
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 9%);
}

/* .search-bar-container .search-bar-box { width: 100%; max-width: 100%; margin: 0 auto; outline: 0; padding: 0 38px; }  */
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.search-bar-container .search-bar-box .search-input {
  height: auto;
  background-color: transparent;
  border: 0;
  color: var(--black);
    outline: 0;
    font-family: var(--font-family);
      font-size: 16px;
      padding: 30px 33px;
      padding-right: 50px;
      line-height: 40px;
      }
.search-bar-container .search-bar-box svg.HeaderProClose {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 20px;
  fill: #6b6b6b;
  display: block;
  cursor: pointer;
  z-index: 9;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
}
.search-bar-container .search-bar-box svg.HeaderProClose:hover,
.search-bar-container .search-bar-box svg.HeaderProClose:hover path {
  fill: var(--theme-color);
    color: var(--theme-color);
      }
.search-bar-container .search-bar-box button.btn.btn-search {
  margin: 2px 10px 0 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0px;
  width: auto;
  background: transparent;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-bar-container
.search-bar-box
button.btn.btn-search
.header_icon_search {
  width: 20px;
  height: 20px;
}
.search-bar-box.search-box form {
  width: 100%;
}
.search-bar-container .search-bar-box svg.HeaderProClose path {
  fill: #6b6b6b;
}
.addsearch {
  position: fixed;
  width: 100%;
}
.addsearch::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #00000052;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  transition: 0.8s;
}
.search-bar-container .search-bar-box .AjaxSearchResponse {
  background: var(--white);
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    }
.search-bar-container .search-bar-box .AjaxSearchResponse .ActiveSearch {
  border: none;
  padding: 0 0 3px 0;
  background: var(--white);
    }
.search-bar-container
.search-bar-box
.AjaxSearchResponse
.recent-search-list
h5 {
  width: 100%;
  color: var(--black);
    font-size: var(--med-text);
      padding: 14px 0px 15px;
      font-weight: var(--medium);
        margin-bottom: 0;
        }
.search-bar-container
.search-bar-box
.AjaxSearchResponse
.recent-search-list
.recent-search-inner {
  max-height: initial;
  padding: 0;
}
.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: 0;
  direction: ltr;
}
.search-bar-container
.search-bar-box
.AjaxSearchResponse
.recent-search-list
ul {
  padding: 0 0 20px;
}
.search-bar-container
.search-bar-box
.AjaxSearchResponse
.recent-search-list
ul
li {
  margin-right: 10px;
  min-width: 83px;
  text-align: center;
}
.search-bar-container
.search-bar-box
.AjaxSearchResponse
.recent-search-list
ul
li
a {
  font-size: var(--extra-small);
    text-align: center;
    color: #15161d;
    font-weight: var(--medium);
      width: 70px;
      text-decoration: none;
      }
.search-bar-container
.search-bar-box
.AjaxSearchResponse
.recent-search-list
ul
li
a
span {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 50%;
  background: var(--white);
    margin: 0 auto;
    }
.search-bar-container
.search-bar-box
.AjaxSearchResponse
.recent-search-list
ul
li
a
span
img {
  width: 100%;
  border: 3px solid var(--border-white);
    background-color: #f4f4f6;
    border-radius: 50%;
    height: 100%;
    }
.search-bar-container .search-bar-box .AjaxSearchResponse .results-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  border-top: 1px solid #e6e6e6;
}
.search-bar-container .search-bar-box .AjaxSearchResponse .results-box h3 {
  width: 100%;
  color: var(--black);
    font-size: var(--med-text);
      padding: 29px 0px 15px;
      font-weight: var(--medium);
        margin-bottom: 0;
        }
.search-recent-list {
  display:flex;
  overflow-y:auto;
  padding-bottom: 25px;
  padding-left:5px;
}
.search-bar-container
.search-bar-box
.AjaxSearchResponse
.results-box
.result-list {
  background-color: var(--white);
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0 0px 0;
    margin: 0 auto;
    scrollbar-color: #adadad #f1f1f1;
    scrollbar-width: thin;
    display: flex;
    }
.search-bar-container .results-box .note {
  color: var(--theme-color);
    font-weight: bold;
    display: block;
    text-align: center;
    background: 0 0;
    bottom: 0;
    padding: 13px 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    }
.search-bar-container .results-box .note:hover {
  color: var(--theme-color);
    }
.results-box {
  width: 100%;
}
.results-box .result-list {
  margin: 0 -5px;
  display: flex;
  overflow-y: auto;
  flex-wrap: nowrap;
}
.results-box .result-list .searc-item-box {
  margin: 0 0 20px;
  max-width: 14.25%;
  flex: 0 0 14.25%;
  padding: 0 5px;
}
.results-box .result-list .searc-item-box .card-wrapper-img {
  min-height: 240px;
  max-height: 240px;
}
.results-box .result-list .searc-item-box .img {
  width: 100%;
  height: 250px;
  text-align: center;
  margin: 0;
  display: flex;
  background-color: #f1f1f1;
  line-height: 200px;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
}
.results-box .result-list .searc-item-box .img img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.results-box .result-list .searc-item-box .title_price {
  margin-top: 10px;
  margin-bottom: 10px;
}
.results-box .result-list .searc-item-box .d-title {
  padding: 0 0;
  color: var(--black);
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-weight: 400;
    line-height: 20px;
    }
.results-box .result-list .searc-item-box .d-price {
  color: var(--black);
    font-size: 14px;
    font-weight: var(--semibold);
      margin-top: 5px;
      }
.media-link {
  position: relative;
  width: 100%;
  padding-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.media-body {
  width:100%;
}
div#mini__cartForm {
  height: 100%;
}
#mini__cartForm .media-link.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.media-link .sd_mini_removeproduct {
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 0;
  transform: translateY(-50%);
  color: #555555;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid;
  line-height: 1.2;
}
.leave-order-note span {
  text-transform: capitalize;
  border-bottom: 1px solid;
  cursor:pointer;
}
.cartDrawerNote {
  display: inline-block;
  position: relative;
  padding-right: 13px;
}
.cartDrawerNote:after {
  position:absolute;
  content:"";
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  transform: rotate(
    225deg);
  right: 0;
  top: 6px;
  transition:.5s ease;
}
.cartDrawerNote.active:after {
  transform: rotate(
    -135deg);
}
.cartDrawerNote.active {
    border: 0;
}
.cartDrawerNote.active + .cartNoteContainer {
    margin-top: 2px;
}
.cartNoteContainer {
  margin-top: 10px;
}
.leave-order-note textarea {
  border: 1px solid #eaeaea;
  height: 80px;
  padding: 10px;
}
.cart-item-container > p {
  margin: 21px 0 11px;
  color: var(--black);
    }
.cart-item-container .media-link img {
  width: 83px;
  background: #f4f5f0;
  text-align: center;
  margin: 0 25px 0 0;
  float: left;
  height: auto;
}
.cart-item-container .media-link .media-body .cart-item-link a {
  text-decoration: none;
  font-size: var(--small-text);
    font-weight: var(--normal);
      color: var(--black);
        line-height: 20px;
        letter-spacing: 0.9px;
        }
.cart-item-container .media-link .media-body .variant_title {
  font-size: var(--extra-small);
    font-weight: var(--medium);
      color: var(--gray);
        }
.bottom-cart-box {
  background-color: var(--white);
    padding: 15px 20px;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    background: #fff;
    z-index: 1;
    }
.media-link .media-body h5.cart-item-link {
  line-height: normal;
  margin-top: -9px;
}
.right-media-cart {
  margin-top: 10px;
  position: relative;
}
.right-media-cart .quantity-button svg {
  height: 10px;
  stroke: var(--black);
    }

/**mini-search**/
.search-bar-container.search_small {
  position: absolute;
  max-width: 750px;
  width: 100%;
  right: 0;
  top: 95px;
  opacity: 0;
  visibility: hidden;
  -moz-transform: translateY(-60%);
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
}
.small_search .search-bar-container.search_small .search-input {
  background: #f5f5f5;
  padding: 13px 33px;
}
.small_search .search-bar-container.search_small {
  -moz-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.small_search .top-header .navbar {
  position: relative;
}
.search_small .search-bar-box.search-box {
  padding: 33px 28px 0;
}
.top-header .navbar .search_small .search-bar-box.search-box form {
  max-width: 100% !important;
}
.top-header .navbar .search_small .search-bar-box.search-box form label {
  font-size: 20px;
  color: var(--black);
    font-weight: var(--semibold);
      }
.search_small .cstm-input-box {
  max-width: 100%;
  flex: 0 0 100%;
  position: relative;
  margin: 20px 0 40px;
}
.search_small .cstm-input-box .input-group-append {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 22px;
  line-height: 1;
  width: 18px;
  height: 18px;
  margin-top: 1px;
}
.search_small .cstm-input-box .input-group-append svg {
  width: 18px;
  height: 18px;
}
.search_small .cstm-input-box .search-input {
  padding-left: 52px !important;
  padding-right: 160px !important;
}
.search_small .search-bar-box .cstm-input-box button.btn.btn-search {
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  transform: inherit;
  -moz-transform: inherit;
  -webkit-transform: inherit;
  transform: inherit;
  background: #282828;
  color: #fff;
  max-width: 155px;
  width: 100%;
  font-size: 18px;
}
.search_small .results-box .result-list a.searc-item-box {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
.search_small .results-box .result-list a.searc-item-box:last-child {
  margin-bottom: 0;
}
.search_small .result-list a.searc-item-box .img {
  width: 80px;
  max-width: 80px;
  flex: 0 0 80px;
  height: 80px;
}
.search_small .result-list a.searc-item-box .title_price {
  margin: 0 0 0 20px;
  width: calc(100% - 100px);
}
.search_small .result-list a.searc-item-box span {
  color: #979797;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 3px;
}
.search_small #recent_search_list {
  height: 100%;
  border-right: 1px solid #ececec;
}
.search_small .note {
  display: block;
  text-align: center;
  width: 100%;
  padding: 11px 15px;
  background: #f2f2f2;
  color: #232222;
  font-weight: 600;
}
.search_small .search-small-list {
  padding: 0;
  margin: 0 0 40px;
  width: 100%;
}
.search_small .search-bar-box.search-box {
  padding: 0;
}
.search_small .search-padding-sec {
  padding: 33px 28px 0;
}
.search_small #recent_search_list h5,
.search_small .results-box h5 {
  margin: 0 0 12px;
}
.search_small .recent-search-inner li img {
  width: 60px;
  height: 60px;
}
.search_small .recent-search-inner ul li {
  margin-right: 15px;
  margin-bottom: 15px;
}
/**mini-search-end**/

/*============= Minicart css start ================*/
.right-media-cart .quantity {
  position: relative;
  width: auto;
  display: inline-block;
  height: 34px;
}
.right-media-cart input[type="number"]::-webkit-inner-spin-button,
.right-media-cart input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.right-media-cart input[type="number"] {
  -moz-appearance: textfield;
}
.right-media-cart .quantity input {
  width: 100px;
  height: 34px;
  font-size: 13px;
  padding: 2px 25px;
}
.right-media-cart h6 {
  font-weight: var(--font-semibold);
    }
#mini__cartForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
}
.mini_cart .bottom-cart-box ul {
  padding: 10px 0px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mini_cart .bottom-cart-box ul li {
  font-size: 15px;
  line-height: 22px;
  display: flex;
  letter-spacing: -.4px;
  color: var(--black);
    margin-top: 10px;
    }
.mini_cart .bottom-cart-box ul li strong{
  margin-left:auto;
}
.coupanName {
  margin-left: 10px;
  font-size: 12px;
  color: var(--dark-gray);
    }
.coupanName i {
  font-size:11px;
}
.mini_cart .bottom-cart-box ul .coupanName strong {
  font-size: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-size: 11px;
  background-color: #e61e1e0d;
  padding: 0px 6px;
  color: var(--theme-color);
    }
.mini_cart .bottom-cart-box .cart-btn-container {
  margin: 10px 0 0;
  display: flex;
  flex-direction: column;
}
.mini_cart  .disabled.media-link {
  opacity: 0.5;
  pointer-events: none;
}
.cart-btn-container .button {
  margin-bottom: 10px;
}
.shopping_cont {
  text-align: center;
  font-size: var(--extra-small);
    color: var(--black);
      text-transform: uppercase;
      letter-spacing: 1.8px;
      border-bottom: 1px solid #a3a3a3;
      display: table;
      margin: 0 auto;
      line-height: 1.2;
      margin-top: 8px;
      margin-bottom: 0px;
      }
.shopping_cont:hover {
  color: var(--theme-color);
    border-color: var(--theme-color);
      }
.mini_cart .cart__contents {
  padding: 0 20px 0;
}
.cart-poroduct-container {
  height: calc(100% - 55px);
  overflow-y:auto;
}
.cart-item-container {
  padding: 0 20px 0;
  height: calc(100% - 230px);
}
.cart-items-wrapper {
  display: block;
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
  padding-right: 20px;
}
#mini__cart .emptySideCart p {
  margin-bottom: 15px;
}

#mini__cart .emptySideCart {
  text-align: center;
  padding:  10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#mini__cart .link {
    font-size: 16px;
    color: var(--black);
}
.emptyCartIcon {
  margin-left: -20px;
  max-width: 70px;
  text-align: center;
  margin-bottom: 10px;
  background-color:transparent;
  opacity:0.4;
}
/**END Minicart**/
.product-add-to-cart-right .form-group .btn-box button:hover {
  border-color: var(--black);
    }
/**Header-menu-end**/

@media only screen and (min-width: 992px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
  .header_3 .navbar-toggler {
    display: block;
  }
}
/**progress-bar**/
.progress {
  height: 9px;
  margin-bottom: 11px;
  overflow: hidden;
  background-color: #e9e9e9;
  border-radius: 20px;
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ffb323;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* width */
.cart-items-wrapper::-webkit-scrollbar,
#dropdown-customer::-webkit-scrollbar,
#mini__cart::-webkit-scrollbar,
#similar__product::-webkit-scrollbar,
.quick_view::-webkit-scrollbar,
.side-menu::-webkit-scrollbar,
.side-menu .inner-side .nav-item.dropdown ul.child::-webkit-scrollbar,
.side-menu .inner-side .nav-item.dropdown ul.grandchild::-webkit-scrollbar,
#similar__product .similar__product__list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.cart-items-wrapper::-webkit-scrollbar-track,
#dropdown-customer::-webkit-scrollbar-track,
#mini__cart::-webkit-scrollbar-track,
#similar__product::-webkit-scrollbar-track,
.quick_view::-webkit-scrollbar-track,
.side-menu::-webkit-scrollbar-track,
.side-menu .inner-side .nav-item.dropdown ul.child::-webkit-scrollbar-track,
.side-menu
.inner-side
.nav-item.dropdown
ul.grandchild::-webkit-scrollbar-track,
#similar__product .similar__product__list::-webkit-scrollbar-track {
  background: var(--gray);
    }

/* Handle */
.cart-items-wrapper::-webkit-scrollbar-thumb,
#dropdown-customer::-webkit-scrollbar-thumb,
#mini__cart::-webkit-scrollbar-thumb,
#similar__product::-webkit-scrollbar-thumb,
.quick_view::-webkit-scrollbar-thumb,
.side-menu::-webkit-scrollbar-thumb,
.side-menu .inner-side .nav-item.dropdown ul.child::-webkit-scrollbar-thumb,
.side-menu
.inner-side
.nav-item.dropdown
ul.grandchild::-webkit-scrollbar-thumb,
#similar__product .similar__product__list::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
    }

/* Handle on hover */
.cart-items-wrapper::-webkit-scrollbar-thumb:hover,
#dropdown-customer::-webkit-scrollbar-thumb:hover,
#mini__cart::-webkit-scrollbar-thumb:hover,
#similar__product::-webkit-scrollbar-thumb:hover,
.quick_view::-webkit-scrollbar-thumb:hover,
.side-menu::-webkit-scrollbar-thumb:hover,
.side-menu
.inner-side
.nav-item.dropdown
ul.child::-webkit-scrollbar-thumb:hover,
.side-menu
.inner-side
.nav-item.dropdown
ul.grandchild::-webkit-scrollbar-thumb:hover,
#similar__product .similar__product__list::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
    }
/**End progress-bar**/
/* header menu */
/* header responsive  */
@media screen and (max-width:1440px){
  .header__icons>div {
    margin-left: 20px;
  }
  .navbar-nav {
    max-width: 90%;
  }
  .nav-item .list-menu__item {
    padding: 13px 10px;
    font-size: 14px;
    line-height: 30px;
    margin: 0 5px;
  }
}
@media screen and (max-width:1199px){
  .currency-block .dropdown-toggle {
    min-width: 80px;
  }
}
@media screen and (max-width:991px){
  .navbar-nav {
    display: none;
  }
}