.slick-arrow  {
	cursor:pointer;
}
.text-left: {
	text-align:left;
}
.text-center {
	text-align:center;
}
.button.small-btn {
    min-width: auto;
    min-height: 17px;
    line-height: 1;
    padding: 8px 10px;
    font-size: 11px;
}
.button.med-btn{
    min-width: 140px;
    padding: 5px 20px;
    min-height: 26px;
    line-height: 26px;
}
/* ============== collection list section css start ============ */
.collection-list-section {
	padding:100px 0;
}
.yv-collection-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.yv-collections-text-outer {
    max-width:31%;
    flex:0 0 31%
}
.yv-collections-text {
    margin: 0px 0 0 20%;
    padding: 0 30px 0 0;
}
.yv-collections-subtitle {
    margin-bottom: 25px;
    color: var(--theme-color);
}
.yv-collections-title {
	color: #0c0c0c;
  	font-size:51px;
    margin-bottom:20px;
}
.yv-collections-desc {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 20px;
    padding-right: 30px;
}
.yv-collection-slider {
    max-width:69%;
    flex:0 0 69%
}
.yv-collection-item {
    height: 530px;
    overflow: hidden;
    background-color: #f1e2ce;
    display: flex;
    align-items: center;
    width: 100%;
    position:relative;
}
.yv-collection-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.yv-collection-name {
    position: absolute;
    bottom: 3%;
    left: 5%;
    width: 90%;
    background-color: #fff;
    padding: 12px 15px;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
}
.yv-collection-name h4{
    color: #0c0c0c;
    text-align:center;
}
.yv-collection-slider .slick-slide {
    transition: all .4s ease-in-out;
    margin: 20px;
}
.yv-collection-slider.slick-slide,
.yv-collection-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
    transform: scale(1, 1);
    transition: all 0.4s ease-in-out;
}
.yv-collection-slider .slick-center,
.yv-collection-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"],
.yv-collection-slider .slick-current.slick-active {
  	transform: scale(1.1);  	
}
.yv-collection-slider .slick-arrow {
    position: absolute;
    top: calc(50% - 25px);
    z-index: 2;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #fff;
  	box-shadow: 0 2px 2px 1px #0000001f;
}
.yv-collection-slider .slick-arrow span {
    height: 100%;
    display: flex;
    align-items: center;
}
.yv-collection-slider .slick-next{
  	right: 30px;
}
.yv-collection-slider .slick-prev{
  	left: 30px;
}
/* ============== collection list section css end ============ */
/*=============== collection Product css start ===============*/
.yv-tabs {
    display: flex;
    justify-content: center;
  margin-bottom:15px;
}
.yv-tabs.align-end {
  	justify-content: flex-end;
}
.yv-tab-link {
    display: inline-block;
    font-size: 13px;
    color: #585858;
    padding: 11px 15px;
    position: relative;
    border: 2px solid #f1e8e4;
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 1;
    min-width: 125px;
    text-align: center;
}
.yv-tab-item.active .yv-tab-link {
    background-color: #f4f3ec;
  	border-color:#f4f3ec;
}
.yv-tab-content {
  	padding:20px 0;
}
.collection-product-section {
	padding:90px 0;
}
.yv-featured-product-grid .row {
    margin: 0 -2px;
}
.yv-featured-product-grid .col-6 {
    padding:0 2px;
}
.yv-product-card-img {
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-bottom: 10px;
}
.yv-product-img{
    display: block;
    width: 100%;
    height: 100%;
}
.yv-product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.yv-product-img .product-second-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.yv-product-card-img:hover .yv-product-img .product-second-img {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
}
.yv-product-title {
    display:block;
    font-size:14px;
    color:#585858;
    margin-bottom:5px;
}
.yv-product-information .ratingbox {
	margin-bottom:8px;
}
.yv-product-information .ratingbox .spr-badge {
  	margin-bottom:0;
}
.yv-product-information .ratingbox .spr-badge-caption {
    display: none;
}
.yv-product-information .yv-prizebox {
    margin-bottom: 0;
}
.yv-product-information .yv-prizebox span {
    margin-right: 7px;
  	font-size:14px;
}
.yv-product-information .yv-prizebox .yv-product-price {
    color: var(--theme-color);
    font-weight: bold;
}
.yv-product-badge {
    top: 10px;
    left: 10px;
    padding: 6px 16px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    z-index: 1;
    background: #fff;
    letter-spacing: 0;
    color: #585858;
}
.similar_options {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}
.similar_options .vs-icon {
    width: 36px;
    height: 36px;
    background: var(--white);
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    position: relative;
    transition: .3s ease;
    overflow: hidden;
    padding: 0 10px;
    color:var(--theme-color);
    box-shadow: 0 2px 2px 1px rgb(0 0 0 / 12%);
}
.similar_options svg {
    fill: var(--theme-color);
    min-width: 17px;
    max-width: 17px;
}
.similar-text {
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    max-width: 0;
    transition: all 0.1s linear;
}
.yv-product-options {
    display: flex;
  	width:100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
  	transform:translateY(100%);
    transition: all .2s linear;
    justify-content: center;
}
.yv-product-options li a{
    background: var(--white);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
}
.yv-product-card-img:hover .yv-product-options{
	transform:translateY(0%);
  	bottom:20px;
}
.yv-product-options li a svg {
	width:19px;
}
.yv-collection-product-grid .slick-slide {
	margin:0 7px;
}
.yv-collection-product-grid .slick-arrow {
    position: absolute;
    top: calc(50% - 50px);
    z-index: 2;
  	background-color:transparent;
    display: flex;
    align-items: center;
  	color: #a3a3a1;
  	font-size:14px;
  	min-width:70px;
    justify-content: flex-end;
}
.yv-collection-product-grid .slick-arrow:hover,
.yv-collection-product-grid .slick-arrow:focus{
	color: #0c0c0c;
}
.yv-collection-product-grid .slick-arrow svg {
	margin:0 10px;
}
.yv-collection-product-grid .slick-next {
    right: -90px;
}
.yv-collection-product-grid .slick-prev{
  	left: -90px;
}
.slick-arrow.slick-disabled {
    opacity: 0.3;
}
/*========= collection Product section css end =======*/
/*========== about theme section css start ========*/
section.about-theme-section.shopify-section {
    padding: 40px 0;
}
.about-left-content {
    padding-right: 50px;
}
.about-left-subtitle {
    text-transform:uppercase;
    color: #0c0c0c;
    margin-bottom:20px;
}
.about-left-title {
    font-size: 55px;
    margin-bottom: 30px;
    letter-spacing: -2.1px;
}
.about-left-desc p, .about-left-desc {
	font-size:16px;
  	line-height:26px;
    margin-bottom:20px;
}
.about-left-imgbox-container {
    padding: 0% 8% 38% 6%;
    position: relative;
}
.about-left-imgbox {
    position: relative;
    width: 100%;
    max-width: 412px;
}
.about-left-img {
    overflow: hidden;
    border-radius: 10px;
  	position:absolute;
  	cursor:pointer;
}
.about-left-img.img1 {
    width: 412px;
    position: static;
    height: 425px;
}
.about-left-img.img2 {
    width: 323px;
    height: 328px;
    bottom: -26%;
    right: -90%;
}
.about-left-img.img3 {
    width: 310px;
    height: 318px;
    left: 48%;
    top: 86%;
}
.about-left-img.active {
    z-index: 1;
}
.black-btn {
	background-color:#000;
  	border-color:#000;
}
.mt-3 {
	margin-top:30px;
}
/*========== about theme section css start ===========*/

/*========== featured Product section css start here =============*/
.featured-product-section {
	background-color: #f8f3eb;
  padding:90px 0
}
.yv-feature-product-image {
    border: 10px solid #fff;
    height: 760px;
    position: relative;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
}
.yv-feature-product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.yv-feature-product-detail {
    height: 94%;
  	width:97%;
    background-color: #fff;
    transform: translateY(3%);
  	padding:50px;
}
.yv-product-detail-title {
	margin-bottom:15px;
}
.yv-product-detail-title a{
    color: #0c0c0c;
}
.ratingbox {
    margin-bottom: 20px;
}
.ratingbox .spr-badge {
    align-items: flex-end;
}
.ratingbox .spr-badge-caption {
    font-size: 13px;
    line-height: 1;
  	padding-left:5px;
}
.ratingbox .spr-badge-starrating .spr-icon {
    color: #0c0c0c;
  font-size:11px;
}
.yv-prizebox {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.yv-prizebox span {
  	margin-right: 12px;
}
.yv-product-price {
    font-size: 30px;
}
.yv-product-compare-price {
    font-size: 22px;
  	text-decoration:line-through;
}
.yv-product-percent-off {
	font-size:18px;
    color: var(--colorTextSavings);
}
.yv-product-unit-price {
  	margin-top: 5px;
}
.product-option-selector {
  margin-bottom: 15px;
}
.yv-variant-title {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    color: #000000;
    margin-bottom: 6px;
}
.yv-product-detail-desc {
    font-size: 14px;
    line-height: 24px;
    color: #a8a8a8;
  	margin-bottom:25px;
}
.product-loop-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.variant_option,
.sellingPlanHeading {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
  position: relative;
}
.product-loop-variants .option {
    font-size: 14px;
    color: #0c0c0c;
    text-align: center;
    display: inline-block;
    padding: 12px 9px;
    min-width: 50px;
    min-height: 48px;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
}
.product-loop-variants .color_option .option{
    padding: 0;
    min-width: 25px;
    min-height: 25px;
    border: 1px solid #eee;
    box-shadow:none;
}
.product-loop-variants.circle .option {
	border-radius:100%;
}
.product-loop-variants .variant_option img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-loop-variants .variant_option input,
.sellingPlanHeading input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.product-loop-variants .variant_option input:checked+.option {
  background-color: #efe5da;
  border-color:transparent;
}
.product-loop-variants .variant_option.color_option  input:checked+.option {
    border: 2px solid #fff;
  outline: 2px solid #d6d6d6;
}
.yv-product-quantity {
  	margin-bottom: 20px;
}
.quantity {
    position: relative;
    width: 100%;
    display: block;
    max-width: 160px;
    height: 47px;
}
.quantity input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2px 35px;
    border: 1px solid #d6d6d6;
    text-align: center;
    border-radius: 0;
    font-family: var(--font-family);
    color: #0c0c0c;
    font-size: 16px;
}
.quantity input[type="number"]::-webkit-inner-spin-button,
.quantity input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.quantity-button {
  cursor: pointer;
  color: var(--black);
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 2px 7px;
    top: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 40px;
    justify-content: center;
    }
.quantity-button.quantity-up {
  right: 0;
}
.quantity-button.quantity-down {
  left: 0;
}
.yv-checkout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shopify-payment-button__button:hover {
  background-color: transparent;
}
.add_to_cart.button, .shopify-payment-button {
    max-width: 47.3%;
    flex: 0 0 47.3%;
    margin: 15px 13px 0 0;
}
.yv-feature-product-detail .add_to_cart.button {
  	background-color: #000;
  	border-color: #000;
}
.yv-feature-product-detail .shopify-payment-button button,
.yv-feature-product-detail .shopify-payment-button button:hover{
	background-color: #efe5da;
  	border-color: #efe5da;
    color: #000;
}
.shopify-payment-button__button {
  min-width: 208px;
  padding: 9px 20px;
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 0;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: var(--font-family);
  position: relative;
  overflow: hidden;
}
.featured-product-img-text {
    position: absolute;
    background-color: #fff;
    left: 0;
  	top:0;
    width: 30px;
    height: 100%;
}
.featured-product-img-text {
    position: absolute;
    background-color: #fff;
    left: -76px;
    top: -10px;
    width: 76px;
  max-height:585px;
    writing-mode: vertical-lr;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 33px 0;
    text-orientation: upright;
}
.featured-product-img-text h3 {
    color: #000;
    letter-spacing: 8px;
    margin: 0;
    text-transform: uppercase;
}
/*========== featured Product section css end here =============*/
/*============== new arrival section css start here ============*/
.new-arrival-section {
	padding:110px 0;
}
.yv-new-arriavl-imgbox {
    height: 740px;
    position: relative;
}
.yv-new-arriavl-imgbox img {
    position:relative;
    width:100%;
    height:100%;
    object-fit:cover;
}
.yv-new-arriavl-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    color: #fff;
      background: linear-gradient(0deg,rgba(0,0,0,.8211659663865546) 0%,rgba(0,0,0,0) 100%);
}
.yv-new-arriavl-content h2 {
	margin-bottom:10px;
    color: #fff;
}
.yv-new-arriavl-content p {
	margin-bottom:0;
  	font-size:20px;
}
.yv-new-arrival-slider-header {
    padding: 0 55px;
    max-width: 70%;
}
.heading-subtitle {   
  	text-transform: uppercase;
    color: #0c0c0c;
    margin-bottom: 10px;
}
.heading-title {
    font-size: 55px;
    margin-bottom: 30px;
    letter-spacing: -2.1px;
}
.sm-product-card .yv-product-card-img {
	height:388px;
      box-shadow: 1px 1px 2px #00000026;
}
.yv-new-arriavl-slider {
    background-color: #fff;
    padding: 23px 0 23px 16px;
    margin-left: -100px;
}
.yv-new-arriavl-slider .slick-slide {
    margin: 0 7px;
}
.yv-new-arriavl-slider .slick-arrow {
    position: absolute;
    top: -20px;
    z-index: 2;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #a3a3a1;
    font-size: 14px;
}
.yv-new-arriavl-slider .slick-arrow:hover, 
.yv-new-arriavl-slider .slick-arrow:focus {
	color:#0c0c0c;
}
.yv-new-arriavl-slider .slick-prev{
  right:65px
}
.yv-new-arriavl-slider .slick-next {
  right:7px
}
/*============== new arrival section css end here ============*/

/*===============testimonial section css start=============*/
.testimonial-section {
  padding:55px 0 80px;
  background-color: #f8f3eb;
}
.yv-testimonail-text-outer {
    height: 520px;
    background-color: #fff;
  	position:relative;
  box-shadow: 0 2px 2px #00000026;
}
.yv-testimonail-text-outer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(14px, 14px);
}
.yv-testimonail-text {
    background-color: #fff;
    position: absolute;
    right: -50px;
    bottom: -28px;
    display: inline-block;
  	padding: 25px 35px;
    box-shadow: 0 2px 2px #00000026;
}
.yv-testimonail-img {
  	margin-bottom:40px
}
.yv-testimonail-title {
    margin-bottom: 10px;
    max-width: 88%;
}
.yv-testimonail-desc {
    font-size: 16px;
    line-height: 22px;
}
.yv-testimonial-slider {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.yv-testimonial-slide {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}
.yv-testimonial-feature-text {
    display: inline-block;
    color: #0c0c0c;
    margin-bottom: 30px;
}
.yv-testimonial-reviews {
    display:flex;
    justify-content:center;
    margin-bottom: 20px;
}
.yv-testimonial-reviews svg {
    width: 16px;
    margin-right: 5px;
}
.yv-testimonial-review {
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.5px;
    margin-bottom: 35px;
}
.yv-testimonial-author {
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yv-testimonial-author .author-img {
	width: 46px;
    height: 46px;
    border-radius: 100%;
  	overflow:hidden;
    background-color: #0c0c0c;
}
.yv-testimonial-author p{
  font-size: 16px;
  padding-left: 10px;
  margin-bottom:0;
  
}
.yv-testimonial-slider .slick-arrow {
  position: absolute;
  bottom: -30px;
  background-color:transparent;
  color: #7b7a77;
}
.yv-testimonial-slider .slick-arrow:hover {
  color: #0c0c0c;
}
.yv-testimonial-slider .slick-prev {
  right:50px
}
.yv-testimonial-slider .slick-next {
  right:0px;
}
/*===============testimonial section css end=============*/

/*========== featured blog section css start ==========*/
.featured-articles-section {
  	padding:85px 0;
}
.corner-view-all {
    position: absolute;
    font-size: 14px;
    background-color: #fff;
    border-radius: 20px;
    display: inline-block;
    right: 0;
    padding: 4px 24px;
    line-height: 1.3;
    bottom: 0;
}
.yv-blog-card.featured-blog{
    height: 500px;
  	position:relative;
}
.yv-blog-card-img {
  position:relative;
    height: 202px;
    overflow: hidden;
    background-color: var(--colorImageBg);
    display: flex;
    align-items: center;
    width: 100%;
    border: 4px solid #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 14%);
}
.featured-blog .yv-blog-card-img {
    height: 100%;
      border: 0;
    box-shadow: none;
}
.yv-blog-card-img img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    transition: 1s ease all;
}
.yv-blog-card-img:hover img {
    transform: scale(1.05);
}
.yv-blog-card-text {
    padding: 20px 0 0;
}
.featured-blog .yv-blog-card-text {
    position: absolute;
    bottom: 10px;
    background-color: #fff;
    left: 10px;
  	max-width:500px;
      padding: 27px 30px;
}
.yv-blog-date {
    display: inline-block;
    color: #0c0c0c;
    background-color: #f8f3eb;
    padding: 4px 18px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    margin: 0;
}
.featured-blog .yv-blog-date{
    position: absolute;
    top: 0;
  bottom:unset;
    left: 0;
}
.yv-blog-title {
    color: #0c0c0c;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    display: inline-block;
    font-family: var(--font-family);
      font-weight:bold;
    padding-bottom: 20px;
    margin-bottom:20px;
    position: relative;
}
.yv-blog-title:after {
    position: absolute;
    content: "";
    left: 0;
    width: 50%;
    background-color: #d7d3cc;
    height: 1px;
    bottom: 0;
}
.featured-blog .yv-blog-title {
   margin-bottom:10px;
  padding-bottom: 0;
       font-weight:normal;
}
.featured-blog .yv-blog-title:after {
	display:none;
}
.yv-blog-link {
    text-decoration: underline;
    text-underline-offset: 1px;
    opacity: 80%;
}
.yv-blog-desc {
  font-size:15px;
  font-weight:500;
	margin-bottom: 15px;
}
.small-blog-outer {
    padding-left: 15%;
}
.small-blog-outer .yv-blog-card {
	padding: 0 0 0 40px
}
/*========== featured blog section css start ==========*/
/*========== services columns section css start ===========*/
.services-column-section  {
	background-color:#f9f4f2;
}
.yv-service-item {
    text-align: center;
    padding: 20px;
}
.yv-service-item span {
  	max-width: 40px;
    margin-bottom: 10px;
    display: inline-block;
}
.yv-service-item p {
	font-size:15px;
  line-height:1;
}
/*========== services columns section css end ===========*/
/*========== Deal banner section css start ===========*/
.deal-banner-section {
	background-color:#f3ece6;
  	min-height:610px;
  	max-height:710px;
  	padding:80px 0;
}
.yv-deal-content {
    max-width: 710px;
    margin: 0 auto;
}
.yv-deal-banner-title {
	font-size:50px;
  	margin-bottom:20px;
}
.yv-deal-product {
    background-color: #fff;
    padding: 13px;
}
.yv-deal-product.big-deal-product {
    height: 100%;
}
.yv-deal-product.small-deal-product {
    display: flex;
  	margin-bottom:16px;
}
.yv-deal-product.small-deal-product:last-child {
  	margin-bottom:0;
}
.yv-deal-product-img {
    height: 154px;
    margin-bottom: 15px;
    background-color: #f4f3ec;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-deal-product .yv-deal-product-img {
    height: 125px;
    margin-right: 15px;
    min-width: 125px;
    max-width: 125px;
    margin-bottom: 0;
}
/* .yv-deal-product-img img {
	width:100%;
    height:100%;
    object-fit:contain;
} */
.yv-product-information.deal-product-information  .yv-prizebox {
    margin-bottom: 10px;
}
.yv-deal-product .yv-testimonial-reviews {
	justify-content:flex-start;
}
.yv-deal-product .yv-testimonial-reviews svg {
    width: 12px;
    margin-right: 3px;
}
.deal-counter-box {
	display:flex;
  	margin-bottom:30px;
}
.center-countdown {
  	justify-content:center;
}
.deal-counter {
    background-color: #fff;
    text-transform: uppercase;
    padding: 11px 15px;
    line-height: 1;
    font-size: 14px;
    margin: 0 4px;
    font-weight: bold;
    border-radius: 3px;
    min-width: 50px;
    text-align: center;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 18%);
}
.yv-deal-view-button {
	margin-top:40px;
  	text-align:center;
}
.yv-deal-offer {
    font-size: 160px;
    line-height: 1;
}
.yv-deal-offer span {
	font-size:50%;
}
.yv-deal-offer-text {
	font-size:16px;
  	text-transform:uppercase;
  margin-bottom:15px;
}
.left-side-deal .deal-counter-box {
	margin-bottom:0;
}
.yv-deal-right-detail {
	display:flex;
  align-items:center;
}
.yv-deal-right-detail  .yv-deal-product{
    width: 100%;
    max-width: 290px;
  box-shadow:0 0 7px rgb(0 0 0 / 15%)
}
.yv-deal-product-slider {
    width: 560px;
  	height:500px;
    padding: 5px;
    background-color: #fff;
}
.yv-deal-product-slider-item {
    height: 100%;
}
.yv-deal-product-slider-item img {
	width:100%;
  	height:100%;
    object-fit:cover;
}