.newsletter-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    content: '';
    z-index: 11; 
}
.newsletter-popup .newsletter-popup-inner {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 700px;
    margin: 0px auto;
    vertical-align: middle;
    background: var(--white);
    z-index: 999999999;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex; 
}
.newsletter-popup .popup-body {
    margin: 0;
    justify-content: space-between;		
}
.newsletter-popup .popup-body .col-md-6, .newsletter-popup .popup-body .col-md-6, .newsletter-popup .popup-body .col-md-12, .newsletter-popup .popup-body .col-md-12 {
	padding: 0;
}
.newsletter-popup .newsletter-popup-inner .popclose {
    position: absolute;
    top: -14px;
    right: -14px;
    opacity: 1;
    background-color: var(--black);
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 37px;
    z-index: 1050;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    text-shadow: none; 
}
.newsletter-popup .newsletter-popup-inner .popclose:hover {
  	opacity: 1; 
}
.newsletter-popup .newsletter-popup-inner .popclose svg {
  	fill: var(--white); 
}
.newsletter-popup .newsletter-popup-inner .popup-body .news-img img {
    max-width: 100%;
    width: 100%;
    height: 420px;
    object-fit: cover;
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content {
    padding: 30px 35px;
    position: relative;
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount h2 {
    color: var(--black);
    text-transform: uppercase;
    font-weight: var(--bold);
    margin-bottom:10px;
}      
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount strong {
    color: var(--black);
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    margin: 15px 0 5px 0;
    font-weight: var(--bold);
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount h6 {
    color: #15161d;
    opacity: 1;
    font-size: 23px;
    line-height: 22px;
    font-weight: 600; 
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount p {
    color: var(--black);
    font-size: 15px;
    line-height: 22px;
    font-weight: var(--normal);
    margin: 0 0 30px 0;
    letter-spacing:-0.2px;
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount p b{
    margin-right: 5px
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content form#contact-form-popup {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    max-width: 400px;
    width: 100%; 
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content form#contact-form-popup .input-news-letter {
    max-width: 436px;
    width: 100%;
    margin: 0px; 
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content form#contact-form-popup .input-news-letter .errors {
    position: absolute;
    bottom: -19px;
    color: #f51322;
    font-size: 11px;
    font-weight: 500; 
}
.newsletter-popup .newsletter-popup-inner .popup-body .nl-content form#contact-form-popup .input-news-letter .errors ul {
  	list-style: none; 
}
.newsletter-popup .form-group {
    margin-bottom: 10px;
}
.newsletter-popup .close_dialog {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 13px;
  	line-height:18px;
    padding-bottom: 0;
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--gray);
}
.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--black);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 13px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media (max-width: 1024px) {
  .newsletter-popup .newsletter-popup-inner .popclose {
    line-height: 32px; 
  }
}
@media (max-width: 991px) {
  .newsletter-popup .newsletter-popup-inner {
    max-width: 650px; 
  }
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount h6 {
    font-size: 18px; 
  }
}
@media (max-width: 767px) {
  .newsletter-popup .newsletter-popup-inner {
    max-width: 480px;
    border-radius: 0;
    padding: 0; 
  }
  .newsletter-popup .newsletter-popup-inner .popclose {
    width: 30px;
    height: 30px;
    line-height: 29px;
    top: -8px;
    right: -8px; 
  } 
  .newsletter-popup .newsletter-popup-inner .popup-body .news-img {
    max-height: 190px;
    overflow: hidden; 
  }
   .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount {
    padding: 0 0 10px 0; 
  }
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount h2 {
    font-size: 16px;
    display: inline-block;
    width: auto; 
  } 
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount strong {
    margin: 4x 0px;
    display: inline-block;
    font-size: 20px; 
  }
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount h6 {
    font-size: 15px; 
  } 
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount p {
    font-size: 13px;
    margin: 7px 0 6px 0; 
  }
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount .newsDescription {
    display: none; 
  } 
}
@media (max-width: 480px) {
  .newsletter-popup .newsletter-popup-inner {
    max-width: 90%; 
  } 
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content form#contact-form-popup {
    max-width: 300px;
    padding: 0 20px; 
  }
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content form#contact-form-popup .input-news-letter input.enter-email {
    margin: 0px;
    width: 100%; 
  }
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content form#contact-form-popup .input-news-letter .input-group-append {
    width: 100%; 
  }
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content form#contact-form-popup .input-news-letter .input-group-append button {
    margin-top: 10px;
    width: 100%; 
  }
}
@media (min-width: 800px) and (max-width: 992px) {
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount p {
    font-size: 12px;
    margin: 10px 0px; 
  }
  .newsletter-popup .newsletter-popup-inner .popup-body .nl-content .discount strong {
    font-size: 51px;
    margin: 10px 0px; 
  } 
}