@media screen and (max-width:1368px){
    /* common  */ 
      h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .size_option .option {
        min-width: 32px;
        line-height: 28px;
    }
    .add_to_cart.button, .buy_now.button {
        line-height: 25px;
    }
    .product_button .shopify-payment-button__button {
        padding: 14px 12px;
    }
    .select__size, .select__color {
        margin-bottom: 20px;
    }
	/* whats more css start */
    .card-information__wrapper {
        width: 165px;
        padding: 20px;
    }
    .grid__item .card-information__wrapper p strong {
        font-size: 20px;
    }
    .shopify__top__section .card-information__wrapper h5 {
        font-size: 15px;
        line-height: 20px;
    }
	/* whats more css end */
	/*  Blog responsive start */
  	.post-information__wrapper {
      	padding: 15px 20px 20px;
  	}
  	/*  Blog responsive end */
  	/*  testimonial responsive start */
  	.client-say-left h2 {
    	font-size: 32px;
	}
    .testimonial-variation2 .testimonial-client-slide .slider-item .slider-box {
        padding: 20px 15px;
    }
  	/*  testimonial responsive end */
  	/*  testimonial responsive start */
    .service__column .col {
        padding: 15px 22px;
        border-left: 1px solid #d0d0d0;
    }
}