@media screen and (max-width:1440px){
    /* common  */ 
    .top_page_title {
      padding: 60px 10px;
        min-height: 230px;
    }
    .top_page_title.no-bg {
        padding: 40px 10px;
        min-height: 110px;
    }
    .style2 .bigger-heading {
        font-size: 130px;
  	}
    h1 {
        font-size: 44px;
        line-height: 54px;
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
    }
    .shopify-section:not(.shopify-section-slider, .shopify-section-announcement-bar, .shopify-section-main-header, #shopify-section-footer, 
    .shopify-section-multicolumn-content, .collection-grid-section, .product-section.single__product, .contact-page-form-section) {
        padding-top: 55px;
    }
    .size_option .option {
        min-width: 32px;
        line-height: 28px;
    }
    .button {
        min-width: 165px;
    }
    .add_to_cart.button, .buy_now.button {
        line-height: 25px;
    }
    .product_button .shopify-payment-button__button,
  	.button {
        padding: 14px 12px;
    }
    .select__size, .select__color {
        margin-bottom: 20px;
    }
/*     .shopify__top__section h2 {
        margin-bottom: 15px;
    } */
    .form-control {
        padding: 8px 15px;
        min-height: 46px;
    }
    textarea.form-control {
        resize: none;
        min-height: 100px;
    }
	/* whats more css start */
    .card-information__wrapper {
        width: 165px;
        padding: 20px;
    }
    .grid__item .card-information__wrapper p strong {
        font-size: 20px;
    }
    .shopify__top__section .card-information__wrapper h5 {
        font-size: 15px;
        line-height: 18px;
    }
	/* whats more css end */
    /*  collection start  */
    .card__warpper__detail.right__sided .collection-detail-right {
      padding: 10px 25px;
    }
    .collection-detail-right h5 {
        font-size: 18px;
  	}
  	.card-wrapper .collection-detail { padding: 10px;}
    .collection-detail h4 {
        padding: 0px 0 10px;
    }
    /*  collection end  */
	/*  product listing start  */
    .product-loop-variants .color_option span {
        width: 19px;
        height: 19px;
    }
    .shop__options .product__view__option ul li {
        width: 30px;
        height: 30px;
    }
    .shop__options .product__view__option ul li svg {
        width: 14px;
    }
	/*  product listing end  */
/*  product detail start  */
    .product-add-to-cart-right .prizebox {
        margin: 0 0 10px;
    }
/*  product detail end  */
    /*  product sidebar start  */
    .similar_options .vs-icon {
      width: 26px;
      height: 26px;
    }
    .similar_options svg {
        width: 13px;
    }
    /*  product sidebar end   */
    /*  home banner start  */
    .banner-section .banner-caption-title.style2 h2.smaller-heading {
        font-size: 50px;
        line-height: 60px;
        padding: 5px 45px 5px 15px;
        margin: 10px 0 11px;
    }
    .banner-section .banner-caption-title.style2 h2.bigger-heading {
        font-size: 50px;
        line-height: 54px;
    }
    h1.smaller-heading {
        font-size: 40px;
    }

    /*  home banner end  */
	/*  Blog responsive start */
  	.post-information__wrapper {
      	padding: 15px 20px 20px;
  	}
  	/*  Blog responsive end */
  	/*  testimonial responsive start */
  	.client-say-left h2 {
    	font-size: 32px;
	}
    .testimonial-variation2 .testimonial-client-slide .slider-item .slider-box {
        padding: 20px 15px;
    }
  	/*  testimonial responsive end */
  	/*  testimonial responsive start */
    /*  footer start  */
    footer .grid__item .footer-innner-continer p {
      padding-right: 30px;
    }
    /*  footer end  */
    /*   faq start */
    .accordion-container .set {
      padding: 10px 20px;
    }
    .faq .panel-title a {
        font-size: 16px;
    }
    /*  faq end  */
    /*  contact css start  */
    .contact__us__section .tt-contact-info {
      padding: 25px 30px;
    }
    /*  contact css end  */
    /*  about css start  */
    .about-feature-box {
      padding: 30px;
    }
    /*  about css end  */
	/*  quick view start  */
    .cart-btn-container .button {
        padding: 12px 12px;
    }
	/*   quick view end */
	/*  mini cart start  */
    .mini_cart .bottom-cart-box ul li.totle-price {
        font-size: 24px;
    }
	/*  mini cart end  */
}
@media screen and (max-width:1199px){
	/*  common start  */
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2 {
        font-size: 21px;
        line-height: 24px;
    }
    h5 {
        font-size: 15px;
        line-height: 20px;
    }
    h6 {
        font-size: 15px;
    }
    .style2 .bigger-heading {
        font-size: 80px;
    }
    .shopify-section:not(.shopify-section-slider,.shopify-section-announcement-bar,.shopify-section-main-header,#shopify-section-footer,.shopify-section-multicolumn-content,.collection-grid-section,.product-section.single__product,.contact-page-form-section) {
        padding-top: 45px;
    }
    .product-loop-variants .color_option span {
        width: 17px;
        height: 17px;
    }
    .add_to_cart.button, .buy_now.button {
        line-height: 20px;
    }
    .button, .product_button .shopify-payment-button__button {
        padding: 12px 12px;
    }
	/*  common end  */
	/*  banner start */
    .banner-section .banner-caption-title.style2 h2.smaller-heading {
        font-size: 40px;
        line-height: 50px;
        padding: 5px 25px 5px 15px;
    }
    .banner-section .banner-caption-title.style2 h2.bigger-heading {
        font-size: 34px;
        line-height: 40px;
    }
	/*   banner end */
    /*  header start  */
    .navbar-nav {
        margin-left: 10px;
    }
    .navbar-expand-md .nav-item .list-menu__item {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 12px;
    }
    .navbar-nav .nav-item span.sf-menu__arrow {
        right: 0px;
    }
    /*  header end  */
    /*  Whats more start  */
    .category-section {
        padding: 45px 0 45px;
    }
    .card-information__wrapper {
      width: 135px;
      padding: 15px;
    }
    .grid__item .card-information__wrapper p {
        font-size: 13px;
    }
    .grid__item .card-information__wrapper p strong {
        font-size: 16px;
    }
    /*  whats more end  */
	/*  product listing home start  */
    .products-grid .column-5 .grid-item {
        flex: 0 0 25%;
        width: 25%;
    }
  	/*  product listing home end  */
	/*  collection css start  */
    .card__warpper__detail.right__sided .collection-detail-right {
        padding: 15px 20px;
    }
    .collection-detail-right h5 {
        font-size: 15px;
        line-height: 18px;
    }
  	.collection-detail-right small {
        margin-bottom: 10px;
      	font-size: var(--small-text);
        line-height: 17px;
    }
    .collection-detail h4 {
        padding: 0 0 5px;
    }
	/*  collection css end  */
	/*  featured-blog start  */
    .post-information__wrapper {
        padding: 15px 15px 15px;
    }
	/*  end  */
	/* testimonial start  */
    .shopify-section.testimonial {
        padding: 45px 0 45px;
    }
    .client-say-left {
        padding-right: 10px;
    }
    .client-say-left h2 {
        font-size: 27px;
      line-height: 30px;
    }
  	/* testimonial end  */
	/*  instagram post start  */
    .instagram-post {
        padding: 45px 0 45px;
    }
	/*  instagram post end  */
	/*  multicolumn css start  */
    .service__column .col {
        padding: 10px 15px;
    }
    .service__column .col>img {
        margin-right: 8px;
        max-width: 20px;
    }
    .service__column h6 {
        font-size: 12px;
        margin-bottom: 3px;
    }
    .service__column p {
        font-size: 12px;
    }
	/*  multicolumn css end  */
	/*  product detail css start  */
    .feature-product .product-image-left {
        padding-right: 10px;
    }
    .prizebox #get_price {
        font-size: 21px;
    }
    .product_button .pdp-action-container {
        width: 80%;
    }
    .prizebox .percent-off {
        font-size: 16px;
    }
    .size_option .option {
        min-width: 29px;
        line-height: 25px;
    }
    .product_button {
        padding: 22px 0 0px;
    }
    .select__quantity .quantity input {
        height: 40px;
    }
    .select__quantity .quantity-button {
        top: 14px;
    }
  	.prizebox #get_price .main-price {
      font-size: 17px;
      margin: 0 15px 0 15px;
	}
	/*  product detail css end  */
    /*  footer start  */
    footer {
        padding: 50px 0 15px;
    }
    footer .grid__item .footer-innner-continer p {
      padding-right: 0;
    }
    footer .grid__item p, footer ul li a {
        font-size: 13px;
        line-height: 19px;
    }
    footer .full__item h5 {
        font-size: 16px;
        margin-bottom: 22px;
        line-height: 16px;
    }
    .footer__content-top {
        padding-bottom: 45px;
    }
    .social-links ul li {
        width: 30px;
        height: 30px;
    }
    .social-links li a {
        font-size: 12px;
    }
    #ContactFooter #NewsletterForm--footer {
        padding: 10px 15px;
        min-height: 36px;
    }
    #ContactFooter #Subscribe {
        min-height: 39px;
    }
    .footer__content-bottom {
        padding: 29px 0 13px;
    }
    /*  footer end  */
    /*  about page start  */
    .about-best-choice {
        padding: 45px 0;
    }
    .content-heading.text-center {
        margin-bottom: 20px;
    }
    .about-feature-box {
        padding: 25px;
    }
    .about-feature-box .feature-icon {
      margin-bottom: 25px;
    }
    .about-feature-box p {
        font-size: 14px;
        padding: 0 10px;
    }
    /*  about page end  */
	/*  contact css tsart  */
    .contact__us__section .tt-contact-info {
        padding: 20px 20px;
    }
    .get_in_touch input.btn.button {
        padding: 15px 12px;
    }
	/*  contact css end  */
	/*  blog detail start  */
    .blog-detail-content {
        padding: 30px 25px;
    }
    .relatedBlogPosts {
        padding: 15px 20px;
    }
    .relatedBlogPosts .post-information__wrapper {
        padding: 15px 15px 15px;
    }
    .relatedBlogPosts .style1 .post-information__wrapper .post-name h6 a {
        line-height: 21px;
        font-size: 15px;
    }
	/*  blog detail end  */
	/*  product listing start */
    .product-content {
        max-width: 70%;
        flex: 0 0 70%;
        padding-top: 20px;
    }
    .shop-sidebar {
        max-width: 30%;
        flex: 0 0 30%;
        padding-right: 50px;
    }
	/*   product listing end */
  	/*  quick view start  */
    .quick_view {
      right: -650px;
      max-width: 650px;
    }
    .quick_view .quickviewcontent .prizebox #get_price {
        font-size: 19px;
    }
    .quick_view .quickviewcontent .feature__product .item {
        height: 350px;
    }
  	/*  quick view end  */
}
@media screen and (max-width:991px){
	/*  common csss start  */
    h1.smaller-heading {
        font-size: 30px;
    }
    h5 {
        font-size: 14px;
        line-height: 20px;
    }
    h4 {
        font-size: 16px;
        line-height: 20px;
    }
    .style2 .bigger-heading {
        font-size: 60px;
    }
    .button {
        min-width: 145px;
    }
    .button, .product_button .shopify-payment-button__button {
        padding: 12px 18px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-control {
        padding: 8px 10px;
        min-height: 40px;
    }
    .customer form {
        margin-top: 15px;
    }
	/*  common css end  */
	/* whats more cs start   */
    .card-information__wrapper {
        width: 100%;
        left: 0;
        bottom: -30px;
    }
    .shopify__top__section .card-information__wrapper h5 {
        margin-bottom: 0;
    }
    .category-section .card-wrapper {
        margin-bottom: 40px;
    }
    .card-information .card-information-image {
        border: 6px solid var(--white);
    }
  	/* whats more cs end   */
  	/*  product listing home start  */
    .products-grid .column-5 .grid-item {
        flex: 0 0 33.3%;
        width: 33.3%;
    }
    .latest__sale .card-wrapper-img {
        max-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  	/*  product listing home end  */
	/*  product detail start  */
    .feature-product .product-add-to-cart-right p.vendor_name {
        margin: 0 0 5px;
    }
    .prizebox #get_price {
        font-size: 18px;
    }
    .ratingbox .star-rating .fa-star {
        font-size: 12px;
    }
    .prizebox #get_price .main-price {
        font-size: 15px;
        margin: 0 10px 0 10px;
    }
    .select__quantity .quantity, .select__quantity .quantity input {
        height: 35px;
    }
    .select__quantity .quantity-button {
        top: 10px;
    }
    .size_option .option {
        min-width: 25px;
        line-height: 22px;
    }
    .size_option .option {
        font-size: 11px;
    }
  .select__quantity .quantity {
      max-width: 110px;
  }
	/*  product detail end  */
	/*  collection start */
    .card__warpper__detail.right__sided .collection-detail-right {
        padding: 10px 20px;
    }
  	.collection-detail-right small,
   	.collection-detail small{
        display:none;
	}
    .collection-detail-right h5 {
        font-size: 14px;
    }
	/*  collection end  */
    /* testimonial start */
/*   	.shopify-section.testimonial {
        padding: 35px 0 35px;
    } */
    .client-say-left {
        flex-direction: column;
        text-align: center;
        padding-bottom:20px;
    }
    .client-say-left h2 {
        font-size: 24px;
        line-height: 20px;
        margin: 6px 0 12px;
    }
    .client-say-left p {
        display: none;
    }
    .testimonial-variation2 .testimonial-client-slide .slider-item .slider-box p {
        line-height: 20px;
        letter-spacing: 0;
        font-size: 14px;
    }
    /*  testimonial end  */
	/*  feature blog start  */
    .post-information__wrapper .post-date .custom-title {
        font-size: 12px;
        line-height: 18px;
        padding: 2px 7px;
    }
    .style1 .post-wrapper {
        margin:0;
        box-shadow: none;
        border: 1px solid #dbdbdb;
    }
	/*  featured blog end  */
	/* banner css start   */
    .banner-section .item {
        height: 300px;
    }
    .banner-section .item img {
        height: 100%;
        object-fit: cover;
    }
    .carousel-caption .style2 h5.bottom-title {
        padding-bottom: 20px;
    }
    .button .fa-arrow-right {
        margin-left: 12px;
    }
    .button {
        font-size: 12px;
    }
    .banner-section .banner-caption-title.style2 h2.smaller-heading {
        font-size: 30px;
        line-height: 33px;
        padding: 5px 15px 5px 10px;
    }
    .banner-section .banner-caption-title.style2 h2.bigger-heading {
        font-size: 26px;
        line-height: 32px;
    }
    .banner-section .banner-caption-title.style2 .bottom-title {
        margin-bottom: 19px;
        margin-top: 5px;
    }
	/*  banner css end  */
/*  footer start  */
    footer .grid__item.newsletter-box p {
  	display:none;
  }
  .social-links ul li {
      width: 27px;
      height: 27px;
      margin-right: 8px;
  }
  footer .grid__item .footer-innner-continer p {
      padding-right: 80px;
      margin: 0px 0 5px;
  }
/*  footyer end  */
/*  multicolum start  */
  .service__column .col {
      padding: 0px 15px;
  }
  .service__column {
  	align-items:center;
  }
  .service__column p {
      font-size: 10px;
  }
  .service__column .col>img {
      height: 16px;
      margin-bottom: 10px;
  }
/*  end  */
}